.is-open-blockera-colors-navigation-override {

	&.blockera-cleanup-screen-styles {

		.edit-site-global-styles-screen {
			margin: 0 !important;
		}

		div[data-wp-component="Navigator.Screen"]:first-child:not(.blockera-colors-preset-inspector-active div[data-wp-component="Navigator.Screen"]:first-child) {

			> div:first-child {
				display: none;
			}
		}
	}

	.edit-site-global-styles-screen > div {

		& > *:nth-child(2) {
			display: none;
		}

		.blockera-block-inspector-controls-wrapper {

			div[data-wp-component="Navigator"] {

				> div:nth-child(2) {
					display: none;
					height: 0;
				}
			}
		}
	}

	.blockera-colors-preset-inspector-active {

		> *:not(.blockera-block-inspector-controls-wrapper) {
			display: none;
		}
	}
}
