
.blockera-block.blockera-block-1.wp-block-verse {
	background-color: #fadbdb;
	border: 3px solid #ff9292;
	border-radius: 10px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.blockera-block.blockera-block-1 .has-inline-color {
	background-color: #dfdfdf;
}

.blockera-block.blockera-block-1 :where(a:not(.wp-element-button)) {
	background-color: #ff0000;
}

.blockera-block.blockera-block-1 :is(strong, b) {
	background-color: #ff8400;
}

.blockera-block.blockera-block-1 :is(em, i) {
	background-color: #08ff00;
}

.blockera-block.blockera-block-1 kbd {
	background-color: #00fbff;
}

.blockera-block.blockera-block-1 code {
	background-color: #00aaff;
}

.blockera-block.blockera-block-1 span:not([data-rich-text-placeholder]) {
	background-color: #b269ff;
}

.blockera-block.blockera-block-1 :is(mark, mark[class]) {
	background-color: #ff64ff;
}

.blockera-block.blockera-block-1.wp-block-verse:hover {
	background-color: #ffa1a1;
}