
.blockera-block.blockera-block-1.wp-block-buttons {
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
	gap: 30px;
	text-transform: uppercase;
}

.blockera-block.blockera-block-1 .wp-block-button > .wp-element-button {
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
	background-color: #95aaff;
	color: #0023b1;
	border: 2px solid var(--wp--preset--color--accent-1, #FFEE58);
}

.blockera-block.blockera-block-1 .wp-block-button > .wp-element-button:hover {
	color: var(--wp--preset--color--accent-2, #F6CFF4);
	background-color: var(--wp--preset--color--accent-1, #FFEE58);
}

.blockera-block.blockera-block-2.wp-block-button .wp-block-button__link {
	background-color: #ffb8b8;
}