.blockera-block.blockera-block-1.wp-block-group {
	display: flex !important;
	flex-direction: column;
	gap: 30px;
	font-weight: 600;
	font-style: normal;
	font-size: 18px;
	line-height: 1.6;
}

.blockera-block.blockera-block-1.wp-block-group.is-layout-constrained > * + * {
	margin-block-start: 0 !important;
}

html:root body :where(.blockera-block.blockera-block-1) :where(p) {
	font-size: 16px;
	align-self: stretch;
	line-height: 2;
}

html:root body :where(.blockera-block.blockera-block-1) .wp-block-group {
	padding: 20px 20px 20px 20px;
	background-color: #fff5d6;
	gap: 20px;
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	width: stretch;
	display: flex !important;
	flex-direction: column;
	align-items: stretch !important;
	justify-content: flex-start !important;
}

html:root body :where(.blockera-block.blockera-block-1) :where(:is(h1, h2, h3, h4, h5, h6).wp-block-heading) {
	font-weight: 1000;
	font-style: normal;
	font-size: 20px;
	line-height: 2;
}

html:root body :where(.blockera-block.blockera-block-1) :is(strong, b) {
	font-weight: 1000;
	font-style: normal;
}

html:root body :where(.blockera-block.blockera-block-1) .wp-block-group.is-layout-constrained > * + * {
	margin-block-start: 0 !important;
}

p.blockera-block.blockera-block-3 {
	font-family: var(--wp--preset--font-family--fira-code);
}

p.blockera-block.blockera-block-4 {
	background-color: #00000017;
	padding: 20px 20px 20px 20px;
	font-family: var(--wp--preset--font-family--fira-code);
}

p.blockera-block.blockera-block-5 {
	font-weight: 700;
	font-style: normal;
}

p.blockera-block.blockera-block-6 {
	font-weight: 700;
	font-style: italic;
}

p.blockera-block.blockera-block-7 {
	font-size: 20px;
}

p.blockera-block.blockera-block-8 {
	font-size: 1.2rem;
}

p.blockera-block.blockera-block-9 {
	font-size: calc(18px);
}

p.blockera-block.blockera-block-10 {
	font-size: var(--wp--preset--font-size--large, 1.38rem);
}

p.blockera-block.blockera-block-11 {
	line-height: 2;
}

p.blockera-block.blockera-block-12 {
	line-height: 20px;
}

p.blockera-block.blockera-block-13 {
	line-height: calc(20px);
}

p.blockera-block.blockera-block-14 {
	color: #ff0000;
}

html:root body :where(.blockera-block.blockera-block-14) a:not(.wp-element-button) {
	color: #ff0000;
}

p.blockera-block.blockera-block-15 {
	color: var(--wp--preset--color--accent-3, #503AA8);
}

html:root body :where(.blockera-block.blockera-block-15) a:not(.wp-element-button) {
	color: var(--wp--preset--color--accent-3, #503AA8);
}

p.blockera-block.blockera-block-16 {
	text-shadow: 1px 1px 1px #ff0000;
}

p.blockera-block.blockera-block-17 {
	text-shadow: 3px 3px 1px var(--wp--preset--color--accent-3, #503AA8);
}

p.blockera-block.blockera-block-18 {
	text-shadow: 5px -3px 0 #53b100, -2px 4px 4px var(--wp--preset--color--accent-3, #503AA8);
}

p.blockera-block.blockera-block-19 {
	text-align: right;
}

p.blockera-block.blockera-block-20 {
	text-align: center;
}

p.blockera-block.blockera-block-21 {
	text-align: left;
}

p.blockera-block.blockera-block-22 {
	text-transform: uppercase;
}

p.blockera-block.blockera-block-23 {
	text-transform: lowercase;
}

p.blockera-block.blockera-block-24 {
	text-decoration: overline;
}

p.blockera-block.blockera-block-25 {
	text-decoration: underline;
}

p.blockera-block.blockera-block-26 {
	text-decoration: line-through;
}

p.blockera-block.blockera-block-27 {
	direction: rtl;
}

p.blockera-block.blockera-block-28 {
	direction: ltr;
}

p.blockera-block.blockera-block-29 {
	writing-mode: vertical-lr;
	text-orientation: mixed;
}

p.blockera-block.blockera-block-30 {
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

p.blockera-block.blockera-block-31 {
	writing-mode: vertical-lr;
	text-orientation: upright;
}

p.blockera-block.blockera-block-32 {
	writing-mode: vertical-rl;
	text-orientation: upright;
}

p.blockera-block.blockera-block-33 {
	letter-spacing: 10px;
}

p.blockera-block.blockera-block-34 {
	word-spacing: 40px;
}

p.blockera-block.blockera-block-35 {
	text-indent: 20px;
}

p.blockera-block.blockera-block-36 {
	column-count: 2;
	column-gap: 20px;
}

@media screen and (max-width: 478px) and (min-width: 0px) {
	p.blockera-block.blockera-block-36 {
		column-count: initial;
	}

}

p.blockera-block.blockera-block-37 {
	column-count: 3;
	column-gap: 2.5rem;
	column-rule-color: #ffd6d6;
	column-rule-style: solid;
	column-rule-width: 2px;
}

@media screen and (max-width: 478px) and (min-width: 0px) {
	p.blockera-block.blockera-block-37 {
		column-count: initial;
	}

}

p.blockera-block.blockera-block-38 {
	column-count: 5;
	column-gap: 20px;
	column-rule-color: #ffb4b4;
	column-rule-style: dashed;
	column-rule-width: 1px;
}

@media screen and (max-width: 478px) and (min-width: 0px) {
	p.blockera-block.blockera-block-38 {
		column-count: initial;
	}

}

p.blockera-block.blockera-block-39 {
	-webkit-text-stroke-color: #fe3d3d;
	text-stroke-color: #fe3d3d;
	-webkit-text-stroke-width: 2px;
	text-stroke-width: 2px;
}

p.blockera-block.blockera-block-40 {
	text-wrap: pretty;
}

p.blockera-block.blockera-block-41 {
	text-wrap: balance;
}

p.blockera-block.blockera-block-42 {
	word-break: break-all;
}

p.blockera-block.blockera-block-43 {
	word-break: keep-all;
}

p.blockera-block.blockera-block-bcil723 {
	background-color: #ffbebe;
	padding: 0 0 0 0;
	line-height: var(--wp--preset--line-height--line-height-1, 3);
}