
:root {
	--blockera-value-addon-var-color: #009e10;
	--blockera-value-addon-var-border-color: #75bf7c;
	--blockera-value-addon-var-color-darker-20: #00800d;
	--blockera-value-addon-var-bg-color: #f3faf4;
	--blockera-value-addon-deleted-color: #ff5454;
	--blockera-value-addon-deleted-border-color: #ff9b9b;
	--blockera-value-addon-deleted-color-darker-20: #dc4444;
	--blockera-value-addon-deleted-bg-color: #fff6f6;
	--blockera-value-addon-dv-color: #7405ff;
	--blockera-value-addon-dv-border-color: #a761ff;
	--blockera-value-addon-dv-color-darker-20: #5f00da;
	--blockera-value-addon-dv-bg-color: #f1e7ff;
}

.blockera-control.blockera-control-value-addon-pointers {
	position: absolute;
	top: -11px;
	right: -11px;
	z-index: 1;
	width: 100px;
	pointer-events: none;
	direction: revert;
	text-align: right;

	&.active-addon-pointers {

		.blockera-control-value-addon-pointer:not(.open-value-addon):not(.active-value-addon) {
			width: 0;
			height: 0;
			visibility: hidden;
			transition: all 1.15s ease;
 		}
	}

	.blockera-control-value-addon-pointer {
		width: 22px;
		height: 22px;
		border-radius: 50%;
		color: #ffffff;
		box-sizing: content-box;
		cursor: pointer;
		transition: all 0.15s cubic-bezier(1, 0.76, 0, 0.89);
		transform: scale(0.3);
		order: 10;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		pointer-events: all;

		svg {
			width: 16px;
			height: 16px;
			fill: transparent;
			border-radius: 50%;
			transition: all 0.15s cubic-bezier(1, 0.76, 0, 0.89);
		}

		.blockera-control-remove-icon {
			display: none;
		}

		&.open-value-addon,
		&.active-value-addon {
			transform: scale3d(1, 1, 1);
			order: 1;

			svg {
				fill: currentColor;
			}

			&:hover {

				.blockera-control-dv-pointer-icon,
				.blockera-control-var-pointer-icon {
					display: none;
				}

				.blockera-control-remove-icon {
					display: block;
				}
			}
		}

		&.open-value-addon {
			transform: scale3d(1.25, 1.25, 1.25) !important;
		}

		&.var-pointer {

			svg {
				background-color: var(--blockera-value-addon-var-color);
			}

			&:hover {
				transform: scale3d(1.25, 1.25, 1.25) rotate(180deg) !important;

				svg {
					fill: currentColor;
				}
			}

			&:hover,
			&.open-value-addon {

				.blockera-control-var-pointer-icon {
					animation: variable-pointer-rotate 2s linear infinite normal forwards;
				}
			}
		}

		&.dv-pointer {

			svg {
				background-color: var(--blockera-value-addon-dv-color);
			}

			&:hover {
				transform: scale3d(1.25, 1.25, 1.25) !important;
			}

			&:hover,
			&.open-value-addon {

				svg .dv-pointer-1 {
					animation: dv-pointer-shaking-1 0.8s infinite;
					transition: all 0.15s linear;
				}

				svg .dv-pointer-3 {
					animation: dv-pointer-shaking-2 0.8s infinite;
					transition: all 0.15s ease;
				}
			}
		}

		&.is-value-addon-deleted {
			--blockera-value-addon-dv-color: var(--blockera-value-addon-deleted-color);
			--blockera-value-addon-var-color: var(--blockera-value-addon-deleted-color);
		}
	}
}

@keyframes dv-pointer-shaking-1 {

	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-0.6px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes dv-pointer-shaking-2 {

	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(0.6px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes variable-pointer-rotate {

	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.blockera-field {

	& > .blockera-field.blockera-field-control {
		position: relative;
	}

	&.blockera-value-addon-support-dynamic-value,
	&.blockera-value-addon-support-variable {
		position: relative;

		&:hover {

			& > .blockera-field.blockera-field-control {

				.blockera-control-value-addon-pointer {
					transform: scale(1);

					svg {
						fill: currentColor;
					}

					&.var-pointer {
						transform: scale(1);
					}

					&:nth-child(2) {
						transition: all 0.15s ease 0.04s; // delay
					}
				}
			}
		}
	}
}

.blockera-control {

	&.blockera-value-addon-support-dynamic-value,
	&.blockera-value-addon-support-variable {
		position: relative;

		&:hover {

			& > .blockera-control.blockera-control-value-addon-pointers .blockera-control-value-addon-pointer {
				transform: scale(1);

				&:nth-child(1) {
					transition: all 0.15s ease 0.06s; // delay
				}

				svg {
					fill: currentColor;
				}
			}
		}
	}
}
