.blockera-block.blockera-block-1.wp-block-post-author {
	background-color: #f3d290;
	border-color: #00000038;
	border-radius: 10px;
	border-width: 1px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border: 1px solid #00000038;
	box-shadow: 5px 5px 0 0 #c2851b4d;
	transition: all 500ms ease 0ms;
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
	gap: 20px;
}

.blockera-block.blockera-block-1 .wp-block-post-author__avatar > img {
	border-radius: 60px;
	border: 2px solid #946300;
	box-shadow: 5px 5px 0 0 #0000003b;
	transition: all 500ms ease 0ms;
	width: 60px;
}

.blockera-block.blockera-block-1 .wp-block-post-author__byline {
	background-color: #c99c4f;
	padding-top: 5px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 13px;
	border-radius: 5px;
	font-weight: 500;
	font-style: normal;
	color: #ffffff;
	box-sizing: border-box;
	transition: all 500ms ease 0ms;
}

.blockera-block.blockera-block-1 .wp-block-post-author__name {
	background-color: #c2851c;
	border-radius: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-top: 10px;
	font-weight: 600;
	font-style: normal;
	color: #ffffff;
	transition: all 500ms ease 0ms;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-1 .wp-block-post-author__avatar {
	order: 100;
}


}

.blockera-block.blockera-block-1.wp-block-post-author:hover {
	background-color: #ddb86e;
	box-shadow: -5px -5px 0 0 #c2851b4d;
}

.blockera-block.blockera-block-1:hover .wp-block-post-author__avatar > img {
	box-shadow: -5px -5px 0 0 #0000003b;
}

.blockera-block.blockera-block-1:hover .wp-block-post-author__byline {
	background-color: #aa7315;
}

.blockera-block.blockera-block-1:hover .wp-block-post-author__name {
	background-color: #925f07;
}
.blockera-block.blockera-block-2.wp-block-post-author {
	background-color: #efefef;
	border-radius: 10px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	flex-direction: column;
	justify-content: center !important;
	align-items: flex-start !important;
	gap: 10px;
}

.blockera-block.blockera-block-2 .wp-block-post-author__avatar > img {
	width: 100px;
	border-radius: 100px;
	transition: all 500ms ease 0ms;
}

.blockera-block.blockera-block-2 .wp-block-post-author__byline::before {
	background-color: #0000001c;
	content: "Before";
	color: #5b8aff;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-right: 10px !important;
	border-radius: 5px;
}

.blockera-block.blockera-block-2 .wp-block-post-author__byline::after {
	border-radius: 5px;
	content: "After";
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-left: 10px !important;
	color: #2ad022;
	background-color: #0000001c;
}

.blockera-block.blockera-block-2 .wp-block-post-author__name::before {
	border-radius: 5px;
	content: "Before";
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-right: 10px !important;
	background-color: #ffe0e0;
}

.blockera-block.blockera-block-2 .wp-block-post-author__name::after {
	border-radius: 5px;
	content: "After";
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-left: 10px !important;
	background-color: #ffb9b9;
}

.blockera-block.blockera-block-2 .wp-block-post-author__bio {
	background-color: #00000024;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 5px;
	font-size: 16px !important;
}

.blockera-block.blockera-block-2 .wp-block-post-author__byline {
	font-weight: 600;
	font-style: normal;
	font-size: 16px !important;
	color: #ff2b2b;
	background-color: #dddddd;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-radius: 5px;
	display: flex !important;
	flex-direction: row;
	align-items: center !important;
	justify-content: flex-start !important;
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	width: stretch;
	gap: 10px;
}

.blockera-block.blockera-block-2 .wp-block-post-author__name {
	background-color: #00000021;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-radius: 5px;
	display: flex !important;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-2.wp-block-post-author {
	flex-direction: column;
	justify-content: center !important;
	align-items: center !important;
	text-align: center;
	gap: 20px;
}

.blockera-block.blockera-block-2 .wp-block-post-author__byline {
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
}

.blockera-block.blockera-block-2 .wp-block-post-author__name {
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-top: 20px;
}

.blockera-block.blockera-block-2 .wp-block-post-author__avatar {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.blockera-block.blockera-block-2 .wp-block-post-author__bio {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 0;
}


}

.blockera-block.blockera-block-2:hover .wp-block-post-author__avatar > img {
	width: 120px;
}
.blockera-block.blockera-block-3.wp-block-post-author {
	background-color: #ffecec;
	font-size: 20px !important;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
	gap: 30px;
}

.blockera-block.blockera-block-3 .wp-block-post-author__avatar {
	order: 100;
	margin-right: 0 !important;
}

.blockera-block.blockera-block-3 .wp-block-post-author__name {
	order: -1;
	background-color: #0000001a;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	font-style: normal;
}

.blockera-block.blockera-block-3 .wp-block-post-author__byline {
	background-color: #0000004a;
	font-size: 16px !important;
	text-transform: uppercase;
	font-weight: 600;
	font-style: normal;
}

.blockera-block.blockera-block-3 .wp-block-post-author__avatar > img {
	width: 40px;
	border: 2px solid #eb6666;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-3.wp-block-post-author {
	flex-direction: column;
	justify-content: center !important;
	align-items: center !important;
	gap: 15px;
}

.blockera-block.blockera-block-3 .wp-block-post-author__name {
	order: 100;
}

.blockera-block.blockera-block-3 .wp-block-post-author__avatar > img {
	border-radius: 50px;
	width: 60px;
}


}