.blockera-block.blockera-block-1.wp-block-post-author {
	background-color: #f3d290;
	border: 1px solid #00000038;
	border-radius: 10px;
	box-shadow: 5px 5px 0 0 #c2851b4d;
	transition: all 500ms ease 0ms;
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
	gap: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.blockera-block.blockera-block-1 .wp-block-post-author__avatar > img {
	border-radius: 60px;
	border: 2px solid #946300;
	box-shadow: 5px 5px 0 0 #0000003b;
	transition: all 500ms ease 0ms;
	width: 60px;
}

.blockera-block.blockera-block-1 .wp-block-post-author__byline {
	background-color: #c99c4f;
	padding-top: 5px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 13px;
	border-radius: 5px;
	font-weight: 500;
	font-style: normal;
	color: #ffffff;
	box-sizing: border-box;
	transition: all 500ms ease 0ms;
}

.blockera-block.blockera-block-1 .wp-block-post-author__name {
	background-color: #c2851c;
	border-radius: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-top: 10px;
	font-weight: 600;
	font-style: normal;
	color: #ffffff;
	transition: all 500ms ease 0ms;
}

.blockera-block.blockera-block-1.wp-block-post-author:hover {
	background-color: #ddb86e;
	box-shadow: -5px -5px 0 0 #c2851b4d;
}

.blockera-block.blockera-block-1:hover .wp-block-post-author__avatar > img {
	box-shadow: -5px -5px 0 0 #0000003b;
}

.blockera-block.blockera-block-1:hover .wp-block-post-author__byline {
	background-color: #aa7315;
}

.blockera-block.blockera-block-1:hover .wp-block-post-author__name {
	background-color: #925f07;
}
.blockera-block.blockera-block-2.wp-block-post-author {
	background-color: #efefef;
	border-radius: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
}

.blockera-block.blockera-block-2 .wp-block-post-author__avatar > img {
	width: 100px;
	border-radius: 100px;
	transition: all 500ms ease 0ms;
}

.blockera-block.blockera-block-2 .wp-block-post-author__byline::before {
	margin-right: 10px !important;
	content: "Before";
	color: #5b8aff;
}

.blockera-block.blockera-block-2 .wp-block-post-author__byline::after {
	color: #2ad022;
	content: "After";
	margin-left: 10px !important;
}

.blockera-block.blockera-block-2 .wp-block-post-author__name::before {
	background-color: #ffe0e0;
	content: "Before";
	margin-right: 10px !important;
}

.blockera-block.blockera-block-2 .wp-block-post-author__name::after {
	background-color: #ffb9b9;
	content: "After";
	margin-left: 10px !important;
}

.blockera-block.blockera-block-2 .wp-block-post-author__byline {
	font-weight: 600;
	font-style: normal;
	font-size: 18px;
	color: #ff2b2b;
}

.blockera-block.blockera-block-2:hover .wp-block-post-author__avatar > img {
	width: 120px;
}
.blockera-block.blockera-block-3.wp-block-post-author {
	background-color: #ffecec;
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
	gap: 30px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.blockera-block.blockera-block-3 .wp-block-post-author__avatar {
	order: 100;
	margin-right: 0 !important;
}

.blockera-block.blockera-block-3 .wp-block-post-author__avatar > img {
	width: 40px;
}