.publisher-control-group {
	z-index: 999999;
	border: 1px solid #cccccc;
	border-radius: 2px;

	.header {
		display: flex;

		.header-label {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			padding: 0 0 0 3px;
			justify-content: space-between;
			width: 100%;

			&::selection {
				background: none;
			}
		}

		.components-button {
			height: auto;
			flex-basis: 10%;
			justify-content: center;

			.dashicon {
				margin: 2px;
			}
		}
	}

	.header.draggable {
		//

		cursor: move;

		&::before {
			left: 4px;
			top: 12px;
			width: 3px;
			content: "";
			height: 13px;
			display: block;
			opacity: 0;
			margin-right: 3px;
			position: relative;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg width=%273%27 height=%2713%27 viewBox=%270 0 3 13%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Crect width=%273%27 height=%273%27 rx=%271.5%27 fill=%27%23A8A8A8%27/%3E%3Crect y=%275%27 width=%273%27 height=%273%27 rx=%271.5%27 fill=%27%23A8A8A8%27/%3E%3Crect y=%2710%27 width=%273%27 height=%273%27 rx=%271.5%27 fill=%27%23A8A8A8%27/%3E%3C/svg%3E");
		}

		&:hover::before {
			opacity: 1;
		}
	}

	.content {
		background: #ffffff;
		padding: 0 15px;

		.components-base-control {
			margin: 12px 0;
		}
	}

	&.active {
		opacity: 1;
	}

	&.deactivate {
		opacity: 0.5 !important;
		user-select: none;
	}
}
