:root :where(.wp-block-pullquote){
	font-size: var(--wp--preset--font-size--xx-large);
	font-weight: 300;
	line-height: 1.2;
	padding-top: var(--wp--preset--spacing--30);
	padding-bottom: var(--wp--preset--spacing--30);
}

:root :where(.wp-block-pullquote p:last-of-type){
	margin-bottom: var(--wp--preset--spacing--30);
}