
p.blockera-block.blockera-block-1 {
	background-color: #ffe7e7;
	font-weight: 1000;
	font-style: normal;
	font-size: calc(30px);
}

p.blockera-block.blockera-block-2 {
	background-color: #ffe5e5;
	padding-top: calc(100px);
	margin-top: calc(100px);
}

p.blockera-block.blockera-block-3 {
	background-color: #ffd3d3;
	width: calc(100px);
}