
.blockera-block.blockera-block-1.wp-block-image :is(img:not([src=""]), svg:not(:empty)) {
	border-radius: 20px;
	width: 300px;
	aspect-ratio: 4/3;
	object-fit: cover;
}

.blockera-block.blockera-block-1.wp-block-image {
	margin-bottom: 24px;
}

.blockera-block.blockera-block-1 figcaption {
	color: #ff0101;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-1.wp-block-image :is(img:not([src=""]), svg:not(:empty)) {
	width: 200px;
	aspect-ratio: 1;
}


}