
.blockera-block.blockera-block-1.wp-block-image img, .blockera-block.blockera-block-1.wp-block-image svg {
	border-radius: 20px;
	aspect-ratio: 4/3;
}

.blockera-block.blockera-block-1.wp-block-image {
	object-fit: cover;
	margin-bottom: 24px;
}

.blockera-block.blockera-block-1 figcaption {
	color: #ff0101;
}