.edit-site-global-styles-sidebar__navigator-screen {

	>*:not(.blockera-extensions-wrapper,
		.edit-site-global-styles-screen-root,
		div:has(+ .edit-site-block-types-search),
		.edit-site-block-types-search,
		.edit-site-block-types-item-list,
		div:has(+ .edit-site-global-styles-screen),
		.edit-site-global-styles-screen,
		div:first-child) {
		display: none;
	}

	>div:first-child:has(h2.edit-site-global-styles-header):not(:has(p)) {
		display: none;
		border-bottom: 1px solid #e0e0e0;
	}
}

.edit-site-global-styles-sidebar__navigator-screen.has-blockera-extensions {

	>*:not(.blockera-extensions-wrapper,
		.edit-site-global-styles-screen-root,
		div:has(+ .edit-site-block-types-search),
		.edit-site-block-types-search,
		.edit-site-block-types-item-list,
		div:has(+ .edit-site-global-styles-screen),
		.edit-site-global-styles-screen,
		div:first-child) {
		display: none;
	}
}

.edit-site-global-styles-sidebar__navigator-screen.has-not-blockera-extensions {

	>*:not(.blockera-extensions-wrapper,
		.edit-site-global-styles-screen-root,
		div:has(+ .edit-site-block-types-search),
		.edit-site-block-types-search,
		.edit-site-block-types-item-list,
		div:has(+ .edit-site-global-styles-screen),
		.edit-site-global-styles-screen,
		div:first-child) {
		display: block;
	}
}

button[id^="/blocks/"] {
	position: relative;

	span.blockera-block-icon-wrapper {

		svg {
			top: 32%;
			right: 5%;
			display: block !important;
		}
	}

	.blockera-cube-icon {
		opacity: 0.2;
	}

	&:hover svg.blockera-main-icon {
		opacity: 0.4;
	}
}
