.edit-site-global-styles-sidebar__navigator-screen {

	>*:not(.blockera-extensions-wrapper,
		.edit-site-global-styles-screen-root,
		div:has(+ .edit-site-block-types-search),
		.edit-site-block-types-search,
		.edit-site-block-types-item-list,
		div:has(+ .edit-site-global-styles-screen),
		.edit-site-global-styles-screen,
		div:first-child,
		.edit-site-global-styles-screen-css,
		.edit-site-global-styles-screen-style-variations,
		.components-tools-panel) {
		display: none;
	}

	>div:first-child:has(h2.edit-site-global-styles-header):not(:has(p)) {
		display: none;
		border-bottom: 1px solid #e0e0e0;
	}
}

.edit-site-global-styles-sidebar__navigator-screen.has-blockera-extensions {

	>*:not(.blockera-extensions-wrapper,
		.edit-site-global-styles-screen-root,
		div:has(+ .edit-site-block-types-search),
		.edit-site-block-types-search,
		.edit-site-block-types-item-list,
		div:has(+ .edit-site-global-styles-screen),
		.edit-site-global-styles-screen,
		div:first-child) {
		display: none;
	}
}

.edit-site-global-styles-sidebar__navigator-screen.has-not-blockera-extensions {

	>*:not(.blockera-extensions-wrapper,
		.edit-site-global-styles-screen-root,
		div:has(+ .edit-site-block-types-search),
		.edit-site-block-types-search,
		.edit-site-block-types-item-list,
		div:has(+ .edit-site-global-styles-screen),
		.edit-site-global-styles-screen,
		div:first-child) {
		display: block;
	}
}

button[id^="/blocks/"] {
	position: relative;

	span.blockera-block-icon-wrapper {

		svg {
			top: 32%;
			right: 5%;
			display: block !important;
		}
	}

	.blockera-cube-icon {
		opacity: 0.2;
	}

	&:hover svg.blockera-main-icon {
		opacity: 0.4;
	}
}

.components-surface.components-card.edit-site-global-styles-screen-root {

	.blockera-extension.blockera-extension-back-navigation {
		margin-top: 0;
		margin-bottom: 0;

		button {
			padding: 6px 0;
			margin-bottom: calc(16px);
		}
	}

	&.is-open-blockera-navigation {

		.edit-site-global-styles-screen-root__active-style-tile {
			display: none;
		}

		.components-spacer {
			display: none;
		}
	}

	.components-item-group,
	 p.components-spacer {
		display: none;
	}

	hr[role="separator"] {
		display: none;
		border: none;

		+ .components-card-body {
			display: none;
		}
	}

	.blockera-extension-navigation {
		padding: 0;

		p.edit-site-global-styles-header__description {
			padding: 0;
		}

		.blockera-extension-navigation-category {

			h3 {
				padding: 0;
			}

			h2 {
				margin: 0;
				font-size: 14px;
				color: var(--blockera-controls-primary-color);
				padding: 0;

				span {
					display: flex;
					align-items: center;
					gap: 8px;
				}
			}

			button {
				opacity: 1;
				padding: 0;
				justify-content: space-between;

				&:focus {
					outline: none;
					box-shadow: none;
				}

				.components-truncate {
					margin: 0;
					width: 200px;
				}
			}

			.blockera-extension-navigation-item {

				&:not(.inRoot) {

					button {

						> svg:last-child {
							display: none;
						}
					}
				}
			}

			.full-width {
				width: 100%;
				color: #cccccc;
			}
		}
	}

	.blockera-extension-navigation-item {

		&.coming-soon {
			pointer-events: none;
			cursor: not-allowed;
			opacity: 0.5;
		}

		span {
			font-size: 13px;
		}

		.coming-soon {
			background-color: #cccccc;
			color: #ffffff;
			text-transform: uppercase;
			font-size: 8px;
			font-weight: 600;
			padding: 0.2em 0.5em;
			border-radius: 0.2em;
		}
	}

	.blockera-block-inspector-controls-wrapper {

		.components-spacer {
			color: #cccccc;
			margin-bottom: calc(16px);
			padding-left: 13px;
			padding-right: 13px;
			padding-top: calc(8px);
		}

		&.no-margin-top {
			margin: 0;
		}

		&.inline-block {
			display: inline-block;
		}

		.blockera-extension-global-styles-navigation {

			&.navigation-category {
				gap: 8px;
				margin: 0;
				padding: 1em;
				display: flex;
				align-items: center;
				color: var(--blockera-controls-primary-color);
				border-top: 1px solid #e0e0e0;
			}
		}
	}
}
