.activated-blockera-global-styles-panel {

	.edit-site-global-styles-sidebar__navigator-screen {

		>*:not(.blockera-extensions-wrapper,
			.edit-site-global-styles-screen-root,
			div:has(+ .edit-site-block-types-search),
			.edit-site-block-types-search,
			.edit-site-block-types-item-list,
			div:has(+ .edit-site-global-styles-screen),
			.edit-site-global-styles-screen,
			div:first-child) {
			display: none;
		}

		> div:first-child:has(h2.edit-site-global-styles-header):not(:has(p)) {
			display: none;
			border-bottom: 1px solid #e0e0e0;
		}
	}
}

button[id^="/blocks/"] {
	position: relative;

	span.blockera-block-icon-wrapper {

		svg {
			top: 32%;
			right: 5%;
			display: block !important;
		}
	}

	.blockera-cube-icon {
		opacity: 0.2;
	}

	&:hover svg.blockera-main-icon {
		opacity: 0.4;
	}
}

.components-surface.components-card.edit-site-global-styles-screen-root {
	--padding-size: 16px;

	.blockera-extension.blockera-extension-back-navigation {
		margin-top: 0;
		margin-bottom: 0;

		button {
			opacity: 1;
			padding: 12px 16px;
			color: #1e1e1e;
			font-size: 13px;
			font-weight: 500;
			display: flex;
			-webkit-box-align: center;
			align-items: center;
			flex-direction: row;
			gap: 8px;
			width: 100%;
			height: 48px;
			margin: 0;

			svg {
				min-width: 24px;
				padding: 0;
				width: 24px;
				transition: outline 0.1s linear;
				border-radius: 2px;
				outline: 1.5px solid var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
			}

			&:hover {
				background-color: transparent;
			}
		}
	}

	&.is-open-blockera-navigation {

		.edit-site-global-styles-screen-root__active-style-tile {
			display: none;
		}

		.blockera-extension-navigation-category-description,
		.components-spacer {
			display: none;
		}
	}

	.components-item-group,
	 p.components-spacer {
		display: none;
	}

	hr[role="separator"] {
		display: none;
		border: none;

		+ .components-card-body {
			display: none;
		}
	}

	.blockera-extension-navigation {
		padding: 0;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;

		.blockera-extension-navigation-category {
			margin: 0;
			padding: var(--padding-size);
			border-bottom: 1px solid #e8e8e8;

			h3 {
				padding: 0;
			}

			h2 {
				padding: 10px 0 10px 12px !important;
				margin: 0;
				font-size: 13px;
				color: var(--blockera-controls-primary-color);
				min-height: 40px;

				svg {
					fill: currentColor;
				}

				span {
					display: flex;
					align-items: center;
					gap: 10px;
				}
			}

			button {
				padding: 8px 12px;
				opacity: 1;
				gap: 10px;
				font-size: 13px;
				justify-content: space-between;

				span {
					font-weight: 400;
				}

				span:not(.components-text) {
					margin: 0;
				}
			}

			.blockera-extension-navigation-item {

				&.hide-caret {

					button {

						> svg:last-child {
							display: none;
						}
					}
				}
			}

			.blockera-extension-navigation-category-description {
				opacity: 0.4;
				font-size: 13px;
				margin: 0;
				padding: 0 10px 8px;
			}

			.full-width {
				width: 100%;
				color: #cccccc;
			}
		}
	}

	.blockera-extension-navigation-item {

		&.coming-soon {
			pointer-events: none;
			cursor: none;
			opacity: 0.5;
		}

		.components-text {
			font-size: 13px;
			flex-grow: 1;
			display: flex;
			justify-content: space-between;
		}

		.coming-soon {
			background-color: #878787;
			color: #ffffff;
			text-transform: uppercase;
			font-size: 8px;
			font-weight: 600 !important;
			padding: 2px 5px;
			border-radius: 2px;
			line-height: 16px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}
	}

	.blockera-block-inspector-controls-wrapper {
		margin: calc(var(--padding-size) * -1) calc(var(--padding-size) * -1) 0;

		.components-spacer {
			color: #cccccc;
			margin-bottom: calc(16px);
			padding-left: 13px;
			padding-right: 13px;
			padding-top: calc(8px);
		}

		&.no-margin-top {
			margin: 0;
		}

		&.inline-block {
			display: inline-block;
		}

		.blockera-extension-global-styles-navigation {

			&.navigation-category {
				gap: 8px;
				margin: 0;
				padding: 1em;
				display: flex;
				align-items: center;
				color: var(--blockera-controls-primary-color);
				border-top: 1px solid #e0e0e0;
			}
		}
	}

	.blockera-field.blockera-field-code {
		padding: 0 16px;
	}
}
