.edit-site-global-styles-sidebar__navigator-screen {

	>*:not(.blockera-extensions-wrapper,
		.edit-site-global-styles-screen-root,
		div:has(+ .edit-site-block-types-search),
		.edit-site-block-types-search,
		.edit-site-block-types-item-list,
		div:has(+ .edit-site-global-styles-screen),
		.edit-site-global-styles-screen,
		div:first-child) {
		display: none;
	}

	>div:first-child:has(h2.edit-site-global-styles-header):not(:has(p)) {
		display: none;
		border-bottom: 1px solid #e0e0e0;
	}
}

.edit-site-global-styles-sidebar__navigator-screen.has-blockera-extensions {

	>*:not(.blockera-extensions-wrapper,
		.edit-site-global-styles-screen-root,
		div:has(+ .edit-site-block-types-search),
		.edit-site-block-types-search,
		.edit-site-block-types-item-list,
		div:has(+ .edit-site-global-styles-screen),
		.edit-site-global-styles-screen,
		div:first-child) {
		display: none;
	}
}

.edit-site-global-styles-sidebar__navigator-screen.has-not-blockera-extensions {

	>*:not(.blockera-extensions-wrapper,
		.edit-site-global-styles-screen-root,
		div:has(+ .edit-site-block-types-search),
		.edit-site-block-types-search,
		.edit-site-block-types-item-list,
		div:has(+ .edit-site-global-styles-screen),
		.edit-site-global-styles-screen,
		div:first-child) {
		display: block;
	}
}

button[id^="/blocks/"] {
	position: relative;

	span.blockera-block-icon-wrapper {

		svg {
			top: 32%;
			right: 5%;
			display: block !important;
		}
	}

	.blockera-cube-icon {
		opacity: 0.2;
	}

	&:hover svg.blockera-main-icon {
		opacity: 0.4;
	}
}

.components-surface.components-card.edit-site-global-styles-screen-root {

	hr[role="separator"] {
		border: none;
		margin: 0;
	}

	.components-card-body {
		padding: 0;
	}

	.edit-site-global-styles-screen-root__active-style-tile {
		margin: 1em;

		.edit-site-global-styles-preview__wrapper {

			div[data-wp-component="HStack"] {
				gap: calc(16px);
			}
		}

		+ div {
			margin: 0 1em 0 1em;
		}

		+ div + div {
			padding: 0;

			div[role="list-item"] {
				margin: 1em;
			}
		}
	}

	.blockera-block-inspector-controls-wrapper {
		margin-top: 1em;

		+ p {
			color: #1e1e1e;
		}

		&.no-margin-top {
			margin: 0;
		}

		&.inline-block {
			display: inline-block;
		}

		.blockera-extension-global-styles-navigation {

			&.navigation-category {
				gap: 8px;
				margin: 0;
				padding: 1em;
				display: flex;
				align-items: center;
				color: var(--blockera-controls-primary-color);
				border-top: 1px solid #e0e0e0;
			}
		}
	}

	button[id="/blocks"] {
		display: flex;
		align-items: center;
		gap: 8px;
	}
}
