
p.blockera-block.blockera-block-1 {
	background-color: #d8e0ff;
}

p.blockera-block.blockera-block-2 {
	background-color: #d8e0ff;
}

p.blockera-block.blockera-block-3 {
	background-color: #d8e0ff;
}

p.blockera-block.blockera-block-4 {
	background-color: #d8e0ff;
}