button[id^="/blocks/"] {
	position: relative;

	span.blockera-block-icon-wrapper {
		svg {
			top: 32%;
			right: 5%;
			display: block !important;
		}
	}

	.blockera-cube-icon {
		opacity: 0.2;
	}

	&:hover svg.blockera-main-icon {
		opacity: 0.4;
	}
}
