
:root {
	--publisher-value-addon-var-color: #009e10;
	--publisher-value-addon-var-color-darker-20: #00800d;
	--publisher-value-addon-var-bg-color: #f3faf4;
	--publisher-value-addon-var-deleted-color: #ff5454;
	--publisher-value-addon-var-deleted-color-darker-20: #dc4444;
	--publisher-value-addon-var-deleted-bg-color: #fff6f6;
	--publisher-value-addon-dv-color: #7405ff;
	--publisher-value-addon-dv-color-darker-20: #5f00da;
	--publisher-value-addon-dv-bg-color: #f1e7ff;
}

.publisher-control.publisher-control-value-addon-pointers {
	position: absolute;
	top: -8px;
	right: -8px;
	display: flex;
	gap: 4px;
	flex-direction: row-reverse;
	z-index: 1;

	.publisher-control-value-addon-pointer {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		color: #ffffff;
		box-sizing: content-box;
		cursor: pointer;
		transition: all 0.15s ease;
		transform: scale(0);

		svg {
			fill: currentColor;
		}

		.publisher-control-remove-icon {
			display: none;
		}

		&.open-value-addon,
		&.active-value-addon {
			transform: scale(1);

			&:hover {

				.publisher-control-var-pointer-icon {
					display: none;
				}

				.publisher-control-remove-icon {
					display: block;
				}
			}
		}

		&.open-value-addon {
			transform: scale(1.25) !important;
		}

		&.var-pointer {
			background-color: var(--publisher-value-addon-var-color);

			&:hover {
				transform: scale(1.25) rotate(180deg) !important;
			}
		}

		&.dv-pointer {
			background-color: var(--publisher-value-addon-dv-color);
		}

		&:hover {
			transform: scale(1.25) !important;
		}
	}
}

.publisher-field {

	& > .publisher-field.publisher-field-control {
		position: relative;
	}

	&.publisher-value-addon-support-dynamic-value,
	&.publisher-value-addon-support-variable {
		position: relative;

		&:hover {

			& > .publisher-field.publisher-field-control {

				.publisher-control-value-addon-pointer {
					transform: scale(1);

					&.var-pointer {
						transform: scale(1);
					}

					&:nth-child(2) {
						transition: all 0.15s ease 0.06s; // delay
					}
				}
			}
		}
	}
}

.publisher-control {

	&.publisher-value-addon-support-dynamic-value,
	&.publisher-value-addon-support-variable {
		position: relative;

		&:hover {

			& > .publisher-control.publisher-control-value-addon-pointers .publisher-control-value-addon-pointer {
				transform: scale(1);

				&:nth-child(2) {
					transition: all 0.15s ease 0.06s; // delay
				}
			}
		}
	}
}
