#blockera-canvas-editor {
	display: flex;
	justify-content: space-between;

	.blockera-canvas-preview-link {
		position: absolute;
		top: 18px;
		margin-left: 15px;
	}
}

.blockera-canvas-breakpoints {
	max-width: 330px;
	height: 36px;
	background: #f0f0f0;
	border-radius: 3px;
	padding: 0 10px;
	width: 100%;
	min-width: 200px;

	.blockera-component-breakpoint-icon {
		cursor: pointer;

		&:hover,
		&.is-active-breakpoint {
			fill: var(--blockera-controls-primary-color);
			color: var(--blockera-controls-primary-color);
		}
	}
}

.blockera-canvas {
	border: 1px solid rgb(221, 221, 221);

	&.is-tablet-preview,
	&.is-mobile-preview,
	&.is-large-preview,
	&.is-extra-large-preview,
	&.is-mobile-landscape-preview {
		overflow-y: auto;
		border-radius: 2px;
		background: #ffffff;
		transition: min-width 0.5s ease;
	}

	&.preview-margin {
		margin: 72px auto;
	}
}

.blockera-control-canvas-editor-preview-link {
	display: flex;
	align-items: center;
	margin-left: 8px;
}

.blockera-component-breakpoint-icon {
	width: 24px;
	height: 24px;
	position: relative;
	transition: var(--blockera-controls-transition);
	--icon-outline-color: #f0f0f0;

	.blockera-component-base-breakpoint-icon {
		position: absolute;
		left: -3px;
		top: -2px;
		stroke-width: 5px;
		stroke: var(--icon-outline-color);
		paint-order: stroke;
	}

	.blockera-component-change-indicator {
		position: absolute;
		top: 2px;
		right: 2px;
		--indicator-size: 4px;
		--indicator-outline-color: var(--icon-outline-color);
	}

	&.breakpoint-extra-large {

		.blockera-component-base-breakpoint-icon {
			left: -5px;
		}

		.blockera-component-change-indicator {
			right: 0;
		}
	}

	&.breakpoint-large {

		.blockera-component-base-breakpoint-icon {
			left: -3px;
		}

		.blockera-component-change-indicator {
			right: 1px;
		}
	}

	&.breakpoint-laptop {

		.blockera-component-base-breakpoint-icon {
			left: -3px;
		}

		.blockera-component-change-indicator {
			right: 2px;
		}
	}

	&.breakpoint-desktop {

		.blockera-component-base-breakpoint-icon {
			left: -3px;
		}

		.blockera-component-change-indicator {
			right: 3px;
		}
	}

	&.breakpoint-tablet {

		.blockera-component-base-breakpoint-icon {
			left: -1px;
		}

		.blockera-component-change-indicator {
			right: 4px;
		}
	}

	&.breakpoint-mobile {

		.blockera-component-base-breakpoint-icon {
			left: -1px;
		}

		.blockera-component-change-indicator {
			right: 5px;
		}
	}

	&.breakpoint-mobile-landscape {

		.blockera-component-base-breakpoint-icon {
			left: -3px;
		}

		.blockera-component-change-indicator {
			right: 4px;
		}
	}
}
