.blockera-editor {

	.editor-header__settings > a[aria-label="View Page"], // WP < 6.6.2
	.editor-header__settings > a[target="_blank"]:first-child,
	.editor-header__settings > .editor-preview-dropdown {
		display: none;
	}
}

#blockera-canvas-editor {
	display: flex;
	justify-content: space-between;

	.blockera-canvas-preview-link {
		position: absolute;
		top: 18px;
		margin-left: 15px;
	}
}

.editor-header__center {

	&.is-collapsed {
		display: flex !important;

		.editor-document-bar {
			display: none;
		}
	}
}

@media (min-width: 782px) {

	.editor-header:has(>.editor-header__center) {
		grid-template: auto / 60px minmax(min-content, 2fr) 3fr minmax(min-content, 2fr) 60px;
	}
}

.blockera-control-breakpoints-popover {

	.components-popover__content {
		min-width: 320px !important;
	}
}

.blockera-canvas-breakpoints {
	max-width: 330px;
	height: 32px;
	background: #f0f0f0;
	border-radius: 3px;
	padding: 0 3px;
	width: 100%;
	min-width: 200px;
	margin: 0;
	overflow-x: scroll;

	&:hover {
		background: #e0e0e0;

		.blockera-component-breakpoint-icon {
			--icon-outline-color: #e0e0e0;
		}
	}

	.blockera-component-breakpoint-icon {
		cursor: pointer;

		&:hover,
		&.is-active-breakpoint {
			fill: var(--blockera-controls-primary-color);
			color: var(--blockera-controls-primary-color);
		}
	}
}

.blockera-canvas {
	border: 1px solid rgb(221, 221, 221);

	&.is-tablet-preview,
	&.is-mobile-preview,
	&.is-large-preview,
	&.is-extra-large-preview,
	&.is-mobile-landscape-preview {
		overflow-y: auto;
		border-radius: var(--blockera-controls-border-radius);
		background: #ffffff;
		transition: min-width 0.5s ease;
	}

	&.preview-margin {
		margin: 72px auto;
	}
}

.blockera-control-canvas-editor-preview-link {
	display: flex;
	align-items: center;
	transition: var(--blockera-controls-transition);

	> button,
	> a {
		padding: 0;
    	height: 26px !important;
		justify-content: center;
		color: var(--wp-components-color-foreground, #1e1e1e) !important;
		background: none !important;

		&:hover {
			color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9)) !important;
			background: none !important;
		}
	}

	&.is-disabled-preview-button {
		opacity: 0.3;
	}
}

// Compatible with WordPress 6.5.2 - 6.6.1 versions.

.editor-header__center,
 .edit-post-header__center,
 .edit-site-header-edit-mode__center {
	gap: 10px;
	align-items: center;

	.editor-document-bar {
		width: min(100%, 300px) !important;
	}
}

@media (min-width: 960px) {

	.blockera-canvas-breakpoints,
    .editor-document-bar {
		width: min(100%, 300px) !important;
    }
}

.blockera-control-breakpoints-popover.blockera-component-popover {
	--popover-height: auto !important;
}

.blockera-control-breakpoints-edit-popover.blockera-component-popover {
	--popover-height: auto;

	.components-popover__content {
		overflow: visible !important;
	}
}
