# lint top level dot files
!.*
/node_modules/*
/packages/dev-cypress/*
/packages/freemius-sdk/*
/.patch/*
/.storybook/*
build/*
dist/*
node_modules/*
vendor/*
assets/*
wordpress*
source-code-block-editor
source-code-wordpress
**/test/*
**/stories/*
/bin/plugin/**
/bin/*.js
tests/**/input.html