# lint top level dot files
!.*
/node_modules/*
/packages/dev-cypress/*
/packages/freemius-sdk/*
/.patch/*
/.storybook/*
build/*
dist/*
node_modules/*
vendor/*
assets/*
wordpress*
**/test/*
**/stories/*
/bin/plugin/**