parameters:
	level: 5
	paths:
		- packages
	excludePaths:
		analyse:
			- packages/*/tests
			- packages/*/vendor
			- packages/*/js
			- packages/dev-phpunit
			- packages/bootstrap
			- vendor
			- node_modules
			- dist
			- tests
			- source-code-block-editor
			- source-code-wordpress
	bootstrapFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php

