<!--@see: https://github.com/wp-phpunit/docs to configuration project for wp phpunit testing-->
<phpunit
        bootstrap="./.dev/tests/phpunit/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
>
    <coverage>
        <report>
            <html outputDirectory="php-coverage" />
        </report>
    </coverage>

    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix=".php">./.dev/tests/phpunit/</directory>
            <exclude>./.dev/tests/phpunit/Fixtures/</exclude>
            <exclude>./node_modules/</exclude>
            <exclude>./dist/</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./publisher-core</directory>
        </whitelist>
    </filter>

    <php>
        <const name="PHPUNIT_PLUGIN_TEST" value="true"/>
        <env name="WP_PHPUNIT__TESTS_CONFIG" value="./.dev/tests/phpunit/config.php" />
        <env name="WP_TESTS_CONFIG_FILE_PATH" value="./.dev/tests/phpunit/config.php" />
    </php>

</phpunit>

