<!--@see: https://github.com/wp-phpunit/docs to configuration project for wp phpunit testing-->
<phpunit
        bootstrap="./packages/dev-phpunit/php/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
>
    <coverage>
        <report>
            <html outputDirectory="php-coverage" />
        </report>
    </coverage>

    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix=".php">./packages/dev-phpunit/php/</directory>
            <directory suffix=".php">./packages/blockera/php/tests/</directory>
            <directory suffix=".php">./packages/editor/php/tests/</directory>
            <directory suffix=".php">./packages/wordpress/php/tests/</directory>
            <exclude>./packages/blockera/php/tests/Fixtures/</exclude>
            <exclude>./packages/editor/php/tests/Fixtures/</exclude>
            <exclude>./node_modules/</exclude>
            <exclude>./dist/</exclude>
        </testsuite>
    </testsuites>

    <php>
        <env name="VERSION" value="1.0-beta" />
        <const name="PHPUNIT_PLUGIN_TEST" value="true"/>
        <env name="__BLOCKERA_DIR__" value="blockera" />
        <env name="WP_PHPUNIT__TESTS_CONFIG" value="./packages/dev-phpunit/php/config.php" />
        <env name="WP_TESTS_CONFIG_FILE_PATH" value="./packages/dev-phpunit/php/config.php" />
    </php>

</phpunit>

