.blockera-keyboard-shortcuts-extension {
	--blockera-controls-primary-color: #0051e7;
}

.blockera-keyboard-shortcuts-extension .editor-keyboard-shortcut-help-modal__section-title {
	color: var(--blockera-controls-primary-color);
	display: flex;
	align-items: center;
	gap: 8px;
}

.blockera-keyboard-shortcuts-extension .editor-keyboard-shortcut-help-modal__section-title svg{
	fill: currentColor;
	width: 22px;
	height: 22px;
}

.blockera-keyboard-shortcuts-extension .editor-keyboard-shortcut-help-modal__shortcut-key {
	background: color-mix(in srgb, var(--blockera-controls-primary-color) 15%, transparent);
	color: var(--blockera-controls-primary-color);
}

.blockera-keyboard-shortcuts-extension .blockera-keyboard-shortcuts-extension__tab-number-shortcuts {
	display: flex;
	gap: 6px;
}

.editor-keyboard-shortcut-help-modal__section .editor-keyboard-shortcut-help-modal__shortcut-term {
	font-weight: 600;
	margin: 0;
	text-align: right;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	flex-direction: column;
	gap: 10px;
}

.editor-keyboard-shortcut-help-modal__section .editor-keyboard-shortcut-help-modal__shortcut-key-combination {
	background: none;
	display: flex;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: flex-end;
	gap: 6px;
}

.editor-keyboard-shortcut-help-modal__section .editor-keyboard-shortcut-help-modal__shortcut-key-combination+ .editor-keyboard-shortcut-help-modal__shortcut-key-combination {
	margin-top: 0;
}

.editor-keyboard-shortcut-help-modal__section .editor-keyboard-shortcut-help-modal__shortcut-key {
	border-radius: 3px;
	margin: 0;
	display: inline-flex;
	height: 24px;
	padding: 0 0.5rem;
	justify-content: center;
	align-items: center;
	line-height: 10px;
	font-size: 14px;
}

.editor-keyboard-shortcut-help-modal__section .editor-keyboard-shortcut-help-modal__shortcut-key:last-child {
	margin: 0;
}

.editor-keyboard-shortcut-help-modal__section kbd.editor-keyboard-shortcut-help-modal__shortcut-key.shortcut-key-large {
	font-size: 16px;
}
