
p.blockera-block.blockera-block--1 {
	background-color: #fed7d7;
	opacity: 50%;
}

p.blockera-block.blockera-block--2 {
	background-color: #fed7d7;
	transform: perspective(20px) translate3d(10px, 10px, 0);
	transform-origin: 0% 0%;
	backface-visibility: hidden;
	perspective: 20px;
	perspective-origin: 50% 50%;
}

p.blockera-block.blockera-block--3 {
	background-color: #fed7d7;
	transform: translate3d(10px, 10px, 0);
}

p.blockera-block.blockera-block--4 {
	background-color: #fed7d7;
	transform: scale3d(90%, 90%, 50%);
}

p.blockera-block.blockera-block--5 {
	background-color: #feb3b3;
	transform: rotateX(10deg) rotateY(20deg) rotateZ(0deg);
}

p.blockera-block.blockera-block--6 {
	background-color: #f88d8f;
	transform: skew(10deg, 2deg);
}

p.blockera-block.blockera-block--7 {
	background-color: #f88e8f;
	transform: translate3d(20px, 70px, 0) scale3d(120%, 120%, 50%) rotateX(50deg) rotateY(15deg) rotateZ(0deg);
	position: relative;
	z-index: 100;
	width: 250px;
}

p.blockera-block.blockera-block--8 {
	background-color: #fed7d7;
	transition: all 100ms ease 0ms;
}

p.blockera-block.blockera-block--9 {
	background-color: #fed7d7;
	transition: all 100ms ease 0ms, opacity 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 50ms, box-shadow 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550) 10ms;
}

p.blockera-block.blockera-block--10 {
	background-color: #fed7d7;
	filter: blur(5px);
}

p.blockera-block.blockera-block--11 {
	background-color: #fed7d7;
	filter: blur(5px) drop-shadow(3px 3px 3px #f80000);
}

p.blockera-block.blockera-block--12 {
	background-color: #fed7d7;
	backdrop-filter: blur(5px);
}

p.blockera-block.blockera-block--13 {
	background-color: #fed7d7;
	backdrop-filter: blur(5px) drop-shadow(5px 5px 5px #ffa0a0);
}

p.blockera-block.blockera-block--14 {
	background-color: #fed7d7;
	mix-blend-mode: exclusion;
}

p.blockera-block.blockera-block--15 {
	outline: 2px solid #bde1ff;
	outline-offset: 12px;
}