.publisher-field {
	//

	.publisher-field-label {
		display: flex;
		align-items: center;
	}

	.publisher-field-control {
		// remove WP bottom space		.components-base-control:last-child

		.components-base-control:last-child {
			margin-bottom: 0;
		}

		.components-base-control:last-child .components-base-control__field {
			margin-bottom: 0;
		}
	}

	&.columns-2 {
		display: grid;
		grid-template-columns: 1fr 2fr;
		column-gap: 20px;
	}

	& + & {
		border-top: 1px solid #f5f5f5;
		padding-top: 10px;
		margin-top: 10px;
	}
}
