:root {
	--publisher-tab-panel-active-color: #147eb8;
	--publisher-tab-panel-context-color: #e0e0e0;
}

.publisher-tab-panel .components-tab-panel__tabs {
	background-color: #f8f9fc;
	justify-content: space-between;
}

.publisher-tab-panel .components-tab-panel__tabs-item {
	background-color: #f6f6f6;
	border-right: solid 1px var(--publisher-tab-panel-context-color);
	border-top: solid 1px var(--publisher-tab-panel-context-color);
	flex: 1;
	position: relative;

	&:last-child {
		border-right: none;
	}

	&::before {
		display: none;
		position: absolute;
		top: -1px;
		left: -1px;
		right: -1px;
		height: 3px;
		background-color: var(--publisher-tab-panel-active-color);
	}
}

.publisher-tab-panel .components-tab-panel__tabs-item.active-tab {
	background-color: #ffffff;
	color: var(--publisher-tab-panel-active-color);
	border-bottom-color: transparent;

	&::before {
		display: block;
	}
}

.publisher-tab-panel .publisher-tab-button span {
	display: block !important;
	margin: 0 auto 6px auto !important;
}

.publisher-tab-button {
	display: block !important;
	width: 95px;
	height: 68px;
	border-bottom: solid 1px var(--publisher-tab-panel-context-color);
	font-size: 12px;
}
