
.blockera-block.blockera-block-2.wp-block-post-template {
	background-color: #e4e4e4;
}

.blockera-block.blockera-block-3.wp-block-group {
	background-color: #fff0f0;
	padding-top: var(u002du002dwpu002du002dpresetu002du002dspacingu002du002d60, clamp(30px, 7vw, 70px));
	padding-bottom: var(u002du002dwpu002du002dpresetu002du002dspacingu002du002d60, clamp(30px, 7vw, 70px));
	margin-bottom: 30px;
}

.blockera-block.blockera-block-5.wp-block-query-pagination {
	background-color: #ffecec;
	flex-direction: row;
	justify-content: space-between !important;
	gap: 40px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.blockera-block.blockera-block-5 .wp-block-query-pagination-next {
	background-color: #ffc7c7;
}

.blockera-block.blockera-block-5 .wp-block-query-pagination-previous {
	background-color: #ffcccc;
}

.blockera-block.blockera-block-5 .wp-block-query-pagination-numbers {
	background-color: #ffa5a5;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-5.wp-block-query-pagination {
	flex-direction: column;
	align-items: stretch !important;
	justify-content: space-between !important;
	gap: 30px;
}

.blockera-block.blockera-block-5 .wp-block-query-pagination-previous {
	width: 100%;
}

.blockera-block.blockera-block-5 .wp-block-query-pagination-next {
	width: 100%;
}


}

.blockera-block.blockera-block-9.wp-block-group {
	background-color: #f5dcdc;
	padding-top: var(u002du002dwpu002du002dpresetu002du002dspacingu002du002d60, clamp(30px, 7vw, 70px));
	padding-bottom: var(u002du002dwpu002du002dpresetu002du002dspacingu002du002d60, clamp(30px, 7vw, 70px));
}

.blockera-block.blockera-block-10.wp-block-query-no-results {
	background-color: #ffbfbf;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.blockera-block.blockera-block-10 .wp-block-paragraph {
	background-color: #ff7a7a;
}