:where(.blockera-block-1) {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}

:where(.blockera-block-wrapper) {
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.392), 18px);
	line-height: 1.5;
}