body {
	--blockera-settings-primary-color: #2271b1;
	--blockera-settings-secondary-color: #ffffff;
	--blockera-settings-border-color-parimary: #e0e0e0;
}

body.wp-admin[class*="toplevel_page_blockera-"],
body.wp-admin[class*="blockera_page_"] {
	background-color: #eaecee;
}

#blockera-admin-settings-container {
	--card-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 5px -1px rgba(0, 0, 0, 0.1);
	--card-border: 1px solid #dadada;
	--card-border-radius: 5px;
	--card-padding: 25px;
    --card-bg-color: #ffffff;
    font-size: 16px;
    margin: 0;
    padding: 20px 20px 20px 0;
    width: calc(100% - 20px);
    max-width: 1340px;
	// height: 100%;
}

.blockera-settings-panel,
.blockera-settings-dashboard {
	height: 100%;
}

.blockera-settings-button {
	border: none;
	padding: 10px !important;
	cursor: pointer;
	transition: all 0.1s;
	height: 40px !important;
}
