@import "./components/style.scss";

:root {
	--blockera-settings-primary-color: #2271b1;
	--blockera-settings-secondary-color: #ffffff;
	--blockera-settings-border-color-parimary: #e0e0e0;
}

body.wp-admin[class*="blockera_page_"] {
	background-color: #eaecee;

	#wpcontent {
		height: 100vh;
		min-height: 800px;
	}

	&.admin-bar {

		#wpcontent {
			height: calc(100vh - 32px); // 32px is the height of admin bar
		}
	}

	#wpbody { 
		height: 100%;
	}

	#wpbody-content {
		height: calc(100% - 65px); // 65px is the height of bottom padding
	}
}

#blockera-admin-settings-container {
	--card-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 5px -1px rgba(0, 0, 0, 0.1);
	--card-border-radius: 5px;
	--card-padding: 30px;
    --card-bg-color: #ffffff;
    font-size: 16px;
    margin: 0;
    padding: 20px 20px 20px 0;
    width: calc(100% - 20px);
    max-width: 1340px;
	height: 100%;
}

.blockera-settings-panel,
.blockera-settings-dashboard {
	height: 100%;
}

.blockera-settings-button {
	border: none;
	padding: 10px !important;
	cursor: pointer;
	transition: all 0.1s;
	height: 40px !important;
}
