@import "./components/style.scss";

:root {
	--blockera-settings-primary-color: #2271b1;
	--blockera-settings-secondary-color: #ffffff;
	--blockera-settings-border-color-parimary: #e0e0e0;
}

body.wp-admin[class*="blockera_page_"] {
	background-color: #eaecee;
}

#blockera-admin-settings-container {
    font-size: 16px;
    margin: 0;
    padding: 20px 20px 20px 0;
    width: calc(100% - 20px);
    max-width: 1340px;
}

.blockera-settings-button {
	border: none;
	padding: 10px !important;
	cursor: pointer;
	transition: all 0.1s;
	height: 40px !important;
}

.blockera-disable-first-item .wp-first-item{
	display: none;
}