.blockera-block.blockera-block-1.wp-block-post-author-biography {
	color: #c90a0a;
	background-color: #ffd7d7;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	text-align: center;
}

.blockera-block.blockera-block-1 :where(a:not(.wp-element-button)) {
	color: #c90a0a;
}

.blockera-block.blockera-block-2.wp-block-post-author-biography {
	background-color: #ebebeb;
	font-size: 16px;
	border-radius: 10px;
	display: flex !important;
	flex-direction: row;
	align-items: stretch !important;
	justify-content: center !important;
	gap: 10px;
	flex-wrap: nowrap !important;
	padding: 20px 20px 20px 20px;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-2.wp-block-post-author-biography {
		flex-direction: column;
		align-items: stretch !important;
		justify-content: center !important;
		background-color: #ede8bb;
	};
}

.blockera-block.blockera-block-2.wp-block-post-author-biography::before {
	background-color: #00000038;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	font-weight: 600;
	font-style: normal;
	content: "Before";
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-2.wp-block-post-author-biography::before {
		align-self: flex-end;
		content: "Before";
	};
}

.blockera-block.blockera-block-2.wp-block-post-author-biography::after {
	padding: 5px 10px 5px 10px;
	background-color: #00000030;
	border-radius: 5px;
	font-weight: 1000;
	font-style: normal;
	align-self: flex-end;
	content: "After";
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-2.wp-block-post-author-biography::after {
		align-self: stretch;
		content: "After";
	};
}