.blockera-block.blockera-block-wrapper.wp-block-group {
	display: flex !important;
	flex-direction: column;
	align-items: stretch !important;
	justify-content: flex-start !important;
	gap: 30px;
	font-size: 18px;
	line-height: 1;
}

.blockera-block.blockera-block-wrapper.wp-block-group.is-layout-constrained > * + * {
	margin-block-start: 0 !important;
}