
.blockera-block.blockera-block-1.wp-block-archives {
	background-color: #c5eba7;
	border-color: #46a300;
	border-radius: 20px;
	border-width: 2px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	margin-bottom: 60px;
	border: 2px solid #46a300;
}

.blockera-block.blockera-block-1.wp-block-archives:hover {
	background-color: #9bc77a;
}

.blockera-block.blockera-block-2.wp-block-archives {
	background-color: #a7ebe9;
	font-size: 16px !important;
	font-style: normal;
	font-weight: 700;
	padding-top: 20px;
	padding-right: 60px;
	padding-bottom: 20px;
	padding-left: 20px;
	display: flex !important;
	flex-direction: column;
	gap: 30px;
}

.blockera-block.blockera-block-2 a {
	background-color: #00000038;
	display: block !important;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 10px;
}

.blockera-block.blockera-block-2 li {
	background-color: #0000002e;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 10px;
}

.blockera-block.blockera-block-2 li::marker {
	color: #a30000;
}

.blockera-block.blockera-block-2 li:hover {
	background-color: #00000066;
}

.blockera-block.blockera-block-2 a:hover {
	background-color: #0000005e;
}

.blockera-block.blockera-block-2:hover li::marker {
	color: #00ff1e;
}

.blockera-block.blockera-block-3.wp-block-archives {
	background-color: #a7ebe9;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.blockera-block.blockera-block-3 a {
	background-color: #00000038;
	display: block !important;
	padding-right: 20px;
	padding-left: 20px;
}