
.blockera-block.blockera-block-1.wp-block-calendar {
	background-color: #ececfc;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	color: #009602;
}

.blockera-block.blockera-block-1 caption {
	background-color: #cecaff;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-weight: 700;
	font-style: normal;
	color: #3826f6;
}

.blockera-block.blockera-block-1 table thead th {
	background-color: #c1baff;
	border: 2px solid #1702ff;
	color: #ffffff;
	font-weight: 800;
	font-style: normal;
}

.blockera-block.blockera-block-1 table tbody td {
	border: 2px solid #1702ff;
	background-color: #ffffff;
	color: #1702ff;
}

.blockera-block.blockera-block-1 table tbody {
	background-color: #ff9393;
}

.blockera-block.blockera-block-1 table tbody td:is(.pad, [colspan]) {
	background-color: #c1baff;
}

.blockera-block.blockera-block-1 table tbody td:has(a) {
	background-color: #9589ff;
}

.blockera-block.blockera-block-1 .wp-calendar-nav a {
	color: #faf1f1;
	background-color: #000bdb;
}

.blockera-block.blockera-block-1 .wp-calendar-nav a:hover {
	background-color: #0000c7;
}

.blockera-block.blockera-block-1 .wp-calendar-nav a:focus {
	background-color: #0000af;
}

.blockera-block.blockera-block-1 .wp-calendar-nav a:active {
	background-color: #00067c;
}