.blockera-block.blockera-block-1.wp-block-calendar {
	background-color: #ececfc;
	padding: 20px 20px 20px 20px;
	color: #009602;
}

.blockera-block.blockera-block-1 caption {
	background-color: #cecaff;
	padding: 10px 10px 10px 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-weight: 700;
	font-style: normal;
	color: #3826f6;
}

.blockera-block.blockera-block-1 table thead th {
	background-color: #c1baff;
	border: 2px solid #1702ff;
	color: #ffffff;
	font-weight: 800;
	font-style: normal;
}

.blockera-block.blockera-block-1 table tbody td {
	border: 2px solid #1702ff;
	background-color: #ffffff;
	color: #1702ff;
}

.blockera-block.blockera-block-1 table tbody {
	background-color: #ff9393;
}

.blockera-block.blockera-block-1 table tbody td:is(.pad, [colspan]) {
	background-color: #c1baff;
}

.blockera-block.blockera-block-1 table tbody td:has(a) {
	background-color: #9589ff;
}

.blockera-block.blockera-block-1 .wp-calendar-nav a {
	color: #faf1f1;
	background-color: #000bdb;
	margin-top: 10px;
	display: inline-block !important;
}

.blockera-block.blockera-block-1 .wp-calendar-nav a:hover {
	background-color: #0000c7;
}

.blockera-block.blockera-block-1 .wp-calendar-nav a:focus {
	background-color: #0000af;
}

.blockera-block.blockera-block-1 .wp-calendar-nav a:active {
	background-color: #00067c;
}

.blockera-block.blockera-block-1.wp-block-calendar::before {
	background-color: #aba4ff;
	color: #1c0adb;
	padding: 2px 20px 2px 20px;
	margin-bottom: 20px;
	display: inline-block !important;
	content: "Before";
}

.blockera-block.blockera-block-1.wp-block-calendar::after {
	padding: 5px 20px 5px 20px;
	margin-top: 30px;
	display: inline-block !important;
	background-color: #6355ff;
	color: #ffffff;
	border-radius: 30px;
	content: "After";
}

.blockera-block.blockera-block-1.wp-block-calendar :where(table.wp-calendar-table.has-background) {
	background-color: #ececfc;
}