
.blockera-component-tabs.blockera-settings-tabs {
	display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 25px;
	margin-top: 25px;
	height: calc(100% - 76px - 25px); // 76px is the height of header + 25px is the gap

	.blockera-component-tabs__list {
		z-index: 1;
		position: relative;
		gap: 6px;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-content: flex-start;
		align-items: flex-start;
		overflow: visible;

		.blockera-component-tabs__list {
			width: 100%;
			margin-top: 50px;
		}

		.blockera-component-tabs__list__item {
			flex: none;
			display: flex;
			width: 100%;
			flex-direction: row;
			justify-content: flex-start;
			height: 38px;
			padding: 5px 12px 5px 16px;
			border-radius: var(--card-border-radius);
			transition: var(--blockera-controls-transition);
			box-sizing: border-box;
			position: relative;
			font-size: 13px;
			font-weight: 500;

			&:before {
				display: none;
			}

			&:hover {
				background: var(--card-bg-color);
				box-shadow: var(--card-box-shadow);
			}

			&.is-active-tab{
				background: var(--card-bg-color);
				box-shadow: var(--card-box-shadow);

				&::before {
					position: absolute;
					right: 15px;
				}
			}
		}
	}
}

.blockera-settings-tabs {

	.blockera-settings-sidebar-wrapper {
		flex: auto;
		width: 33%;
		min-width: 0;
		align-self: flex-start;
	}

	.blockera-settings-panel-header {
		margin-bottom: 30px;
	}

	.blockera-settings-panel-title {
		font-size: 18px;
		font-weight: 600;
		margin: 0;
	}

	.blockera-settings-panel-desc {
		font-size: 15px;
		line-height: 2;
		font-weight: 400;
		color: #626262;
	}
}
