
p.blockera-block.blockera-block--1 {
	background-color: #ffeded;
}

p.blockera-block.blockera-block--2 {
	background-image: url('https://placehold.co/400x400');
	background-size: contain;
	background-position: 0% 50%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-color: #ffedec;
}

p.blockera-block.blockera-block--3 {
	background-image: url('https://placehold.co/400x400'), url('https://placehold.co/400x400');
	background-size: contain, cover;
	background-position: 50% 50%, 50% 50%;
	background-repeat: no-repeat, repeat;
	background-attachment: scroll, scroll;
	background-color: #ffedec;
}

p.blockera-block.blockera-block--4 {
	background-size: auto;
	background-position: 0 0;
	background-repeat: repeat;
	background-image: linear-gradient(90deg, rgb(0, 158, 250) 35%, rgb(229, 46, 0) 51%);
	background-attachment: scroll;
	background-color: #ffedec;
}

p.blockera-block.blockera-block--5 {
	background-size: auto;
	background-position: 0 0;
	background-repeat: repeat;
	background-image: repeating-radial-gradient( circle closest-corner at 0% 50%, rgb(0, 159, 251) 12%, rgb(229, 46, 0) 100%);
	background-attachment: scroll;
}

p.blockera-block.blockera-block--6 {
	background-size: contain, auto;
	background-position: 50% 50%, 0 0;
	background-repeat: no-repeat, repeat;
	background-image: url('https://placehold.co/400x400'), repeating-radial-gradient( circle farthest-corner at 50% 50%, rgb(0, 159, 251) 56%, rgb(229, 46, 0) 100%);
	background-attachment: scroll, fixed;
}