
p.blockera-block.blockera-block-1 {
	color: var(--wp--preset--color--not-found-1, #503AA8);
}

p.blockera-block.blockera-block-2 {
	color: var(--wp--preset--color--not-found-2);
}

p.blockera-block.blockera-block-3 {
	color: var(--wp--preset--color--akbar);
}

.blockera-block.blockera-block-3 a:not(.wp-element-button) {
	color: var(--wp--preset--color--akbar);
}

p.blockera-block.blockera-block-4 {
	color: var(--wp--preset--color--akbar, #ff0000);
}

.blockera-block.blockera-block-4 a:not(.wp-element-button) {
	color: var(--wp--preset--color--akbar);
}

p.blockera-block.blockera-block-5 {
	margin-top: var(--wp--preset--spacing--spacing-not-found-1, 10px);
}

p.blockera-block.blockera-block-6 {
	margin-top: var(--wp--preset--spacing--spacing-not-found-2);
}

p.blockera-block.blockera-block-7 {
	margin-top: var(--wp--preset--spacing--spacing-not-found-3);
}