.blockera-block.blockera-block-1.wp-block-post-comments-count {
	background-color: #ffe1e1;
	transition: all 500ms ease 0ms;
	display: flex !important;
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
	gap: 10px;
	padding: 10px 10px 10px 10px;
}

.blockera-block.blockera-block-1.wp-block-post-comments-count::before {
	background-color: #ffa4a4;
	content: "Before";
}

.blockera-block.blockera-block-1.wp-block-post-comments-count::after {
	background-color: #ff8484;
	content: "After";
}

.blockera-block.blockera-block-1.wp-block-post-comments-count:hover {
	background-color: #d6d6d6;
}

.blockera-block.blockera-block-2.wp-block-post-comments-link {
	background-color: #fff1d0;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	text-align: center;
}

.blockera-block.blockera-block-2 :where(a:not(.wp-element-button)) {
	background-color: #ffadad;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 5px;
}

.blockera-block.blockera-block-2.wp-block-post-comments-link:hover {
	background-color: #fce4b0;
}

.blockera-block.blockera-block-3.wp-block-comments {
	background-color: #e6e6e6;
	padding: 10px 10px 10px 10px;
}

.blockera-block.blockera-block-3.wp-block-comments::before {
	background-color: #b7b7b7;
	padding: 5px 10px 5px 10px;
	display: inline-block !important;
	border-radius: 10px;
	font-size: 18px !important;
	font-weight: 1000;
	font-style: normal;
	content: "Before";
}

.blockera-block.blockera-block-3.wp-block-comments::after {
	display: block !important;
	background-color: #7c7c7c;
	color: #ffffff;
	text-align: center;
	border-radius: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	font-size: 16px !important;
	font-weight: 700;
	font-style: normal;
	content: "After";
}

.blockera-block.blockera-block-4.wp-block-comments-title {
	background-color: #eaffc7;
	padding: 10px 10px 10px 10px;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-4.wp-block-comments-title {
		text-align: center;
	};
}

.blockera-block.blockera-block-4.wp-block-comments-title:hover {
	background-color: #dcffa4;
}

.blockera-block.blockera-block-5.wp-block-comment-template {
	background-color: #ffe9e9;
	padding: 20px 20px 20px 20px;
	margin-bottom: 10px;
}

.blockera-block.blockera-block-5.wp-block-comment-template {
	margin-bottom: 10px;
	background-color: #ffe9e9;
	padding: 20px 20px 20px 20px;
}

.blockera-block.blockera-block-6.wp-block-columns {
	border-radius: 10px;
	background-color: #ffc3c3;
	margin-bottom: 10px;
	padding: 20px 20px 20px 20px;
}

.blockera-block.blockera-block-6 :where(div.wp-block-column.is-layout-flow) {
	flex-basis: 40px;
}

.blockera-block.blockera-block-6 :where(div.wp-block-group.is-layout-flex) {
	margin-top: 0px;
	margin-bottom: 0px;
}

.blockera-block.blockera-block-7.wp-block-avatar img {
	border-radius: 80px;
	box-shadow: 10px 10px 0 0 #00000030;
	width: 60px;
}

.blockera-block.blockera-block-7 :where(img.avatar-60) {
	border-radius: 80px;
}

.blockera-block.blockera-block-8.wp-block-comment-author-name {
	color: #ffffff;
	background-color: #ff3737;
	font-style: normal;
	font-weight: 500;
	font-size: var(--wp--preset--font-size--large, 1.38rem) !important;
}

.blockera-block.blockera-block-8 :where(a:not(.wp-element-button)) {
	color: #ffffff;
}

.blockera-block.blockera-block-9.wp-block-comment-date {
	background-color: #edffb5;
	font-size: 18px !important;
	font-style: normal;
	font-weight: 500;
}

.blockera-block.blockera-block-9 :where(a:not(.wp-element-button)) {
	text-decoration: initial;
}

.blockera-block.blockera-block-11.wp-block-comment-content {
	background-color: #b2edc4;
	font-size: 18px !important;
	padding: 10px 10px 10px 10px;
}

.blockera-block.blockera-block-12.wp-block-comment-reply-link {
	background-color: #65c1ff;
	font-style: normal;
	font-weight: 500;
	font-size: var(--wp--preset--font-size--small, 0.875rem) !important;
}

.blockera-block.blockera-block-12 :where(a:not(.wp-element-button)) {
	text-decoration: initial;
	text-transform: uppercase;
}

.blockera-block.blockera-block-17.wp-block-post-comments-form {
	background-color: #dff2ff;
	padding: 10px 10px 10px 10px;
}

.blockera-block.blockera-block-17 .comment-form {
	background-color: #bce2fa;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
}

.blockera-block.blockera-block-17 .comment-reply-title {
	padding: 10px 10px 10px 10px;
	margin-bottom: 20px;
	background-color: #a9ddff;
	text-align: center;
	font-size: 16px !important;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	border-radius: 50px;
}

.blockera-block.blockera-block-17 .comment-notes {
	background-color: #79b3d9;
}

.blockera-block.blockera-block-17 label {
	background-color: #5aa6d9;
}

.blockera-block.blockera-block-17 input:is([type="text"], [type="url"], [type="email"], [name="url"], [name="email"]) {
	background-color: #2f92d4;
}

.blockera-block.blockera-block-17 textarea {
	background-color: #2e9be4;
}

.blockera-block.blockera-block-17 .comment-form-cookies-consent {
	background-color: #1789d6;
}

.blockera-block.blockera-block-17 :is(.wp-block-button > .wp-element-button, button[type="submit"]) {
	background-color: #04609d;
	border-radius: 0;
	padding: 10px 10px 10px 10px;
	display: block !important;
	width: 100%;
}

.blockera-block.blockera-block-17 .comment-notes:hover {
	background-color: #81ccff;
}

.blockera-block.blockera-block-17 label:hover {
	background-color: #54ade8;
}

.blockera-block.blockera-block-17 input:is([type="text"], [type="url"], [type="email"], [name="url"], [name="email"])::placeholder {
	background-color: #3091d2;
	color: #9cd7ff;
}

.blockera-block.blockera-block-17 input:is([type="text"], [type="url"], [type="email"], [name="url"], [name="email"]):hover {
	background-color: #42b4ff;
}

.blockera-block.blockera-block-17 textarea::placeholder {
	color: #fea2a2;
}

.blockera-block.blockera-block-17 textarea:hover {
	background-color: #2f9ce4;
}

.blockera-block.blockera-block-17 .comment-form-cookies-consent:hover {
	background-color: #049bff;
}

.blockera-block.blockera-block-17 .comment-form:hover {
	background-color: #9fddff;
}

.blockera-block.blockera-block-17 :is(.wp-block-button > .wp-element-button, button[type="submit"]):hover {
	border-radius: 10px;
	background-color: #0083db;
}

.blockera-block.blockera-block-17 .comment-reply-title:hover {
	background-color: #80ccff;
}

.blockera-block.blockera-block-17 :where(a#cancel-comment-reply-link) {
	display: none;
}