
.blockera-block.blockera-block-1.wp-block-audio audio::-webkit-media-controls-enclosure {
	border-color: #6ab2ed;
	border-width: 2px;
	border-radius: 8px;
	background-color: #c0e3ff;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	border: 2px solid #6ab2ed;
}

.blockera-block.blockera-block-1.wp-block-audio {
	border-color: #6ab2ed;
	border-width: 2px;
	border-radius: 8px;
	background-color: #c0e3ff;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	transition: all 500ms ease 0ms;
}

.blockera-block.blockera-block-1.wp-block-audio audio {
	border-color: #6ab2ed;
	border-width: 2px;
	border-radius: 8px;
	background-color: #c0e3ff;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	height: 120px;
}

.blockera-block.blockera-block-1.wp-block-audio audio::-webkit-media-controls-enclosure:hover {
	background-color: #67bbff;
	border: 2px solid #0064b7;
}

.blockera-block.blockera-block-2.wp-block-audio audio::-webkit-media-controls-enclosure {
	border-radius: 0;
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.392), 18px);
	font-style: normal;
	font-weight: 600;
	background-color: var(--wp--preset--color--accent-2, #F6CFF4);
}

.blockera-block.blockera-block-2.wp-block-audio audio {
	border-radius: 0px;
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.392), 18px);
	font-style: normal;
	font-weight: 600;
	height: 36px;
}

.blockera-block.blockera-block-2.wp-block-audio {
	border-radius: 0px;
	font-size: 18px !important;
	font-style: normal;
	font-weight: 600;
}

.blockera-block.blockera-block-2.wp-block-audio::before {
	display: inline-block !important;
	background-color: #eb93ea;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	content: "Before";
}

.blockera-block.blockera-block-2.wp-block-audio::after {
	background-color: #eb93ea;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-top: 10px;
	border-radius: 60px;
	display: inline-block !important;
	content: "After";
}

.blockera-block.blockera-block-3 figcaption {
	background-color: #dee4e6;
	color: #520000;
	font-weight: 700;
	font-style: normal;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.blockera-block.blockera-block-4.wp-block-audio audio::-webkit-media-controls-enclosure {
	border-radius: 0;
	background-color: #85ead9;
}

.blockera-block.blockera-block-4.wp-block-audio audio {
	border-radius: 0px;
	background-color: #85ead9;
	box-shadow: 5px 5px 0 0 #47baa7;
}

.blockera-block.blockera-block-4 figcaption {
	background-color: #48baa7;
	color: #ffffff;
	font-weight: 700;
	font-style: normal;
	width: 200px;
	margin-right: auto !important;
	margin-left: auto !important;
	border-radius: 6px;
	text-align: center;
	height: 40px;
	display: flex !important;
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
}

.blockera-block.blockera-block-4:hover figcaption {
	background-color: #1a9480;
}