.blockera-block-inspector.loading {
	position: absolute;
	z-index: 999999999;
	background: #ffffff;
	width: 100%;
	height: 100%;

	div {
		margin: 0 auto;
	}
}

.blockera-block-card-wrapper {

	.blockera-dropdown-menu {
		position: absolute;
		top: 0;
		right: 0;

		.blockera-powered-by-icon {
			position: absolute;
			top: 16px;
			right: 38px;
			z-index: 2;
			color: #1e1e1e;
			fill: currentColor;
			display: flex;
			width: 24px;
			height: 24px;
			align-items: center;
			justify-content: center;
			transition: 100ms ease-in-out;
			border-radius: var(--blockera-controls-border-radius);
			opacity: 0.2;
			--blockera-controls-primary-color: #0051e7;

			&:hover {
				opacity: 1;
				color: var(--blockera-controls-primary-color);
			}
		}

		.components-dropdown-menu {
			position: absolute;
			right: 12px;
			padding: 0;
			margin: 0;
			top: 16px;
			z-index: 1;

			.components-button.has-icon {
			    justify-content: center;
				min-width: 24px;
				height: 24px;
				padding: 0;
			}
		}
	}
}

.blockera-block-menu-item {

	span.components-menu-item__item {
		display: block;
	}
}

.blockera-block-menu-item-selected {
	color: var(--blockera-controls-primary-color);

	&:hover {
		color: inherit !important;
	}
}

.blockera-not-allowed {
	opacity: 0.5;
	user-select: none;
	cursor: not-allowed;

	* {
		pointer-events: none;
	}
}

.blockera-block-icon {
	display: none;
	--icon-size: 16px;
	position: absolute;
	top: 0;
	right: 0;
	min-width: var(--icon-size) !important;
	min-height: var(--icon-size) !important;
	max-width: var(--icon-size) !important;
	max-height: var(--icon-size) !important;
	fill: currentColor;
	transition: all 0.1s ease-out !important;
	opacity: 0;

	&.blockera-main-icon {
		color: var(--blockera-controls-primary-color);
	}
}

// Block inserter

.block-editor-inserter__panel-content {

	--blockera-block-icon-opacity: 0.2;
	--blockera-block-icon-opacity-hover: 0.8;
	--blockera-block-icon-opacity-strong: 0.5;

	.blockera-block-icon {
		display: block !important;
		top: 15px;
		right: 20px;
		margin-right: -7px;
	}

	.editor-block-list-item-image\/blockera\/icon {
		--blockera-block-icon-opacity: var(--blockera-block-icon-opacity-strong);

		.blockera-block-icon {
			fill: var(--blockera-controls-primary-color) !important;
		}
	}

	.blockera-block-icon.blockera-cube-icon {
		opacity: var(--blockera-block-icon-opacity);
	}

	.blockera-block-icon.blockera-main-icon {
		opacity: 0;
	}

	.block-editor-block-types-list__list-item:hover {

		.blockera-block-icon.blockera-cube-icon {
			opacity: 0;
		}

		.blockera-block-icon.blockera-main-icon {
			opacity: var(--blockera-block-icon-opacity-hover);
		}
	}
}

// Block preview popover

.components-popover__content .block-editor-block-card .block-editor-block-icon {
	position: relative;

	.blockera-block-icon.blockera-main-icon {
		color: currentColor;
		display: block !important;
		opacity: 0.2;
		top: -10px;
		right: -10px;
		background: #ffffff;
		--icon-size: 20px;
		border-radius: 50%;
		border: 2px solid #ffffff;
	}
}

// Editor block manager

.editor-block-manager__checklist .block-editor-block-icon {
	position: relative;

	.blockera-block-icon.blockera-main-icon {
		display: block !important;
		opacity: 0.2;
		--icon-size: 20px;
		top: 50%;
		margin-top: -10px;
		right: 40px;
		background: #ffffff;
		border-radius: 50%;
		border: 2px solid #ffffff;
		color: #3c434a;
	}
}

.block-editor-block-switcher__container {

	.components-menu-item__button {
		position: relative;

		.blockera-block-icon {
			display: block !important;
			opacity: 0.2;
			--icon-size: 20px;
			top: 50%;
			margin-top: -10px;
    		right: 5px;
			background: #ffffff;
			border-radius: 50%;
			border: 2px solid #ffffff;
		}

		.blockera-block-icon.blockera-cube-icon {
			opacity: 0.2;
		}

		.blockera-block-icon.blockera-main-icon {
			opacity: 0;
		}

		&:hover {

			.blockera-block-icon.blockera-cube-icon {
				opacity: 0;
			}

			.blockera-block-icon.blockera-main-icon {
				opacity: 0.4;
			}
		}
	}
}

.blockera-block-inspector-controls-wrapper + .block-editor-block-card,
.blockera-block-inspector-controls-wrapper ~ .block-editor-block-variation-transforms {
	display: none !important;
}

// hide justification control inside layout constrained (Group Block)

.block-editor-block-inspector .block-editor-hooks__layout-constrained .block-editor-hooks__layout-constrained-helptext + .components-base-control {
	display: none;
}
