.blockera-block-inspector.loading {
	position: absolute;
	z-index: 999999999;
	background: #ffffff;
	width: 100%;
	height: 100%;

	div {
		margin: 0 auto;
	}
}

.blockera-block-card-wrapper {

	.blockera-dropdown-menu {
		position: relative;

		.components-dropdown-menu {
			position: absolute;
			right: -8px;
			padding: 0;
			margin: 0;
			top: -6px;

			.components-button.has-icon {
			    justify-content: center;
				min-width: 32px;
				height: 32px;
				padding: 0;
			}
		}
	}
}

.blockera-block-menu-item {

	span.components-menu-item__item {
		display: block;
	}
}

.blockera-block-menu-item-selected {
	cursor: none;
	pointer-events: none;
	color: var(--blockera-controls-primary-color);

	&:hover {
		color: inherit !important;
	}
}

.blockera-not-allowed {
	opacity: 0.5;
	user-select: none;
	cursor: not-allowed;

	* {
		pointer-events: none;
	}
}

.blockera-block-icon {
	display: none;
	--icon-size: 16px;
	position: absolute;
	top: 0;
	right: 0;
	min-width: var(--icon-size) !important;
	min-height: var(--icon-size) !important;
	max-width: var(--icon-size) !important;
	max-height: var(--icon-size) !important;
	fill: currentColor;
	transition: all 0.1s ease-out !important;
	opacity: 0;

	&.blockera-main-icon {
		color: var(--blockera-controls-primary-color);
	}
}

// Block inserter

.block-editor-inserter__panel-content {

	.blockera-block-icon {
		display: block;
		top: 15px;
		right: 20px;
		margin-right: -7px;
	}

	.blockera-block-icon.blockera-cube-icon {
		opacity: 0.2;
	}

	.blockera-block-icon.blockera-main-icon {
		opacity: 0;
	}

	.block-editor-block-types-list__list-item:hover {

		.blockera-block-icon.blockera-cube-icon {
			opacity: 0;
		}

		.blockera-block-icon.blockera-main-icon {
			opacity: 0.4;
		}
	}
}

// Block preview popover

.components-popover__content .block-editor-block-card .block-editor-block-icon {
	position: relative;

	.blockera-block-icon.blockera-main-icon {
		color: currentColor;
		display: block;
		opacity: 0.2;
		top: -10px;
		right: -10px;
		background: #ffffff;
		--icon-size: 20px;
		border-radius: 50%;
		border: 2px solid #ffffff;
	}
}

// Editor block manager

.editor-block-manager__checklist .block-editor-block-icon {
	position: relative;

	.blockera-block-icon {
		display: block;
		opacity: 0.2;
		--icon-size: 20px;
		top: 50%;
		margin-top: -10px;
		right: 40px;
		background: #ffffff;
		border-radius: 50%;
		border: 2px solid #ffffff;
	}
}
