
p.blockera-block.blockera-block--1 {
	background-color: #bde1ff;
	cursor: wait;
}

p.blockera-block.blockera-block--2 {
	background-color: #bde1ff;
	user-select: contain;
}

p.blockera-block.blockera-block--3 {
	background-color: #bde1ff;
	pointer-events: none;
}