.blockera-block.blockera-block-1.wp-block-categories {
	background-color: #c4ffe3;
	font-size: 16px !important;
	font-style: normal;
	font-weight: 700;
	border-radius: 20px;
	padding-top: 20px;
	padding-right: 60px;
	padding-bottom: 20px;
	padding-left: 60px;
	display: flex !important;
	flex-direction: column;
	gap: 20px;
}

.blockera-block.blockera-block-1 li.cat-item {
	background-color: #ffcece;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 5px;
}

.blockera-block.blockera-block-1 li.cat-item:hover {
	background-color: #ff8f8f;
}

.blockera-block.blockera-block-1 li.cat-item::marker {
	color: #ff0c0c;
	background-color: #c4ffe3;
}

.blockera-block.blockera-block-1.wp-block-categories::before {
	background-color: #55d99b;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	content: "Before";
}

.blockera-block.blockera-block-1.wp-block-categories::after {
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
	background-color: #2db877;
	border-radius: 30px;
	text-align: center;
	color: #ffffff;
	content: "After";
}

.blockera-block.blockera-block-2.wp-block-categories {
	color: #0055ff;
	font-size: 18px !important;
	font-style: normal;
	font-weight: 700;
	display: flex !important;
	flex-direction: column;
	gap: 16px;
}

.blockera-block.blockera-block-2 li.cat-item {
	background-color: #ffc6c6;
	border-radius: 27px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.blockera-block.blockera-block-3.wp-block-categories {
	color: #0055ff;
	font-size: 18px !important;
	font-style: normal;
	font-weight: 700;
	display: flex !important;
	flex-direction: column;
	gap: 20px;
}

.blockera-block.blockera-block-3 li.cat-item {
	background-color: #dbecff;
	border-radius: 27px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}