.blockera-block.blockera-block-1.wp-block-categories {
	background-color: #c4ffe3;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	border-radius: 50px;
	display: flex !important;
	flex-direction: column;
	gap: 20px;
	padding: 40px 40px 40px 40px;
}

.blockera-block.blockera-block-1 li.cat-item {
	background-color: #ffcece;
	padding: 10px 10px 10px 10px;
	border-radius: 50px;
}

.blockera-block.blockera-block-1 li.cat-item > a::before {
	border-radius: 50px;
	content: "Link Before";
	background-color: #0000002e;
	padding: 5px 10px 5px 10px;
}

.blockera-block.blockera-block-1 li.cat-item > a::after {
	border-radius: 50px;
	content: "Link After";
	padding: 5px 10px 5px 10px;
	background-color: #00000030;
}

.blockera-block.blockera-block-1 li.cat-item:hover {
	background-color: #ff8f8f;
}

.blockera-block.blockera-block-1 li.cat-item::marker {
	color: #ff0c0c;
	background-color: #c4ffe3;
}

.blockera-block.blockera-block-1 li.cat-item::before {
	display: inline-block !important;
	content: "Before";
	padding: 5px 10px 5px 10px;
	background-color: #00000033;
	border-radius: 50px;
}

.blockera-block.blockera-block-1 li.cat-item::after {
	display: inline-block !important;
	content: "After";
	padding: 5px 10px 5px 10px;
	background-color: #0000003d;
	border-radius: 50px;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-1.wp-block-categories {
		padding: 20px 20px 20px 20px;
		border-radius: 10px;
	}

	.blockera-block.blockera-block-1 li.cat-item::after {
		align-self: flex-end;
		content: "After";
		border-radius: 10px;
	}

	.blockera-block.blockera-block-1 li.cat-item::before {
		flex-direction: column;
		justify-content: center !important;
		align-items: center !important;
		content: "Before";
		border-radius: 10px;
	}

	.blockera-block.blockera-block-1 li.cat-item:hover {
		gap: 20px;
	}

	.blockera-block.blockera-block-1 li.cat-item > a::after {
		border-radius: 10px;
		content: "Link After";
		align-self: flex-start;
	}

	.blockera-block.blockera-block-1 li.cat-item > a::before {
		border-radius: 10px;
		content: "Link Before";
		align-self: stretch;
	}

	.blockera-block.blockera-block-1 li.cat-item {
		border-radius: 10px;
		display: flex !important;
		flex-direction: column;
		gap: 20px;
	}

	.blockera-block.blockera-block-1 li.cat-item > a {
		display: flex !important;
		flex-direction: column;
		justify-content: center !important;
		align-items: center !important;
		gap: 10px;
	};
}

.blockera-block.blockera-block-1.wp-block-categories::before {
	background-color: #55d99b;
	padding: 5px 10px 5px 10px;
	border-radius: 50px;
	content: "Before";
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-1.wp-block-categories::before {
		border-radius: 10px;
		content: "Before";
	};
}

.blockera-block.blockera-block-1.wp-block-categories::after {
	padding: 5px 20px 5px 20px;
	background-color: #2db877;
	border-radius: 50px;
	text-align: center;
	color: #ffffff;
	content: "After";
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-1.wp-block-categories::after {
		border-radius: 10px;
		content: "After";
	};
}

.blockera-block.blockera-block-2.wp-block-categories {
	color: #0055ff;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	display: flex !important;
	flex-direction: column;
	gap: 16px;
}

.blockera-block.blockera-block-2 li.cat-item {
	background-color: #ffc6c6;
	border-radius: 27px;
	padding: 5px 10px 5px 10px;
}

.blockera-block.blockera-block-3.wp-block-categories {
	color: #0055ff;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	display: flex !important;
	flex-direction: column;
	gap: 20px;
}

.blockera-block.blockera-block-3 li.cat-item {
	background-color: #dbecff;
	border-radius: 27px;
	padding: 5px 10px 5px 10px;
}