
.blockera-block.blockera-block-1.wp-block-gallery {
	background-color: #bdf7ff;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.blockera-block.blockera-block-1 .wp-block-image :is(img:not([src=""]), svg:not(:empty)) {
	border-radius: 50px;
}

.blockera-block.blockera-block-1 figure.wp-block-image figcaption.wp-element-caption {
	background-color: #00fc43;
	background-size: auto;
	background-position: 0 0;
	background-repeat: repeat;
	background-image: linear-gradient(45deg, rgb(0, 158, 250) 45%, rgb(229, 46, 0) 45%);
	background-attachment: scroll;
	border-radius: 30px;
}

.blockera-block.blockera-block-1 > figcaption {
	background-color: #56ebff;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-weight: 700;
	font-style: normal;
	border-radius: 5px;
	width: 100px;
	outline: 2px solid #797979;
	outline-offset: 3px;
}

.blockera-block.blockera-block-1 .wp-block-image {
	overflow: hidden;
	transition: all 500ms ease 0ms;
}

.blockera-block.blockera-block-1 .wp-block-image :is(img:not([src=""]), svg:not(:empty)):hover {
	border-radius: 10px;
}

.blockera-block.blockera-block-2.wp-block-image :is(img:not([src=""]), svg:not(:empty)) {
	border-radius: 5px;
}

.blockera-block.blockera-block-2 .wp-image-815 {
	border-radius: 5px;
}

.blockera-block.blockera-block-2.wp-block-image {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.blockera-block.blockera-block-2:is(.has-custom-border, :not(.has-custom-border)):is(figure) figcaption.wp-element-caption {
	background-size: auto;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: radial-gradient( circle farthest-corner at 50% 50%, rgb(202, 0, 250) 8%, rgb(201, 171, 0) 38%);
	background-attachment: scroll;
	border-radius: 5px;
	opacity: 70%;
	order: -1;
}

.blockera-block.blockera-block-2:is(.has-custom-border, :not(.has-custom-border)):is(figure) figcaption.wp-element-caption:hover {
	opacity: 100%;
}

.blockera-block.blockera-block-3.wp-block-gallery {
	background-color: #e1ffdd;
	gap: 70px;
}

.blockera-block.blockera-block-3 > figcaption {
	background-color: #00000024;
	order: -1;
}

.blockera-block.blockera-block-3 figure.wp-block-image figcaption.wp-element-caption {
	order: -1;
}

.blockera-block.blockera-block-4.wp-block-image {
	order: 100;
}

.blockera-block.blockera-block-4:is(.has-custom-border, :not(.has-custom-border)):is(figure) figcaption.wp-element-caption {
	background-color: #ff0000;
	order: -1;
}

.blockera-block.blockera-block-4.wp-block-image :is(img, svg) {
	order: 100;
}

.blockera-block.blockera-block-5.wp-block-gallery {
	background-color: #c9bcdb;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.blockera-block.blockera-block-5 > figcaption {
	font-weight: 700;
	font-style: normal;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-5.wp-block-gallery {
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
}


}

.blockera-block.blockera-block-6.wp-block-gallery {
	background-color: #a7c1d7;
	border-radius: 15px;
	transition: all 500ms ease 0ms;
	row-gap: 14px;
	column-gap: 30px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.blockera-block.blockera-block-6 .wp-block-image :is(img:not([src=""]), svg:not(:empty)) {
	box-shadow: 7px 7px 0 0 #0000003b;
	filter: blur(2px);
}

.blockera-block.blockera-block-6 > figcaption {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-top: 20px;
	flex: 0 1 auto;
	align-self: center;
}

.blockera-block.blockera-block-6 > figcaption:hover {
	background-color: #00000026;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-6 > figcaption {
	flex: 1 1 0%;
}


}

.blockera-block.blockera-block-6.wp-block-gallery:hover {
	background-color: #7dacd4;
}

.blockera-block.blockera-block-6:hover .wp-block-image :is(img:not([src=""]), svg:not(:empty)) {
	border-radius: 20px;
}

.blockera-block.blockera-block-7.wp-block-gallery {
	background-size: auto;
	background-position: 0 0;
	background-repeat: repeat;
	background-image: linear-gradient(90deg, rgb(228, 228, 228) 10%, rgb(255, 192, 177) 90%);
	background-attachment: scroll;
	position: relative;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.blockera-block.blockera-block-8.wp-block-image :is(img:not([src=""]), svg:not(:empty)) {
	box-shadow: 10px 10px 0 0 #00000036;
}

.blockera-block.blockera-block-8.wp-block-image {
	position: relative;
	top: 10px;
	left: -10px;
}

.blockera-block.blockera-block-9.wp-block-image {
	display: none;
}