@import "./group-control/style";
@import "./input-control/style";
@import "./range-control/style";
@import "./label-control/style";
@import "./color-control/style";
@import "./border-control/style";
@import "./select-control/style";
@import "./search-control/style";
@import "./repeater-control/style";
@import "./icon-control/style.scss";
@import "./icon-control/components/icon-picker/style";
@import "./background-control/style";
@import "./media-image-control/style";
@import "./box-spacing-control/style";
@import "./box-position-control/style";
@import "./gradient-bar-control/style";
@import "./angle-picker-control/style";
@import "./border-radius-control/style";
@import "./toggle-select-control/style";
@import "./attributes-control/style.scss";
@import "./alignment-matrix-control/style";
@import "./link-control/style";
@import "./checkbox-control/style";

.publisher-control {
	//

	[type="number"] {
		line-height: 30px !important;
		height: 30px !important;
		min-height: 30px !important;
		font-size: 12px !important;
		padding-left: 5px !important;
		padding-right: 5px !important;
	}

	.components-base-control:last-child .components-base-control__field,
	.components-base-control:last-child {
		margin-bottom: 0;
	}

	.components-base-control__field {
		margin-bottom: 0 !important;
	}
}
