.blockera-block.blockera-block-1 {
	color: red;
}

.blockera-block.blockera-block-1:hover {
	color: green;
}

p.blockera-block.blockera-block-2 {
	font-family: var(--wp--preset--font-family--fira-code);
	font-size: 20px;
}

:where(.blockera-block.blockera-block-2) {
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.588), 20px);
}

.blockera-block.blockera-block-2 {
	color: var(--wp--preset--color--accent-3, #503AA8);
}