.blockera-block.blockera-block-1 {
	color: red;
}

.blockera-block.blockera-block-1:hover {
	color: green;
}

p.blockera-block.blockera-block-2 {
	font-size: 20px;
	font-family: var(--wp--preset--font-family--fira-code);
}

.blockera-block.blockera-block-2 {
	color: var(--wp--preset--color--accent-3, #503AA8);
}