.publisher-control-toggle-select {
	border-color: #949494 !important;
	width: 100%;
	min-height: 32px !important;

	&:focus-within {
		border-color: var(
			--wp-components-color-accent,
			var(--wp-admin-theme-color, #007cba)
		) !important;
		box-shadow: 0 0 0 1px
			var(
				--wp-components-color-accent,
				var(--wp-admin-theme-color, #007cba)
			);
	}

	.components-toggle-group-control-option-base {
		width: 100% !important;
		padding: 0 5px !important;

		// remove inner item style for focus
		&:focus {
			border: none !important;
			box-shadow: none !important;
			outline: none !important;
		}
	}

	div[role="presentation"] {
		background: var(
			--wp-components-color-accent,
			var(--wp-admin-theme-color, #007cba)
		);
	}
}
