
.blockera-block.blockera-block-1.wp-block-group {
	background-color: #b4eab1;
	display: flex !important;
	flex-direction: column;
}

p.blockera-block.blockera-block-2 {
	background-color: #00000030;
	order: 100;
}

p.blockera-block.blockera-block-3 {
	background-color: #00000030;
	order: 2;
}

p.blockera-block.blockera-block-4 {
	background-color: #00000030;
	order: 1;
}

p.blockera-block.blockera-block-5 {
	background-color: #00000030;
	order: -1;
}

.blockera-block.blockera-block-6.wp-block-group {
	background-color: #94d3e8;
	display: flex !important;
	flex-direction: column;
}

p.blockera-block.blockera-block-7 {
	background-color: #00000030;
	align-self: flex-end;
}

p.blockera-block.blockera-block-8 {
	background-color: #00000030;
	align-self: center;
}

p.blockera-block.blockera-block-9 {
	background-color: #00000030;
}

p.blockera-block.blockera-block-10 {
	background-color: #00000030;
	align-self: stretch;
}

p.blockera-block.blockera-block-11 {
	background-color: #00000030;
	align-self: baseline;
}

.blockera-block.blockera-block-12.wp-block-group {
	background-color: #facea9;
	display: flex !important;
	flex-direction: column;
	height: 500px;
}

p.blockera-block.blockera-block-13 {
	background-color: #0000005c;
	flex: 1 1 0%;
}

p.blockera-block.blockera-block-14 {
	background-color: #00000030;
	flex: 0 1 auto;
}

p.blockera-block.blockera-block-15 {
	background-color: #00000030;
	flex: 0 0 auto;
}

p.blockera-block.blockera-block-16 {
	background-color: #0000006e;
	flex-grow: 2;
	flex-shrink: 1;
	flex-basis: content !important;
}