
.blockera-block.blockera-block-1.wp-block-image :is(img, svg) {
	border-radius: 20px;
	aspect-ratio: 4/3;
}

.blockera-block.blockera-block-1.wp-block-image {
	object-fit: cover;
	margin-bottom: 24px;
}