.blockera-block-inspector.loading {
	position: absolute;
	z-index: 999999999;
	background: #ffffff;
	width: 100%;
	height: 100%;

	div {
		margin: 0 auto;
	}
}

.blockera-block-card-wrapper {

	.blockera-dropdown-menu {
		position: relative;

		.components-dropdown-menu {
			position: absolute;
			right: -12px;
			padding: 0;
			margin: 0;
			top: -6px;
		}
	}
}

.blockera-block-menu-item {

	span.components-menu-item__item {
		display: block;
	}
}

.blockera-block-menu-item-selected {
	cursor: none;
	pointer-events: none;
	color: var(--blockera-controls-primary-color);

	&:hover {
		color: inherit !important;
	}
}
