.blockera-opt-in-text {
	line-height: 25px;
	font-size: 13px;
	margin: 0;

	a {
		text-decoration: none;
	}
}

.components-modal__content {
	--blockera-debug-border-color: #b2b2b2;
	width: 550px;

	.blockera-component-code-block {
		background-color: #f5f5f5;
		cursor: pointer;
		height: 200px;
		overflow: scroll;
		border-radius: 4px;
		padding: 10px;
		border: solid 1px var(--blockera-debug-border-color);
	}

	.blockera-component-manually-report-step {
		color: #222222;
		font-weight: 600;

		a {
			color: #cc3333;
		}
	}
}
