.publisher-control-color {
	//

	.color-indicator {
		margin-right: 5px;
	}

	.color-indicator-with-label {
		border: solid 1px #e5e5e5;
		padding: 5px 10px;
		display: flex;
	}
}

.publisher-field {
	//

	.publisher-field-label {
		display: flex;
		align-items: center;
	}

	.publisher-field-control {
		// remove WP bottom space		.components-base-control:last-child

		.components-base-control:last-child {
			margin-bottom: 0;
		}

		.components-base-control:last-child .components-base-control__field {
			margin-bottom: 0;
		}
	}

	&.publisher-field-2-column {
		display: grid;
		grid-template-columns: 1fr 2fr;
		column-gap: 20px;
	}

	& + & {
		border-radius: 1px solid #cccccc;
		padding-top: 10px;
		margin-top: 10px;
	}
}

.publisher-control {
	//

	[type="number"] {
		line-height: 30px !important;
		height: 30px !important;
		min-height: 30px !important;
		font-size: 12px !important;
		padding-left: 5px !important;
		padding-right: 5px !important;
	}

	.components-base-control:last-child .components-base-control__field,
	.components-base-control:last-child {
		margin-bottom: 0;
	}
}

.publisher-control-angle {
	//

	.components-flex-item {
		margin: 0 !important;
	}

	.components-angle-picker-control__angle-circle {
		height: 30px;
		width: 30px;
	}
}
