.publisher-control-color {
	//

	.publisher-control-color-indicator {
		border: solid 1px #959595;
		padding: 5px 10px;
		display: flex;
		border-radius: 2px;
		gap: 5px;
		align-items: center;
		cursor: pointer;
		transition: all 0.1s linear 0s;
	}

	&.color-picker-open .publisher-control-color-indicator {
		border-color: var(--wp-admin-theme-color, #007cba);
		box-shadow: 0 0 0 1px var(--wp-admin-theme-color, #007cba);
	}
}
