.blockera-block.blockera-block-1.wp-block-post-time-to-read {
	background-color: #ffdede;
	font-size: 16px !important;
	font-style: normal;
	font-weight: 700;
	border-color: #f11c1c;
	border-radius: 10px;
	border-width: 1px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: 1px solid #f11c1c;
}

.blockera-block.blockera-block-1.wp-block-post-time-to-read:hover {
	background-color: #ffa6a6;
}

.blockera-block.blockera-block-2.wp-block-post-time-to-read {
	background-color: #ffdede;
	font-size: 16px !important;
	font-style: normal;
	font-weight: 700;
	border-color: #f11c1c;
	border-radius: 10px;
	border-width: 1px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: 1px solid #f11c1c;
	text-align: center;
}

.blockera-block.blockera-block-2.wp-block-post-time-to-read:hover {
	background-color: #ffa6a6;
}

.blockera-block.blockera-block-3.wp-block-post-time-to-read {
	background-color: #daffaa;
	font-size: 16px !important;
	font-style: normal;
	font-weight: 700;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	display: flex !important;
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
	gap: 10px;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-3.wp-block-post-time-to-read {
		flex-direction: column;
		justify-content: center !important;
		align-items: center !important;
	};
}

.blockera-block.blockera-block-3.wp-block-post-time-to-read::after {
	background-color: #9cdb49;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	display: inline-block !important;
	border-radius: 10px;
	content: "After";
}

.blockera-block.blockera-block-3.wp-block-post-time-to-read::before {
	background-color: #78b529;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-radius: 10px;
	display: inline-block !important;
	content: "before";
}

.blockera-block.blockera-block-4.wp-block-post-time-to-read {
	background-color: #daffaa;
	font-size: 16px !important;
	font-style: normal;
	font-weight: 700;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	display: flex !important;
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
	gap: 10px;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-4.wp-block-post-time-to-read {
		flex-direction: column;
		justify-content: center !important;
		align-items: center !important;
	};
}

.blockera-block.blockera-block-4.wp-block-post-time-to-read::after {
	background-color: #9cdb49;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-radius: 20px;
	flex: 1 1 0%;
	content: "After";
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-4.wp-block-post-time-to-read::after {
		align-self: stretch;
		content: "After";
	};
}

.blockera-block.blockera-block-4.wp-block-post-time-to-read::before {
	background-color: #78b529;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-radius: 30px;
	flex: 1 1 0%;
	content: "before";
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-4.wp-block-post-time-to-read::before {
		align-self: stretch;
		content: "before";
	};
}