.save-settings__save-button {

	&.blockera-settings-has-update {

		&:before {
			content: '';
			background: #ffffff;
			width: 5px;
			height: 5px;
			display: block;
			margin-right: 8px;
			border-radius: 5px;
    		animation: saveButtonUpdateAnimation 1300ms infinite;
			animation-delay: 500ms;
		}
	}
}

#blockera-admin-settings-container {

	.message.update-failed {
		color: #ff0000;

		svg {
			fill: currentColor;
		}
	}
}

@keyframes saveButtonUpdateAnimation {
	0% {
		opacity:1;
	}
	50%{
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
