.blockera-block.blockera-block-1.wp-block-spacer {
	height: 120px;
	width: 300px;
}

.blockera-block.blockera-block-1 {
	background-color: #ffb9b9;
}

.blockera-block.blockera-block-1 .components-resizable-box__container {
	background-color: transparent;
}

.blockera-block.blockera-block-2.wp-block-spacer {
	height: 300px;
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	width: stretch;
}

.blockera-block.blockera-block-2 {
	background-color: #bcdd9a;
}

.blockera-block.blockera-block-2 .components-resizable-box__container {
	background-color: transparent;
}