.blockera-block.blockera-block-1.wp-block-separator {
	border-bottom: 2px solid #ffc1c1;
}

:where(.blockera-block.blockera-block-1) {
	border-bottom-color: #ffc1c1;
	border-bottom-width: 2px;
}

.blockera-block.blockera-block-2.wp-block-separator {
	background-color: #97dd00;
	border: 0px solid;
	max-width: 200px !important;
	height: 2px;
	margin-right: auto !important;
	margin-left: auto !important;
}

:where(.blockera-block.blockera-block-2) {
	border-width: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: #97dd00;
	color: #97dd00;
}