.blockera-block.blockera-block-1.wp-block-group {
	background-color: #ffe5e5;
	width: 130px;
	padding: 20px 20px 20px 20px;
}

.blockera-block.blockera-block-2.wp-block-icon svg {
	background-color: #ffacac;
	border: 3px solid #ff7272;
	border-radius: 10px;
	display: block !important;
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	width: stretch;
	height: 100%;
	height: -moz-available;
	height: -webkit-fill-available;
	height: stretch;
	color: #003bff;
}

.blockera-block.blockera-block-3.wp-block-icon svg {
	--blockera--icon--rotate: 90deg;
	width: 80px;
	height: 80px;
}

.blockera-block.blockera-block-4.wp-block-icon svg {
	width: 100px;
	height: 100px;
	color: #16d500;
}

html:root body :where(.blockera-block.blockera-block-4.wp-block-icon svg).wp-block-icon svg {
	border: 1px solid #ff3636;
	border-radius: 20px;
}

.blockera-block-4 :where(.blockera-block-4-child-1) {
	color: rgb(22, 213, 0);
	fill: rgb(22, 213, 0);
	width: 110px;
	height: 110px;
	width: 100px;
	height: 100px;
	color: #16d500;
	fill: #16d500;
}

.blockera-block-3 :where(.blockera-block-3-child-1) {
	width: 80px;
	height: 80px;
	transform: rotate(90deg);
}

.blockera-block-2 :where(.blockera-block-2-child-1) {
	width: stretch;
	height: stretch;
	color: #003bff;
	fill: #003bff;
}