.blockera-block.blockera-block-1.wp-block-group {
	background-color: #d8e0ff;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 60px;
	padding-bottom: 60px;
	transition: all 500ms ease 0ms;
}

.blockera-block.blockera-block-1.wp-block-group.is-layout-constrained > * + * {
	margin-block-start: 30px !important;
}

.blockera-block.blockera-block-2.wp-block-group {
	border-radius: 10px;
	background-color: #95aaff;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	display: flex !important;
	gap: 100px;
	flex-wrap: nowrap !important;
}

.blockera-block.blockera-block-2.wp-block-group.is-layout-constrained > * + * {
	margin-block-start: 0 !important;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-2.wp-block-group {
		flex-direction: column;
		gap: 20px;
	}

	.blockera-block.blockera-block-2.wp-block-group.is-layout-constrained > * + * {
		margin-block-start: 0 !important;
	};
}

.blockera-block.blockera-block-3.wp-block-heading {
	background-color: #5577ff;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	font-size: 30px !important;
	font-style: normal;
	font-weight: 700;
}

p.blockera-block.blockera-block-4 {
	background-color: #5577ff;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	flex: 1 1 0%;
	align-self: stretch;
	text-align: right;
}

@media screen and (max-width: 478px) {
	p.blockera-block.blockera-block-4 {
		flex: 1 1 0%;
		text-align: center;
	};
}

.blockera-block.blockera-block-5.wp-block-columns {
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 50px;
	background-color: #95aaff;
	padding-top: 40px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 30px;
	gap: 50px;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-5.wp-block-columns {
		gap: 50px;
		padding-top: 60px;
		padding-right: 30px;
		padding-bottom: 20px;
		padding-left: 30px;
	};
}

.blockera-block.blockera-block-6.wp-block-column {
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 150px;
	background-color: #5577ff;
}

.blockera-block.blockera-block-7.wp-block-image :is(img:not([src=""]), svg:not(:empty)) {
	border: 9px solid #0d2285;
	border-radius: 60px;
	aspect-ratio: 4/3;
	object-fit: cover;
}

.blockera-block.blockera-block-7.wp-block-image {
	margin-bottom: 24px;
	transition: all 500ms ease 0ms;
}

.blockera-block.blockera-block-7 :where(img.has-border-color) {
	border-color: #0d2285;
	border-width: 9px;
	border-radius: 60px;
	aspect-ratio: 4/3;
	object-fit: cover;
}

.blockera-block.blockera-block-8.wp-block-heading {
	color: #ffffff;
	background-color: #203fbe;
	margin-right: 20px !important;
	margin-left: 20px !important;
}

.blockera-block.blockera-block-8 :where(a:not(.wp-element-button)) {
	color: #ffffff;
}

p.blockera-block.blockera-block-9 {
	color: #ffffff;
	background-color: #203fbe;
	margin-right: 60px !important;
	margin-left: 60px !important;
	font-size: var(--wp--preset--font-size--medium, 1rem) !important;
}

.blockera-block.blockera-block-9 a:not(.wp-element-button) {
	color: #ffffff;
}

.blockera-block.blockera-block-10.wp-block-column {
	border-radius: 50px;
	background-color: #5577ff;
	flex-basis: 220px !important;
	overflow: hidden;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-10.wp-block-column {
		flex-basis: 150px !important;
		border-radius: 10px;
		flex-grow: 0;
	}

	.blockera-block.blockera-block-10.wp-block-column.is-layout-constrained > * + * {
		margin-block-start: 30px !important;
	};
}

.blockera-block.blockera-block-10 :where(figure.wp-block-image.size-full) {
	margin-bottom: 24px;
}

.blockera-block.blockera-block-10 :where(img) {
	aspect-ratio: 4/3;
	object-fit: cover;
}

.blockera-block.blockera-block-11.wp-block-heading {
	background-color: #213fbe;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	font-style: normal;
	font-weight: 500;
	text-align: right;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-11.wp-block-heading {
		text-align: center;
		padding-top: 13px;
		padding-right: 0;
		padding-bottom: 13px;
		padding-left: 0;
		font-weight: 700;
		font-style: normal;
		color: #ffffff;
	};
}

p.blockera-block.blockera-block-12 {
	color: #fcfcfc;
	background-color: #213fbe;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 46px;
	padding-left: 0;
	font-size: var(--wp--preset--font-size--medium, 1rem) !important;
}

.blockera-block.blockera-block-12 a:not(.wp-element-button) {
	color: #fcfcfc;
}

@media screen and (max-width: 478px) {
	p.blockera-block.blockera-block-12 {
		text-align: center;
	};
}

.blockera-block.blockera-block-13.wp-block-column {
	background-color: #5577ff;
	margin-left: -30px !important;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	display: flex !important;
	flex-direction: column;
	justify-content: flex-end !important;
	align-items: center !important;
	gap: 10px;
}

.blockera-block.blockera-block-13.wp-block-column.is-layout-constrained > * + * {
	margin-block-start: 0 !important;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-13.wp-block-column {
		min-height: 500px;
		padding-top: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
		margin-right: -20px !important;
		margin-left: -20px !important;
	};
}

.blockera-block.blockera-block-14.wp-block-image :is(img:not([src=""]), svg:not(:empty)) {
	border-radius: 20px;
	aspect-ratio: 4/3;
	object-fit: cover;
}

.blockera-block.blockera-block-14.wp-block-image {
	margin-bottom: 24px;
}

.blockera-block.blockera-block-14 :where(img) {
	border-radius: 20px;
	aspect-ratio: 4/3;
	object-fit: cover;
}

.blockera-block.blockera-block-15.wp-block-group {
	background-color: #213fbe;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex !important;
	flex-direction: column;
	gap: 20px;
}

.blockera-block.blockera-block-15.wp-block-group.is-layout-constrained > * + * {
	margin-block-start: 0 !important;
}

.blockera-block.blockera-block-16.wp-block-heading {
	color: #ffffff;
	background-color: #0d2385;
	margin-top: -10px;
	margin-left: -10px !important;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	align-self: stretch;
	height: 50px;
}

.blockera-block.blockera-block-16 :where(a:not(.wp-element-button)) {
	color: #ffffff;
}

p.blockera-block.blockera-block-17 {
	color: #ffffff;
	background-color: #0d2285;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	align-self: stretch;
	font-size: var(--wp--preset--font-size--medium, 1rem) !important;
}

.blockera-block.blockera-block-17 a:not(.wp-element-button) {
	color: #ffffff;
}