.blockera-component-popover {

	&.blockera-control-popover-dynamic-values {
		--blockera-controls-primary-color: var(--blockera-value-addon-dv-color);
		--blockera-controls-primary-color-darker-20: var(--blockera-value-addon-dv-color-darker-20);
		--va-color: var(--blockera-value-addon-dv-color);
		--va-border-color: var(--blockera-value-addon-dv-border-color);
		--va-bg-color: var(--blockera-value-addon-dv-bg-color);

		.blockera-control-picker-category {

			.blockera-control-picker-category-header {
				color: var(--blockera-controls-primary-color);
			}
		}
	}
}
