
u0026 {
	n color: red;
	n
}

nnu0026:hover {
	n color: green;
	n
}

n p.blockera-block.blockera-block-2 {
	font-family: var(--wp--preset--font-family--fira-code) !important;
	font-size: 20px;
}

u0026 {
	n color: var(u002du002dwpu002du002dpresetu002du002dcoloru002du002daccent-3, #503AA8);
	n
}

n