.publisher-component-extension {
	.components-panel__body-title {
		.components-panel__body-toggle {
			color: var(--publisher-controls-border-color-focus);
			font-weight: 600;
			font-size: 13px;
			padding: 0 16px;
			height: 48px;

			.extension-icon {
				order: -1;
				margin-right: 5px;
			}
		}
	}

	&.components-panel__body.is-opened {
		padding: 16px 16px 16px;
		margin-bottom: 10px;
	}

	&.components-panel__body.is-opened > .components-panel__body-title {
		margin-bottom: 10px;
	}
}
