.blockera-component-feature-wrapper {
	position: relative;
	user-select: none;

	&:not(:last-child) {
		margin-bottom: 15px;
	}

	.blockera-component-feature-wrapper__notice {
		position: absolute;
		right: 0;
		color: #ff7979;
		display: grid;
		grid-template-columns: auto 18px;
		gap: 5px;
		z-index: 10;
		min-height: 30px;
		align-items: center;
		padding: 0 2px 0 0;
		top: 50%;
		transform: translateY(-50%);

		svg {
			fill: currentColor;
			order: 10;
			background: rgba(255, 255, 255, 0.86);
			border-radius: 2px;
			transition: var(--blockera-controls-transition);
		}

		.blockera-component-feature-wrapper__notice__text {
			font-size: 12px;
			font-weight: 500;
			line-height: 1.2;
			transition: var(--blockera-controls-transition);
			padding: 5px;
			text-align: right;
			opacity: 0;
			border-radius: 2px;
			text-shadow: 1.41px 1.41px #ffffff, 2px 0 #ffffff, 1.41px -1.41px #ffffff, 0 -2px #ffffff, -1.41px -1.41px #ffffff, -2px 0 #ffffff, -1.41px 1.41px #ffffff, 0 2px #ffffff;
		}
	}

	.blockera-component-feature-wrapper__children {
		opacity: 0.4;
		pointer-events: none;
		user-select: none;
		z-index: 1;
		position: relative;

		& > * {
			pointer-events: none;
			z-index: 0;
			-webkit-user-select: none;
			user-select: none;
			position: relative;
		}
	}

	&:hover {

		.blockera-component-feature-wrapper__notice {
			color: #ff0c0c;

			.blockera-component-feature-wrapper__notice__text {
				opacity: 1;
			}
		}
	}
}

.blockera-field-color + .blockera-component-feature-wrapper {

	.blockera-component-feature-wrapper__notice {
		top: 10px;
	}
}
