.publisher-control-repeater {
	display: flex;
	row-gap: 10px;
	flex-direction: column;
	
	& > .publisher-control-header {
		display: flex;
		align-items: center;
	}
	
	.publisher-control-repeater-item {
		.publisher-control-group-header {
			padding: 0;
		}
	}
	
	.publisher-control-group-header {
		
		.publisher-control-repeater-group-header {
			display: flex;
			gap: 7px;
			align-items: center;
			flex-wrap: nowrap;
			padding: 2px 12px;
			height: 30px;
			width: 100%;
			position: relative;
			letter-spacing: -0.2px;
			font-size: 12px;
			
			.publisher-control-header-icon {
				display: flex;
				min-width: 20px;
				justify-content: center;
				align-content: center;
				
				svg {
					fill: currentColor;
				}
			}
			
			.publisher-control-header-values {
				margin-left: auto;
				display: flex;
				min-width: 20px;
				justify-content: flex-end;
				align-content: center;
				gap: 8px;
				text-transform: capitalize;
			}
		}
		
		.publisher-control-action-buttons {
			position: absolute;
			top: 0;
			right: 5px;
			opacity: 0;
			visibility: hidden;
			display: flex;
			align-items: center;
			background: #ffffff;
			gap: -1px;
			padding-left: 3px;
			
			.components-button {
				margin-right: -5px;
			}
			
			.status {
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
			}
		}
		
		.publisher-control-btn-toggle + .publisher-control-action-buttons {
			right: 30px;
		}
		
		&:hover .publisher-control-action-buttons {
			opacity: 1;
			visibility: visible;
		}
		
		&:hover .publisher-control-header-values {
			opacity: 0;
			visibility: hidden;
		}
	}
	
	.publisher-control-repeater-header-action-buttons {
		margin-left: auto;
		display: flex;
		flex-direction: row;
		gap: 10px;
		
		.publisher-control-btn-add {
			padding: 0 !important;
			width: 22px;
		}
	}
}
