.publisher-core-panel-tab {
	z-index: 999999;
	border: 1px solid #d5dadf;

	.component-color-indicator {
		margin-right: 6px;
	}

	.publisher-core-panel-tab__header {
		display: flex;
		background: #ffffff;
		border-bottom: none;

		.publisher-core-panel-tab__header__label {
			cursor: default;
			flex-basis: 90%;
			display: flex;
			align-items: center;
			padding-left: 15px;

			&::selection {
				background: none;
			}
		}

		.components-button {
			height: auto;
			flex-basis: 10%;
			justify-content: center;

			.dashicon {
				margin: 2px;
			}
		}
	}

	.publisher-core-panel-tab__content {
		background: #ffffff;
		padding: 0 15px;

		.components-select-control {

			label {
				overflow: visible;
				white-space: normal;
			}
		}

		.components-base-control {
			margin: 12px 0;

			.components-dropdown {
				width: 100%;

				.components-button {
					display: flex;
					justify-content: center;
					width: 100%;
				}
			}

			.components-datetime__time-field-hours-input {
				min-width: 60px;
			}

			.components-datetime__timezone {
				display: inline-block;
			}
		}
	}
}
