.publisher-core.publisher-component.panel-tab {
	z-index: 999999;
	border: 1px solid #d5dadf;

	.publisher-core-panel-tab__header {
		display: flex;
		background: #ffffff;
		border-bottom: none;

		.publisher-core-panel-tab__header__label {
			cursor: default;
			flex-basis: 90%;
			display: flex;
			align-items: center;
			padding-left: 15px;

			&::selection {
				background: none;
			}
		}

		.components-button {
			height: auto;
			flex-basis: 10%;
			justify-content: center;

			.dashicon {
				margin: 2px;
			}
		}
	}

	.publisher-core-panel-tab__content {
		background: #ffffff;
		padding: 0 15px;

		.components-base-control {
			margin: 12px 0;
		}
	}
}

.publisher-core.publisher-component.panel-tab.visible {
	opacity: 1;
}

.publisher-core.publisher-component.panel-tab.invisible {
	opacity: 0.5;
}
