
.blockera-block.blockera-block-1.wp-block-media-text {
	border-color: #e2c566;
	border-width: 3px;
	background-color: #f1e4b8;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	grid-template-columns: 43% auto;
	border: 3px solid #e2c566;
	border-radius: 10px;
	transition: all 500ms ease 0ms;
}

.blockera-block.blockera-block-1 :where(p) {
	background-color: #e2c259;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	transition: all 500ms ease 0ms;
}

.blockera-block.blockera-block-1 :where(:is(h1, h2, h3, h4, h5, h6).wp-block-heading) {
	background-color: #e2c259;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	transition: all 500ms ease 0ms;
}

.blockera-block.blockera-block-1 .wp-block-media-text__media {
	transition: all 500ms ease 0ms;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.blockera-block.blockera-block-1 .wp-block-media-text__media img {
	border: 3px solid #0000004a;
	box-shadow: 10px 10px 0 0 #00000078;
}

.blockera-block.blockera-block-1.wp-block-media-text:hover {
	background-color: #eadaa6;
}

.blockera-block.blockera-block-1:hover :where(p) {
	background-color: #dbb435;
}

.blockera-block.blockera-block-1:hover :where(:is(h1, h2, h3, h4, h5, h6).wp-block-heading) {
	background-color: #dbb63c;
}

.blockera-block.blockera-block-1:hover .wp-block-media-text__media img {
	border-radius: 20px;
}

.blockera-block.blockera-block-1.wp-block-media-text::before {
	display: block !important;
	background-color: #00000047;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-radius: 5px;
	font-size: 16px !important;
	font-weight: 600;
	font-style: normal;
	content: "Before";
}

.blockera-block.blockera-block-1.wp-block-media-text::after {
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	background-color: #00000047;
	border-radius: 5px;
	font-size: 16px !important;
	font-weight: 600;
	font-style: normal;
	content: "After";
}

.blockera-block.blockera-block-1.wp-block-media-text {
	background-color: #f1e4b8;
	border: 3px solid #e2c566;
	border-radius: 10px;
	transition: all 500ms ease 0ms;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.blockera-block.blockera-block-1 :where(p) {
	background-color: #e2c259;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	transition: all 500ms ease 0ms;
}

.blockera-block.blockera-block-1 :where(:is(h1, h2, h3, h4, h5, h6).wp-block-heading) {
	background-color: #e2c259;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	transition: all 500ms ease 0ms;
}

.blockera-block.blockera-block-1 .wp-block-media-text__media {
	transition: all 500ms ease 0ms;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.blockera-block.blockera-block-1 .wp-block-media-text__media img {
	border: 3px solid #0000004a;
	box-shadow: 10px 10px 0 0 #00000078;
}

.blockera-block.blockera-block-1.wp-block-media-text:hover {
	background-color: #eadaa6;
}

.blockera-block.blockera-block-1:hover :where(p) {
	background-color: #dbb435;
}

.blockera-block.blockera-block-1:hover :where(:is(h1, h2, h3, h4, h5, h6).wp-block-heading) {
	background-color: #dbb63c;
}

.blockera-block.blockera-block-1:hover .wp-block-media-text__media img {
	border-radius: 20px;
}

.blockera-block.blockera-block-1.wp-block-media-text::before {
	display: block !important;
	background-color: #00000047;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-radius: 5px;
	font-size: 16px !important;
	font-weight: 600;
	font-style: normal;
	content: "Before";
}

.blockera-block.blockera-block-1.wp-block-media-text::after {
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	background-color: #00000047;
	border-radius: 5px;
	font-size: 16px !important;
	font-weight: 600;
	font-style: normal;
	content: "After";
}

.blockera-block.blockera-block-3.wp-block-heading {
	border-radius: 50px;
	background-color: #ffa6a6;
	font-size: 18px !important;
	font-style: normal;
	font-weight: 700;
}

.blockera-block.blockera-block-3.wp-block-heading:hover {
	background-color: #ed6a6a;
}