.blockera-block.blockera-block-1.wp-block-post-author-name {
	color: #ff2e2e;
	background-color: #ffe1e1;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
}

.blockera-block.blockera-block-1 :where(a:not(.wp-element-button)) {
	color: #ff2e2e;
}

.blockera-block.blockera-block-1.wp-block-post-author-name:hover {
	background-color: #f8a3a3;
}

.blockera-block.blockera-block-2.wp-block-post-author-name {
	color: #ce7e06;
	background-color: #d7c8a0;
	font-size: 18px !important;
	font-style: normal;
	font-weight: 600;
	border-radius: 10px;
	transition: all 500ms ease 0ms;
	display: flex !important;
	gap: 10px;
	padding: 20px 20px 20px 20px;
	text-align: center;
}

.blockera-block.blockera-block-2 :where(a:not(.wp-element-button)) {
	color: #f8f4f4;
	display: flex !important;
	padding: 5px 5px 5px 5px;
	text-decoration: initial;
	background-color: #0000008a;
	border-radius: 5px;
	font-size: 16px !important;
	transition: all 500ms ease 0ms;
	flex: 1 1 0%;
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
	gap: 10px;
}

.blockera-block.blockera-block-2 :where(a:not(.wp-element-button)):hover {
	font-size: 18px !important;
	text-decoration: underline;
}

.blockera-block.blockera-block-2 :where(a:not(.wp-element-button))::before {
	flex: 1 1 0%;
	content: "Before";
	padding: 5px 10px 5px 10px;
	font-size: 14px !important;
	background-color: #00000082;
	border-radius: 5px;
}

.blockera-block.blockera-block-2 :where(a:not(.wp-element-button))::after {
	flex: 1 1 0%;
	content: "After";
	font-size: 14px !important;
	background-color: #00000073;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-2.wp-block-post-author-name {
		flex-direction: column;
		padding: 20px 20px 20px 20px;
		flex-wrap: wrap !important;
		align-content: flex-start;
		background-color: #e6c66f;
	}

	.blockera-block.blockera-block-2 :where(a:not(.wp-element-button)) {
		flex-direction: column;
		justify-content: center !important;
		align-items: center !important;
	}

	.blockera-block.blockera-block-2 :where(a:not(.wp-element-button))::after {
		align-self: flex-end;
		content: "After";
	}

	.blockera-block.blockera-block-2 :where(a:not(.wp-element-button))::before {
		align-self: stretch;
		content: "Before";
	};
}

.blockera-block.blockera-block-2.wp-block-post-author-name:hover {
	background-color: #b7a269;
	padding: 20px 20px 20px 20px;
}

.blockera-block.blockera-block-2.wp-block-post-author-name::before {
	padding: 5px 10px 5px 10px;
	background-color: #00000030;
	color: #ffffff;
	display: flex !important;
	border-radius: 5px;
	content: "Before";
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-2.wp-block-post-author-name::before {
		order: 100;
		width: 100%;
		width: -moz-available;
		width: -webkit-fill-available;
		width: stretch;
		box-sizing: border-box;
		content: "Before";
	};
}

.blockera-block.blockera-block-2.wp-block-post-author-name::after {
	background-color: #00000054;
	padding: 5px 40px 5px 40px;
	color: #ffffff;
	border-radius: 20px;
	content: "After";
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-2.wp-block-post-author-name::after {
		box-sizing: border-box;
		width: 50%;
		order: 100;
		content: "After";
	};
}