/**
 * This file just must be load on Gutenberg editor iframe.
 * So, you should not import this file in global styles.
 */

.showHandles .handle {
	display: block;
}

.handle {
	display: none;
	width: 10px !important;
	height: 10px !important;
	background: #ffffff;
	border-radius: 20px;
	border: 1px solid #cccccc;
	position: absolute;
	box-shadow: 0 0 5px 1px rgb(57 76 96 / 15%), 0 0 0 1px rgb(53 71 90 / 20%);
}

.long-handle {
	height: 15px !important;
	width: 5px !important;
}

.long-handle-horizontal {
	height: 5px !important;
	width: 15px !important;
}

.right-handle.bottom-handle {
	transform: translate(-4px, -4px);
}

.right-handle.top-handle {
	transform: translate(-4px, 4px);
}

.left-handle.bottom-handle {
	transform: translate(4px, -4px);
}

.left-handle.top-handle {
	transform: translate(4px, 4px);
}

.long-handle-horizontal.bottom-handle,
.long-handle-horizontal.top-handle {
	left: 50% !important;
	transform: translateX(-8px);
}

.long-handle.left-handle,
.long-handle.right-handle {
	top: 50% !important;
	transform: translateY(-8px);
}

.size-handler {
	border-radius: 3px;
	background: #147eb8;
	display: flex;
	overflow: hidden;

	&.row-handler {
       width: 26px;
	   flex-direction: column;
	   justify-content: space-between;
	   align-items: center;

	   span {
         transform: rotate(-90deg);
	   }
	}

	&.column-handler {
		height: 26px;
		justify-content: space-between;
	    align-items: center;
	}
}

.cell {
    position: relative;
	border: 1px dashed rgba(20, 126, 184, 0.5);
	background: rgba(20, 126, 184, 0.1);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	 color: #147eb8;
	 overflow: hidden;

	 &.hovered {
		border: 1px dashed #147eb8;
		background: rgba(20, 126, 184, 0.25);
	 }
}

.content-container {
		display: grid;
		grid-column: 2 / -1;
		grid-row: 2 / -1;

    .gap-handlers-container {
		width: 100%;
		height: 100%;
		position: absolute;
		display: grid;
		grid-column: 2 / -1;
		grid-row: 2 / -1;
	}
}

.add-btn {
	background-color: #147eb8 !important;
	width: 26px;
	height: 26px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
