.publisher-control-border {
	display: grid;
	grid-template-columns: 1fr 30px 1fr;
	align-items: center;
	min-width: 100px;
	box-shadow: inset 0 0 0 1px var(--publisher-controls-border-color);
	border-radius: 2px;
	gap: 2px;
	width: 100%;
	
	&:hover {
		box-shadow: inset 0 0 0 1px var(--publisher-controls-border-color-hover);
	}
	
	&:first-child:last-child {
		margin-left: auto;
	}
	
	> span:empty {
		display: none;
	}
	
	.publisher-control-select.custom .components-custom-select-control__button {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	
	> .publisher-control-input {
		margin-right: auto;
		
		.components-input-control__suffix {
			display: none;
		}
		
		.components-input-control__container {
			background: transparent;
			
			.components-input-control__input {
				border-radius: 2px 0 0 2px !important;
				z-index: 1;
				padding: 6px 0 !important;
				text-align: center;
				font-size: 12px !important;
				
				&:focus {
					z-index: 10;
					box-shadow: 0 0 0 1px var(--publisher-controls-border-color-focus) !important;
					border: 1px solid var(--publisher-controls-border-color-focus);
				}
			}
		}
	}
	
	.publisher-control-color {
		border-radius: 0 !important;
		z-index: 1;
		
		&.is-focus {
			box-shadow: 0 0 0 1px var(--publisher-controls-border-color-focus);
			border: 1px solid var(--publisher-controls-border-color-focus);
		}
	}
	
	> .publisher-control-select {
		margin-left: auto;
		z-index: 1;
		width: 100%;
		
		.components-input-control__backdrop {
			border-radius: 0 2px 2px 0 !important;
		}
		
		.components-custom-select-control__button {
			padding: 0 10px;
		}
		
		.components-input-control__backdrop.components-input-control__backdrop {
			box-shadow: 0 0 0 1px var(--publisher-border-color, transparent) !important;
			border: 1px solid var(--publisher-border-color, transparent) !important;
		}
		
		.components-custom-select-control__menu {
			.components-custom-select-control__item-icon {
				display: none;
			}
			
			.components-custom-select-control__item {
				text-align: center;
			}
		}
		
		&:focus-within {
			z-index: 10;
		}
	}
}
