.publisher-control-border {
	display: grid;
	grid-template-columns: 35px 30px 35px;
	align-items: center;
	width: 110px;
	box-shadow: inset 0 0 0 1px #949494;
	border-radius: 2px;
	padding: 1px;
	gap: 2px;

	> span:empty {
		display: none;
	}

	.publisher-control-input .components-text-control__input {
		border-radius: 2px 0 0 2px !important;
		margin: 0;
		z-index: 1;
		padding: 6px 3px;
		text-align: center;
		-moz-appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		&:focus {
			z-index: 10;
			box-shadow: 0 0 0 2px var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba)) !important;
		}
	}

	.publisher-control-color-indicator {
		border-radius: 0 !important;
		z-index: 1;

		&.is-focus {
			box-shadow: 0 0 0 2px var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
		}
	}

	.publisher-control-select {
		z-index: 1;

		.components-input-control__backdrop {
			border-radius: 0 2px 2px 0 !important;
		}

		.components-custom-select-control__button {
			padding: 0 10px;
		}

		.components-input-control__backdrop.components-input-control__backdrop {
			box-shadow: 0 0 0 2px var(--publisher-border-color, transparent) !important;
		}

		.components-custom-select-control__menu {
			.components-custom-select-control__item-icon {
				display: none;
			}

			.components-custom-select-control__item {
				text-align: center;
			}
		}

		&:focus-within {
			z-index: 10;
		}
	}
}
