
.publisher-control-input {
	
	.components-text-control__input {
		border: 1px solid #949494;
		border-radius: 2px;
	}
	
	.components-input-control__input[type=css],
	.components-input-control__input[type=number] {
		cursor: ns-resize;
	}
	
	&.no-border {
		.components-input-control__backdrop {
			border: none !important;
			border-radius: 2px !important;
			box-shadow: none !important;
			background: none !important;
		}
		
		.components-text-control__input {
			border: none;
			border-radius: 2px;
			box-shadow: none;
			background: none;
			
			&:focus {
				border-radius: 2px;
				box-shadow: none;
			}
		}
	}
	
	
	.components-input-control__suffix,
	.components-unit-control__select {
		width: 25px !important;
		font-size: 11px !important;
		color: #aeaeae !important;
		font-weight: 500;
		padding: 0 !important;
		text-align: center !important;
		text-align-last: center !important;
		height: 30px !important;
		line-height: 28px !important;
	}
	
	.components-unit-control__unit-label {
		font-size: 11px !important;
		color: #aeaeae !important;
		font-weight: 500 !important;
		padding: 0 !important;
		letter-spacing: 0 !important;
		width: auto !important;
	}
}

.publisher-control-unit.publisher-control-unit-special {
	.components-input-control__input {
		display: none !important;
	}
	
	.components-input-control__suffix {
		width: 100% !important;
		height: 30px !important;
		
		.components-unit-control__select {
			width: 100% !important;
			border-radius: 2px !important;
			text-transform: capitalize !important;
			font-size: 13px !important;
			font-weight: 400 !important;
			color: rgb(30, 30, 30) !important;
			text-align: left !important;
			text-align-last: left !important;
			padding: 0px 26px 0px 8px !important;
			background: #ffffff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%231E1E1E%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
			background-size: 13px 11px !important;
			letter-spacing: 0;
		}
	}
}

.publisher-control-input.input-range {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 15px;
	
	& > .components-base-control {
		margin: 0;
		min-width: 60px;
	}
	
	&.publisher-control-unit-special {
		grid-template-columns: 1fr;
		
		.publisher-control-range {
			display: none;
		}
	}
}
