:where(body) {
	margin: 0;
}

.wp-site-blocks > .alignleft {
	float: left;
	margin-right: 2em;
}

.wp-site-blocks > .alignright {
	float: right;
	margin-left: 2em;
}

.wp-site-blocks > .aligncenter {
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

:root :where(p.is-style-akbar--1){
	background-color: #eeeeee;
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.588), 20px);
	line-height: 1.2;
}

:root body :where(p.is-style-akbar--1) {
	line-height: 1.2;
	font-size: 20px;
	background-color: #eeeeee;
}

:where(body) {
	margin: 0;
}

.wp-site-blocks > .alignleft {
	float: left;
	margin-right: 2em;
}

.wp-site-blocks > .alignright {
	float: right;
	margin-left: 2em;
}

.wp-site-blocks > .aligncenter {
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

:root :where(.is-style-text-annotation--2 a:where(:not(.wp-element-button))){
	text-decoration: none;
}

:root :where(p.is-style-text-annotation--2){
	border-radius: 16px;
	border-color: currentColor;
	border-width: 1px;
	border-style: solid;
	font-size: var(--wp--preset--font-size--small);
	letter-spacing: normal;
	line-height: 1.5;
	padding-top: 0.2rem;
	padding-right: 0.6rem;
	padding-bottom: 0.25rem;
	padding-left: 0.6rem;
}

:root :where(p.is-style-text-annotation--2){
	width: fit-content;
}