.blockera-block.blockera-block-1.wp-block-group {
	display: flex !important;
	flex-direction: column;
	gap: 30px;
}

.blockera-block.blockera-block-1.wp-block-group.is-layout-constrained > * + * {
	margin-block-start: 0 !important;
}

p.blockera-block.blockera-block-2 {
	background-color: #a63636;
	font-size: 16px;
	padding: 20px 20px 20px 20px;
}

p.blockera-block.blockera-block-3 {
	background-color: #ffd5d5;
	padding: 5px 20px 5px 20px;
	font-size: 16px;
}