:root :where(.is-style-text-annotation--1 a:where(:not(.wp-element-button))){
	text-decoration: none;
}

:root :where(p.is-style-text-annotation--1){
	border-radius: 16px;
	border-color: currentColor;
	border-width: 1px;
	border-style: solid;
	font-size: var(--wp--preset--font-size--small);
	letter-spacing: normal;
	line-height: 1.5;
	padding-top: 0.2rem;
	padding-right: 0.6rem;
	padding-bottom: 0.25rem;
	padding-left: 0.6rem;
}

:root :where(p.is-style-text-annotation--1){
	width: fit-content;
}