.blockera-block-preview-panel {
	position: relative;
	margin: 0 16px;
	box-sizing: border-box !important;
	width: auto;
	overflow: hidden;
	border: 1px solid #dddddd;
	border-radius: 2px;
	height: 144px;
}

.blockera-global-styles-panel-stack {
	display: flex;
	flex-direction: column;
	gap: 0;

	&.has-dual-variation-surfaces {
		> :not(.blockera-global-styles-panel-aside) {
			.blockera-extension-style-variations.blockera-control.blockera-control-panel-body:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}

			.blockera-extension-block-card.master-block-card.outside-block-inspector:not(
					.style-variation-is-selected
				) {
				padding-bottom: 0;
				border-bottom: none;
			}
		}

		.blockera-global-styles-panel-aside {
			.blockera-block-card-wrapper:not(.is-stuck)
				.blockera-extension-block-card.outside-block-inspector:not(
					.style-variation-is-selected
				) {
				border-top: none;
				padding-top: 16px;
			}
		}
	}
}

.blockera-global-styles-panel-aside {
	position: relative;
	z-index: 99999;
	background: #ffffff;
}
