.blockera-block-3 :where(.blockera-block-3-child-1) {
	background-color: #dfdfdf;
}

.blockera-block-3 {
	background-color: #ecb9ff;
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.196), 16px);
	font-style: normal;
	font-weight: 500;
	line-height: 2;
	border-radius: 10px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}

.blockera-block-2 :where(.blockera-block-2-child-1) {
	background-color: #dfdfdf;
}

.blockera-block-2 {
	background-color: #c7cdff;
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.196), 16px);
	font-style: normal;
	font-weight: 600;
	line-height: 2;
	border-radius: 10px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.blockera-block-1 :where(.blockera-block-1-child-1) {
	background-color: #dfdfdf;
}

.blockera-block-1 {
	background-color: #ffd7d7;
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.196), 16px);
	font-style: normal;
	font-weight: 600;
	line-height: 2;
	border-radius: 10px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.blockera-block-wrapper {
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.392), 18px);
	line-height: 2;
}