.blockera-block.blockera-block-1.wp-block-post-excerpt {
	background-color: #ffd7d7;
	border-radius: 10px;
	box-shadow: 10px 10px 0 0 #c97474ab;
	padding: 20px 20px 20px 20px;
	font-weight: 600;
	font-style: normal;
	font-size: 16px;
	line-height: 2;
}

html:root body :where(.blockera-block.blockera-block-1) a.wp-block-post-excerpt__more-link {
	font-weight: 700;
	font-style: normal;
	color: #ffffff;
	background-color: #ff4c4c;
	padding: 5px 10px 5px 10px;
	border-radius: 50px;
	text-decoration: initial;
	display: inline-block !important;
}

html:root body :where(.blockera-block.blockera-block-1) :is(strong, b) {
	background-color: #ff0000;
}

html:root body :where(.blockera-block.blockera-block-1) :is(em, i) {
	background-color: #48e400;
}

html:root body :where(.blockera-block.blockera-block-1) kbd {
	background-color: #00ffee;
}

html:root body :where(.blockera-block.blockera-block-1) code {
	background-color: #9496ff;
}

html:root body :where(.blockera-block.blockera-block-1) span:not([data-rich-text-placeholder]) {
	background-color: #ff9d00;
}

html:root body :where(.blockera-block.blockera-block-1) :is(mark, mark[class]) {
	background-color: #bbff00;
}

html:root body :where(.blockera-block.blockera-block-1) a:not(.wp-element-button, .wp-block-post-excerpt__more-link) {
	background-color: #dd00ff;
	color: #ffffff;
}

html:root body :where(.blockera-block.blockera-block-1) a.wp-block-post-excerpt__more-link:hover {
	background-color: #ff0101;
}

html:root body :where(.blockera-block.blockera-block-1) a.wp-block-post-excerpt__more-link::before {
	font-size: 14px;
	content: "Before";
	display: inline-block !important;
	padding: 5px 10px 5px 10px;
	background-color: #00000033;
	border-radius: 5px;
}

html:root body :where(.blockera-block.blockera-block-1) a.wp-block-post-excerpt__more-link::after {
	font-size: 14px;
	content: "After";
	padding: 5px 10px 5px 10px;
	display: inline-block !important;
	background-color: #00000030;
	border-radius: 5px;
}

@media screen and (max-width: 478px) and (min-width: 0px) {
	.blockera-block.blockera-block-1.wp-block-post-excerpt {
		display: flex !important;
		flex-direction: column;
		gap: 20px;
	}

	html:root body :where(.blockera-block.blockera-block-1) a.wp-block-post-excerpt__more-link {
		display: flex !important;
		flex-direction: row;
		align-items: center !important;
		justify-content: center !important;
		gap: 10px;
		padding: 10px 10px 10px 10px;
		border-radius: 5px;
	}

}

.blockera-block.blockera-block-1.wp-block-post-excerpt::before {
	display: inline-block !important;
	border-radius: 5px;
	background-color: #0000002b;
	padding: 5px 10px 5px 10px;
	content: "Before";
}

@media screen and (max-width: 478px) and (min-width: 0px) {
	.blockera-block.blockera-block-1.wp-block-post-excerpt::before {
		display: flex !important;
		flex-direction: row;
		align-items: center !important;
		justify-content: center !important;
		content: "Before";
	}

}

.blockera-block.blockera-block-1.wp-block-post-excerpt::after {
	padding: 5px 10px 5px 10px;
	display: inline-block !important;
	background-color: #00000036;
	border-radius: 5px;
	content: "After";
}

@media screen and (max-width: 478px) and (min-width: 0px) {
	.blockera-block.blockera-block-1.wp-block-post-excerpt::after {
		display: flex !important;
		flex-direction: row;
		align-items: center !important;
		justify-content: center !important;
		content: "After";
	}

}

.blockera-block.blockera-block-2.wp-block-post-excerpt {
	background-color: #c7cdff;
	border-radius: 10px;
	display: flex !important;
	flex-direction: column;
	align-items: center !important;
	justify-content: center !important;
	gap: 0;
	padding: 20px 20px 20px 20px;
	font-weight: 600;
	font-style: normal;
	font-size: 16px;
	line-height: 2;
	text-align: center;
}

html:root body :where(.blockera-block.blockera-block-2) a.wp-block-post-excerpt__more-link {
	font-weight: 700;
	font-style: normal;
	color: #ffffff;
	background-color: #6677fc;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 50px;
	text-decoration: initial;
	transition: all 200ms ease 0ms;
}

html:root body :where(.blockera-block.blockera-block-2) a:not(.wp-element-button, .wp-block-post-excerpt__more-link) {
	background-color: #ff0000;
	color: #ffffff;
}

html:root body :where(.blockera-block.blockera-block-2) a.wp-block-post-excerpt__more-link:hover {
	background-color: #ff0101;
}

html:root body :where(.blockera-block.blockera-block-2):hover a.wp-block-post-excerpt__more-link {
	background-color: #2840fa;
	transform: scale3d(105%, 105%, 50%);
	box-shadow: 0 5px 5px 0 #000000ab;
}

.blockera-block.blockera-block-3.wp-block-post-excerpt {
	background-color: #ecb9ff;
	border-radius: 10px;
	padding: 15px 15px 15px 15px;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	line-height: 2;
	text-align: center;
}

html:root body :where(.blockera-block.blockera-block-3) a:not(.wp-element-button, .wp-block-post-excerpt__more-link) {
	display: none !important;
}

html:root body :where(.blockera-block.blockera-block-3) a.wp-block-post-excerpt__more-link {
	display: none !important;
}

.blockera-block-3 :where(.blockera-block-3-child-1) {
	background-color: #dfdfdf;
}

.blockera-block-3 {
	background-color: #ecb9ff;
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.196), 16px);
	font-style: normal;
	font-weight: 500;
	line-height: 2;
	border-radius: 10px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}

.blockera-block-2 :where(.blockera-block-2-child-1) {
	background-color: #dfdfdf;
}

.blockera-block-2 {
	background-color: #c7cdff;
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.196), 16px);
	font-style: normal;
	font-weight: 600;
	line-height: 2;
	border-radius: 10px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.blockera-block-1 :where(.blockera-block-1-child-1) {
	background-color: #dfdfdf;
}

.blockera-block-1 {
	background-color: #ffd7d7;
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.196), 16px);
	font-style: normal;
	font-weight: 600;
	line-height: 2;
	border-radius: 10px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.blockera-block.blockera-block-wrapper.wp-block-group {
	display: flex !important;
	flex-direction: column;
	align-items: stretch !important;
	justify-content: flex-start !important;
	gap: 30px;
	font-size: 18px;
	line-height: 2;
}

.blockera-block.blockera-block-wrapper.wp-block-group.is-layout-constrained > * + * {
	margin-block-start: 0 !important;
}