.publisher-control-search {
	.components-base-control__field {
		margin: 0;
	}
	
	.components-search-control__icon {
		button {
			margin-right: -8px;
		}
	}
	
	input[type=search].components-search-control__input {
		height: 40px;
		padding: 12px 48px 12px 12px;
		background: #ffffff;
		box-shadow: 0 0 0 1px var(--publisher-controls-border-color);
		margin: 0;
		
		&:focus {
			box-shadow: 0 0 0 2px var(--publisher-controls-border-color-focus);
		}
	}
}
