
.blockera-block.blockera-block-1.wp-block-buttons {
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
	gap: 30px;
	text-transform: uppercase;
}

.blockera-block.blockera-block-1 .wp-block-button > .wp-element-button {
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
	background-color: #95aaff;
	color: #0023b1;
	border: 2px solid var(--wp--preset--color--accent-1, #FFEE58);
}

.blockera-block.blockera-block-1 .wp-block-button > .wp-element-button:hover {
	color: var(--wp--preset--color--accent-2, #F6CFF4);
	background-color: var(--wp--preset--color--accent-1, #FFEE58);
}

.blockera-block.blockera-block-2.wp-block-button .wp-block-button__link {
	background-color: #ffb8b8;
}

.blockera-block.blockera-block-3.wp-block-button .wp-block-button__link {
	background-color: #9f9f9f;
}

.blockera-block.blockera-block-3 .has-inline-color {
	background-color: #dfdfdf;
}

.blockera-block.blockera-block-3.wp-block-button .wp-block-button__link :is(strong, b) {
	background-color: #ffa200;
}

.blockera-block.blockera-block-3.wp-block-button .wp-block-button__link :is(em, i) {
	background-color: #87e100;
}

.blockera-block.blockera-block-3.wp-block-button .wp-block-button__link kbd {
	background-color: #00e870;
}

.blockera-block.blockera-block-3.wp-block-button .wp-block-button__link code {
	background-color: #004cff;
}

.blockera-block.blockera-block-3.wp-block-button .wp-block-button__link span:not([data-rich-text-placeholder]) {
	background-color: #cf00fe;
}

.blockera-block.blockera-block-3.wp-block-button .wp-block-button__link :is(mark, mark[class]) {
	background-color: #ff0090;
}

.blockera-block.blockera-block-3.wp-block-button .wp-block-button__link :is(strong, b):hover {
	background-color: #ae6e00;
}

.blockera-block.blockera-block-3.wp-block-button .wp-block-button__link :is(em, i):hover {
	background-color: #568f00;
}

.blockera-block.blockera-block-3.wp-block-button .wp-block-button__link kbd:hover {
	background-color: #009b4b;
}

.blockera-block.blockera-block-3.wp-block-button .wp-block-button__link code:hover {
	background-color: #0031a3;
}

.blockera-block.blockera-block-3.wp-block-button .wp-block-button__link span:not([data-rich-text-placeholder]):hover {
	background-color: #9100b1;
}

.blockera-block.blockera-block-3.wp-block-button .wp-block-button__link :is(mark, mark[class]):hover {
	background-color: #9d0059;
}