.blockera-block-3 {
	background-color: #e1e1e1;
}

.blockera-block-wrapper {
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.392), 18px);
	font-style: normal;
	font-weight: 600;
	line-height: 2;
}