.publisher-field-gradient-bar {
	> .publisher-field-control > :first-child {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	.components-custom-gradient-picker {
		.components-custom-gradient-picker__gradient-bar {
			border-radius: 52px;
			height: 40px;
			width: 100%;

			.components-custom-gradient-picker__control-point-dropdown {
				height: 18px;
				position: absolute;
				top: 11px;
				width: 18px;
			}

			.components-custom-gradient-picker__control-point-button {
				border: 1px solid #fff;
			}
		}

		.components-custom-gradient-picker__ui-line {
			display: none;
		}
	}
}
