.blockera-font-size-presets-count-active {
	margin: 0 !important;

	> div > *:not(:last-child) {
		display: none !important;
	}

	.global-styles-ui-header {
		margin-bottom: 0 !important;
	}
}

.is-open-blockera-typography-navigation-override {

	.edit-site-global-styles-screen > div {

		& > *:nth-last-child(2), & > *:nth-last-child(3) {
			display: none;
		}
	}
}
