
.blockera-block.blockera-block-1.wp-block-group {
	background-color: #dbc5c5;
	display: flex;
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
	row-gap: 30px;
	column-gap: 60px;
	flex-wrap: nowrap !important;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	font-weight: 500;
	font-style: normal;
	font-size: 18px;
}

.blockera-block.blockera-block-1.wp-block-group.is-layout-constrained > * + * {
	margin-block-start: 0 !important;
}

.blockera-block.blockera-block-1 p {
	background-color: #0000001a;
}

.blockera-block.blockera-block-2.wp-block-group {
	background-color: #e1ddc6;
	display: flex;
	flex-direction: row;
	align-items: stretch !important;
	justify-content: space-between !important;
	row-gap: 30px;
	column-gap: 60px;
	flex-wrap: wrap !important;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	font-weight: 500;
	font-style: normal;
	font-size: 18px;
}

.blockera-block.blockera-block-2.wp-block-group.is-layout-constrained > * + * {
	margin-block-start: 0 !important;
}

.blockera-block.blockera-block-2 p {
	background-color: #0000001a;
}

.blockera-block.blockera-block-3.wp-block-group {
	background-color: #bad2a1;
	display: flex;
	flex-direction: row;
	align-items: center !important;
	justify-content: flex-end !important;
	row-gap: 30px;
	column-gap: 60px;
	flex-wrap: wrap-reverse !important;
	align-content: space-between;
	height: 200px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	font-weight: 500;
	font-style: normal;
	font-size: 18px;
}

.blockera-block.blockera-block-3.wp-block-group.is-layout-constrained > * + * {
	margin-block-start: 0 !important;
}

.blockera-block.blockera-block-3 p {
	background-color: #0000001a;
}

.blockera-block.blockera-block-4.wp-block-group {
	background-color: #7fd0b6;
	display: flex;
	flex-direction: column;
	align-items: stretch !important;
	justify-content: flex-end !important;
	row-gap: 30px;
	column-gap: 60px;
	flex-wrap: nowrap !important;
	height: 400px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	font-weight: 500;
	font-style: normal;
	font-size: 18px;
}

.blockera-block.blockera-block-4.wp-block-group.is-layout-constrained > * + * {
	margin-block-start: 0 !important;
}

.blockera-block.blockera-block-4 p {
	background-color: #0000001a;
}

p.blockera-block.blockera-block-4-1 {
	background-color: #00000040;
	order: 100;
}

.blockera-block.blockera-block-5.wp-block-group {
	background-color: #81b7db;
	display: flex;
	flex-direction: column;
	align-items: flex-end !important;
	justify-content: space-between !important;
	row-gap: 30px;
	column-gap: 60px;
	flex-wrap: nowrap !important;
	height: 400px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	font-weight: 500;
	font-style: normal;
	font-size: 18px;
}

.blockera-block.blockera-block-5.wp-block-group.is-layout-constrained > * + * {
	margin-block-start: 0 !important;
}

.blockera-block.blockera-block-5 p {
	background-color: #0000001a;
}

p.blockera-block.blockera-block-5-1 {
	align-self: flex-start;
}

p.blockera-block.blockera-block-5-2 {
	align-self: stretch;
}

.blockera-block.blockera-block-6.wp-block-group {
	background-color: #bad2a1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	flex-wrap: nowrap !important;
	align-content: space-between;
	height: 400px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	font-weight: 500;
	font-style: normal;
	font-size: 18px;
}

.blockera-block.blockera-block-6.wp-block-group.is-layout-constrained > * + * {
	margin-block-start: 0 !important;
}

.blockera-block.blockera-block-6 p {
	background-color: #0000001a;
}

p.blockera-block.blockera-block-7 {
	align-self: stretch;
}

p.blockera-block.blockera-block-8 {
	align-self: flex-end;
}

p.blockera-block.blockera-block-9 {
	flex: 1 1 0%;
}

p.blockera-block.blockera-block-10 {
	background-color: #ffd8d8;
	display: block;
}

p.blockera-block.blockera-block-11 {
	background-color: #bbe18a;
	display: inline-block;
}

p.blockera-block.blockera-block-12 {
	background-color: #abeded;
	display: inline;
}

p.blockera-block.blockera-block-13 {
	display: none;
}