.blockera-block.blockera-block-1.wp-block-read-more {
	background-color: #ffdada;
	border: 2px solid #ff1818;
	border-radius: 10px;
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	width: stretch;
	padding: 20px 20px 20px 20px;
}

html:root body :where(.blockera-block.blockera-block-1) :is(strong, b) {
	background-color: #ff2424;
}

html:root body :where(.blockera-block.blockera-block-1) :is(em, i) {
	background-color: #ffbb00;
}

html:root body :where(.blockera-block.blockera-block-1) kbd {
	background-color: #00ff0d;
}

html:root body :where(.blockera-block.blockera-block-1) code {
	background-color: #00d0ff;
}

html:root body :where(.blockera-block.blockera-block-1) span:not([data-rich-text-placeholder]) {
	background-color: #1900ff;
}

html:root body :where(.blockera-block.blockera-block-1) :is(mark, mark[class]) {
	background-color: #ff00ff;
}

.blockera-block.blockera-block-1.wp-block-read-more:hover {
	background-color: #ffa8a8;
}

.blockera-block.blockera-block-2.wp-block-read-more {
	background-color: #d1ffb8;
	border-radius: 10px;
	display: flex !important;
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
	gap: 20px;
	padding: 10px 10px 10px 10px;
	font-weight: 600;
	font-style: normal;
	font-size: 18px;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-2.wp-block-read-more {
		display: flex !important;
		flex-direction: column;
		justify-content: center !important;
		align-items: center !important;
		gap: 20px;
		width: 100%;
		width: -moz-available;
		width: -webkit-fill-available;
		width: stretch;
	};
}

.blockera-block.blockera-block-2.wp-block-read-more::before {
	padding: 5px 5px 5px 5px;
	display: inline-block !important;
	background-color: #0000003b;
	border-radius: 10px;
	content: "Before";
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-2.wp-block-read-more::before {
		align-self: stretch;
		content: "Before";
	};
}

.blockera-block.blockera-block-2.wp-block-read-more::after {
	padding: 5px 5px 5px 5px;
	display: inline-block !important;
	background-color: #00000052;
	border-radius: 10px;
	content: "After";
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-2.wp-block-read-more::after {
		width: 100%;
		width: -moz-available;
		width: -webkit-fill-available;
		width: stretch;
		content: "After";
	};
}

.blockera-block-2 {
	background-color: #d1ffb8;
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.392), 18px);
	font-style: normal;
	font-weight: 600;
	border-radius: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.blockera-block-1 {
	background-color: #ffdada;
	border-color: #ff1818;
	border-radius: 10px;
	border-width: 2px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.blockera-block.blockera-block-wrapper.wp-block-group {
	display: flex !important;
	flex-direction: column;
	align-items: stretch !important;
	justify-content: flex-start !important;
	gap: 30px;
	font-weight: 600;
	font-style: normal;
	font-size: 18px;
	line-height: 2;
}

.blockera-block.blockera-block-wrapper.wp-block-group.is-layout-constrained > * + * {
	margin-block-start: 0 !important;
}