.blockera-block.blockera-block-1.wp-block-read-more {
	background-color: #ffdada;
	border-radius: 10px;
	border: 2px solid #ff1818;
	padding: 20px 20px 20px 20px;
}

.blockera-block.blockera-block-1 :is(strong, b) {
	background-color: #ff2424;
}

.blockera-block.blockera-block-1 :is(em, i) {
	background-color: #ffbb00;
}

.blockera-block.blockera-block-1 kbd {
	background-color: #00ff0d;
}

.blockera-block.blockera-block-1 code {
	background-color: #00d0ff;
}

.blockera-block.blockera-block-1 span:not([data-rich-text-placeholder]) {
	background-color: #1900ff;
}

.blockera-block.blockera-block-1 :is(mark, mark[class]) {
	background-color: #ff00ff;
}

.blockera-block.blockera-block-1.wp-block-read-more:hover {
	background-color: #ffa8a8;
}

.blockera-block.blockera-block-2.wp-block-read-more {
	background-color: #d1ffb8;
	font-size: 18px !important;
	font-style: normal;
	font-weight: 600;
	border-radius: 10px;
	display: block !important;
	padding: 10px 10px 10px 10px;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-2.wp-block-read-more {
		display: flex !important;
		gap: 20px;
		width: 100%;
		width: -moz-available;
		width: -webkit-fill-available;
		width: stretch;
	};
}

.blockera-block.blockera-block-2.wp-block-read-more::before {
	padding: 5px 5px 5px 5px;
	display: inline-block !important;
	background-color: #0000003b;
	border-radius: 10px;
	content: "Before";
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-2.wp-block-read-more::before {
		align-self: stretch;
		content: "Before";
	};
}

.blockera-block.blockera-block-2.wp-block-read-more::after {
	padding: 5px 5px 5px 5px;
	display: inline-block !important;
	background-color: #00000052;
	border-radius: 10px;
	content: "After";
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-2.wp-block-read-more::after {
		width: 100%;
		width: -moz-available;
		width: -webkit-fill-available;
		width: stretch;
		content: "After";
	};
}