:root :where(.wp-block-group.is-style-section-1){
	background-color: var(--wp--preset--color--accent-5);
	color: var(--wp--preset--color--contrast);
}

:root :where(.wp-block-group.is-style-section-2){
	background-color: var(--wp--preset--color--accent-2);
	color: var(--wp--preset--color--contrast);
}

:root :where(.wp-block-group.is-style-section-3){
	background-color: var(--wp--preset--color--accent-1);
	color: var(--wp--preset--color--contrast);
}

:root :where(.wp-block-group.is-style-section-4){
	background-color: var(--wp--preset--color--accent-3);
	color: var(--wp--preset--color--accent-2);
}

:root :where(.wp-block-group.is-style-section-5){
	background-color: var(--wp--preset--color--contrast);
	color: var(--wp--preset--color--base);
}