
.blockera-block.blockera-block-1.wp-block-group {
	background-color: #d1b3b0;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.blockera-block.blockera-block-1 p {
	background-color: #0000003d;
}

p.blockera-block.blockera-block-2 {
	padding-top: 10px;
}

p.blockera-block.blockera-block-3 {
	padding-top: var(--wp--preset--spacing--20, 10px);
}

p.blockera-block.blockera-block-4 {
	padding-right: 10px;
}

p.blockera-block.blockera-block-5 {
	padding-right: var(--wp--preset--spacing--20, 10px);
}

p.blockera-block.blockera-block-6 {
	padding-bottom: 10px;
}

p.blockera-block.blockera-block-7 {
	padding-bottom: var(--wp--preset--spacing--20, 10px);
}

p.blockera-block.blockera-block-8 {
	padding-left: 10px;
}

p.blockera-block.blockera-block-9 {
	padding-left: var(--wp--preset--spacing--20, 10px);
}

p.blockera-block.blockera-block-10 {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 40px;
}

p.blockera-block.blockera-block-11 {
	padding-top: var(--wp--preset--spacing--20, 10px);
	padding-right: var(--wp--preset--spacing--30, 20px);
	padding-bottom: var(--wp--preset--spacing--40, 30px);
	padding-left: var(--wp--preset--spacing--50, clamp(30px, 5vw, 50px));
}

p.blockera-block.blockera-block-12 {
	margin-top: 20px;
}

p.blockera-block.blockera-block-13 {
	margin-top: var(--wp--preset--spacing--30, 20px);
}

p.blockera-block.blockera-block-14 {
	margin-right: 20px !important;
}

p.blockera-block.blockera-block-15 {
	margin-right: var(--wp--preset--spacing--20, 10px) !important;
}

p.blockera-block.blockera-block-16 {
	margin-bottom: 20px;
}

p.blockera-block.blockera-block-17 {
	margin-bottom: var(--wp--preset--spacing--20, 10px);
}

p.blockera-block.blockera-block-18 {
	margin-left: 20px !important;
}

p.blockera-block.blockera-block-19 {
	padding-left: var(--wp--preset--spacing--20, 10px);
}

p.blockera-block.blockera-block-20 {
	margin-top: 10px;
	margin-right: 20px !important;
	margin-bottom: 30px;
	margin-left: 40px !important;
}

p.blockera-block.blockera-block-21 {
	margin-top: var(--wp--preset--spacing--20, 10px);
	margin-right: var(--wp--preset--spacing--30, 20px) !important;
	margin-bottom: var(--wp--preset--spacing--40, 30px);
	margin-left: var(--wp--preset--spacing--50, clamp(30px, 5vw, 50px)) !important;
}

p.blockera-block.blockera-block-22 {
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 40px;
	padding-left: 50px;
	margin-top: 20px;
	margin-right: 30px !important;
	margin-bottom: 40px;
	margin-left: 50px !important;
}

p.blockera-block.blockera-block-23 {
	padding-top: var(--wp--preset--spacing--20, 10px);
	padding-right: var(--wp--preset--spacing--30, 20px);
	padding-bottom: var(--wp--preset--spacing--40, 30px);
	padding-left: var(--wp--preset--spacing--50, clamp(30px, 5vw, 50px));
	margin-top: var(--wp--preset--spacing--20, 10px);
	margin-right: var(--wp--preset--spacing--30, 20px) !important;
	margin-bottom: var(--wp--preset--spacing--40, 30px);
	margin-left: var(--wp--preset--spacing--50, clamp(30px, 5vw, 50px)) !important;
}