
p.blockera-block.blockera-block-1 {
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
}

.blockera-block.blockera-block-1 .has-inline-color {
	background-color: #dfdfdf;
}

.blockera-block.blockera-block-1 a:not(.wp-element-button) {
	background-color: #cccccc;
}

.blockera-block.blockera-block-1 :is(strong, b) {
	color: #ff6c6c;
}

.blockera-block.blockera-block-1 :is(em, i) {
	color: #6cff6c;
}

.blockera-block.blockera-block-1 kbd {
	color: #6c6cff;
}

.blockera-block.blockera-block-1 code {
	color: #ff6cff;
}

.blockera-block.blockera-block-1 span {
	color: #6cff6c;
}

.blockera-block.blockera-block-2.wp-block-button .wp-block-button__link {
	background-color: #9f9f9f;
}

.blockera-block.blockera-block-2 .has-inline-color {
	background-color: #dfdfdf;
}

.blockera-block.blockera-block-2.wp-block-button .wp-block-button__link :is(strong, b) {
	background-color: #ffa200;
}

.blockera-block.blockera-block-2.wp-block-button .wp-block-button__link :is(em, i) {
	background-color: #87e100;
}

.blockera-block.blockera-block-2.wp-block-button .wp-block-button__link kbd {
	background-color: #00e870;
}

.blockera-block.blockera-block-2.wp-block-button .wp-block-button__link code {
	background-color: #004cff;
}

.blockera-block.blockera-block-2.wp-block-button .wp-block-button__link span {
	background-color: #cf00fe;
}

.blockera-block.blockera-block-2.wp-block-button .wp-block-button__link mark {
	background-color: #ff0090;
}

.blockera-block.blockera-block-2.wp-block-button .wp-block-button__link :is(strong, b):hover {
	background-color: #ae6e00;
}

.blockera-block.blockera-block-2.wp-block-button .wp-block-button__link :is(em, i):hover {
	background-color: #568f00;
}

.blockera-block.blockera-block-2.wp-block-button .wp-block-button__link kbd:hover {
	background-color: #009b4b;
}

.blockera-block.blockera-block-2.wp-block-button .wp-block-button__link code:hover {
	background-color: #0031a3;
}

.blockera-block.blockera-block-2.wp-block-button .wp-block-button__link span:hover {
	background-color: #9100b1;
}

.blockera-block.blockera-block-2.wp-block-button .wp-block-button__link mark:hover {
	background-color: #9d0059;
}

p.blockera-block.blockera-block-3 {
	background-color: #f3f3f3;
}

.blockera-block.blockera-block-3 .has-inline-color {
	background-color: #dfdfdf;
}