:root :where(.wp-block-search){
	font-size: var(--wp--preset--font-size--medium);
	line-height: 1.6;
}

:root :where(.wp-block-search .wp-block-search__input){
	border-radius:3.125rem;
	padding-left:1.5625rem;
	padding-right:1.5625rem;
	border-color:var(--wp--preset--color--accent-6);
}