.blockera-block.blockera-block-1.wp-block-video {
	background-color: #ffd3d3;
	border: 2px solid #ff9696;
	border-radius: 10px;
	transition: all 500ms ease 0ms;
	padding: 10px 10px 10px 10px;
}

.blockera-block.blockera-block-1 video {
	aspect-ratio: 1;
}

html:root body :where(.blockera-block.blockera-block-1) figcaption.wp-element-caption {
	background-color: #ff3131;
	padding: 6px 10px 6px 10px;
	margin-top: 20px;
	margin-bottom: 0;
	border-radius: 31px;
}

@media screen and (max-width: 478px) and (min-width: 0px) {
	.blockera-block.blockera-block-1 video {
		aspect-ratio: 16/9;
		object-fit: cover;
	}

	.blockera-block.blockera-block-1.wp-block-video {
		display: flex !important;
		flex-direction: column;
		gap: 30px;
		padding: 20px 20px 20px 20px;
	}

	html:root body :where(.blockera-block.blockera-block-1) figcaption.wp-element-caption {
		padding: 6px 10px 6px 10px;
		margin-top: 0;
		margin-bottom: 0;
		border-radius: 5px;
	}

}

.blockera-block.blockera-block-1.wp-block-video:hover {
	background-color: #c9ffb3;
	border: 2px solid #70cc4b;
}

html:root body :where(.blockera-block.blockera-block-1):hover figcaption.wp-element-caption {
	background-color: #007bff;
}

.blockera-block.blockera-block-1.wp-block-video::before {
	padding: 5px 10px 5px 10px;
	margin-bottom: 20px;
	background-color: #0000002b;
	display: inline-block !important;
	border-radius: 50px;
	content: "Before";
}

@media screen and (max-width: 478px) and (min-width: 0px) {
	.blockera-block.blockera-block-1.wp-block-video::before {
		margin-bottom: 0;
		border-radius: 5px;
		content: "Before";
	}

}

.blockera-block.blockera-block-1.wp-block-video::after {
	padding: 5px 10px 5px 10px;
	margin-top: 20px;
	border-radius: 50px;
	background-color: #00000036;
	display: inline-block !important;
	content: "After";
}

@media screen and (max-width: 478px) and (min-width: 0px) {
	.blockera-block.blockera-block-1.wp-block-video::after {
		margin-top: 0;
		border-radius: 5px;
		content: "After";
	}

}