.blockera-block.blockera-block-1.wp-block-site-logo {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background-color: #ffd0d0;
	border-radius: 10px;
	box-shadow: 10px 10px 0 0 #ff1010ab;
	display: flex !important;
}

.blockera-block.blockera-block-1.wp-block-site-logo :is(img) {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	width: 150px;
}

.blockera-block.blockera-block-2.wp-block-site-logo {
	border: 3px solid #33ff33;
	border-radius: 90px;
	transition: all 500ms ease 0ms;
}

.blockera-block.blockera-block-2.wp-block-site-logo :is(img) {
	width: 100px;
}

.blockera-block.blockera-block-2.wp-block-site-logo:hover {
	border: 3px solid #0a47ff;
}