.blockera-block.blockera-block-1.wp-block-list {
	--blockera--icon--url: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20height%3D%2224%22%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20style%3D%22color%3A%20rgb%2830%2C%2075%2C%20255%29%3B%20fill%3A%20rgb%2830%2C%2075%2C%20255%29%3B%20width%3A%2024px%3B%20height%3A%2024px%3B%22%3E%3Cpath%20d%3D%22M16.5%207.5%2010%2013.9l-2.5-2.4-1%201%203.5%203.6%207.5-7.6z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
	--blockera--icon--gap: 14px;
	--blockera--icon--size: 28px;
	--blockera--icon--color: #1e4bff;
}

.blockera-block.blockera-block-1 :where(li) {
	background-color: #d8e0ff;
	padding: 5px 10px 5px 10px;
	border-radius: 20px;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-1 :where(li) {
		border-radius: 5px;
	};
}

.wp-block-list > li.blockera-block.blockera-block-2 .wp-block-list {
	margin-right: 5px !important;
	margin-bottom: 5px;
}

.wp-block-list > li.blockera-block.blockera-block-2 :where(li) {
	background-color: #00000029;
	border-radius: 5px;
}

.blockera-block.blockera-block-3.wp-block-list {
	--blockera--icon--url: url("data:image/svg+xml, %3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20style%3D%22width%3A%201em%3B%20height%3A%201em%3B%22%3E%3Cpath%20d%3D%22m6.6%2015.6-1.2.8c.6.9%201.3%201.6%202.2%202.2l.8-1.2c-.7-.5-1.3-1.1-1.8-1.8zM5.5%2012c0-.4%200-.9.1-1.3l-1.5-.3c0%20.5-.1%201.1-.1%201.6s.1%201.1.2%201.6l1.5-.3c-.2-.4-.2-.9-.2-1.3zm11.9-3.6%201.2-.8c-.6-.9-1.3-1.6-2.2-2.2l-.8%201.2c.7.5%201.3%201.1%201.8%201.8zM5.3%207.6l1.2.8c.5-.7%201.1-1.3%201.8-1.8l-.7-1.3c-.9.6-1.7%201.4-2.3%202.3zm14.5%202.8-1.5.3c.1.4.1.8.1%201.3s0%20.9-.1%201.3l1.5.3c.1-.5.2-1%20.2-1.6s-.1-1.1-.2-1.6zM12%2018.5c-.4%200-.9%200-1.3-.1l-.3%201.5c.5.1%201%20.2%201.6.2s1.1-.1%201.6-.2l-.3-1.5c-.4.1-.9.1-1.3.1zm3.6-1.1.8%201.2c.9-.6%201.6-1.3%202.2-2.2l-1.2-.8c-.5.7-1.1%201.3-1.8%201.8zM10.4%204.2l.3%201.5c.4-.1.8-.1%201.3-.1s.9%200%201.3.1l.3-1.5c-.5-.1-1.1-.2-1.6-.2s-1.1.1-1.6.2z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
	--blockera--icon--gap: 40px;
	--blockera--icon--size: 30px;
}

.wp-block-list > li.blockera-block.blockera-block-4 {
	color: #ffffff;
	background-color: #eb8c50;
	--blockera--icon--url: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20height%3D%2224%22%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20style%3D%22width%3A%201em%3B%20height%3A%201em%3B%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M12%2018.5a6.5%206.5%200%201%201%200-13%206.5%206.5%200%200%201%200%2013ZM4%2012a8%208%200%201%201%2016%200%208%208%200%200%201-16%200Zm8%204a4%204%200%200%200%204-4H8a4%204%200%200%200%204%204Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
	--blockera--icon--gap: 100px;
	--blockera--icon--size: 50px;
	--blockera--icon--color: #853300;
}

.wp-block-list > li.blockera-block.blockera-block-4 a:not(.wp-element-button) {
	color: #ffffff;
}

@media screen and (max-width: 478px) {
	.wp-block-list > li.blockera-block.blockera-block-4 {
		background-color: #8cc764;
		--blockera--icon--color: #307700;
		color: #193d00;
		font-weight: 1000;
		font-style: normal;
		font-size: 15px;
		--blockera--icon--size: 50px;
		--blockera--icon--gap: 20px;
	};
}

.wp-block-list > li.blockera-block.blockera-block-5 {
	color: #c73535;
	background-color: #ffd3d3;
	font-style: normal;
	font-weight: 600;
	--blockera--icon--url: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20height%3D%2224%22%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20style%3D%22color%3A%20rgb%287%2C%20195%2C%200%29%3B%20fill%3A%20rgb%287%2C%20195%2C%200%29%3B%20width%3A%2042px%3B%20height%3A%2042px%3B%22%3E%3Cpath%20d%3D%22M12%2013.06l3.712%203.713%201.061-1.06L13.061%2012l3.712-3.712-1.06-1.06L12%2010.938%208.288%207.227l-1.061%201.06L10.939%2012l-3.712%203.712%201.06%201.061L12%2013.061z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
	--blockera--icon--size: 42px;
	--blockera--icon--color: #d70000;
}

.wp-block-list > li.blockera-block.blockera-block-5 a:not(.wp-element-button) {
	color: #c73535;
}

.wp-block-list > li.blockera-block.blockera-block-6 {
	border-radius: 10px;
	color: #900000;
	background-color: #ffdada;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	padding: 10px 10px 10px 10px;
}

.wp-block-list.blockera-block.blockera-block-6:not(.wp-block-list .wp-block-list) > li {
	border-radius: 10px;
}

.wp-block-list > li.blockera-block.blockera-block-6 .wp-block-list {
	background-color: #d2daff;
	padding: 10px 10px 10px 35px;
	margin-top: 10px;
	margin-right: 10px !important;
	margin-bottom: 10px;
	margin-left: 10px !important;
	color: #003de4;
}

.wp-block-list > li.blockera-block.blockera-block-6 a:not(.wp-element-button) {
	color: #900000;
}

.wp-block-list > li.blockera-block.blockera-block-6 ul {
	border-radius: 20px;
}

.wp-block-list > li.blockera-block.blockera-block-7 {
	--blockera--icon--url: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20height%3D%2224%22%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20style%3D%22width%3A%201em%3B%20height%3A%201em%3B%22%3E%3Cpath%20d%3D%22m13.06%2012%206.47-6.47-1.06-1.06L12%2010.94%205.53%204.47%204.47%205.53%2010.94%2012l-6.47%206.47%201.06%201.06L12%2013.06l6.47%206.47%201.06-1.06L13.06%2012Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.blockera-block.blockera-block-8.wp-block-list {
	border-color: #26ff00;
	border-width: 2px;
	border-radius: 10px;
	background-color: #edffcf;
	transition: all 500ms ease 0ms;
	display: flex !important;
	flex-direction: column;
	gap: 10px;
}

ul.blockera-block.blockera-block-8 {
	border: 2px solid #26ff00;
	border-radius: 10px;
}

.blockera-block.blockera-block-8 :where(li)::before {
	display: inline-block !important;
	content: "Before";
	background-color: #00000026;
	padding: 2px 10px 2px 10px;
	font-size: 16px;
}

.blockera-block.blockera-block-8 :where(li)::after {
	display: inline-block !important;
	content: "After";
	background-color: #00000021;
	padding: 5px 20px 5px 20px;
	font-size: 16px;
	border-radius: 30px;
}

.blockera-block.blockera-block-8.wp-block-list:hover {
	background-color: #b3d27e;
}

ul.blockera-block.blockera-block-8:hover {
	border: 2px solid #189d00;
}

.blockera-block.blockera-block-8.wp-block-list::before {
	background-color: #00000038;
	font-size: 16px;
	font-weight: 1000;
	font-style: normal;
	padding: 5px 10px 5px 10px;
	content: "List Before";
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-8.wp-block-list::before {
		order: -1;
		border-radius: 30px;
		text-align: center;
		content: "List Before";
	};
}

.blockera-block.blockera-block-8.wp-block-list::after {
	order: 100;
	font-size: 16px;
	font-weight: 1000;
	font-style: normal;
	background-color: #00000036;
	padding: 5px 10px 5px 10px;
	margin-top: 10px;
	content: "List After";
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-8.wp-block-list::after {
		border-radius: 20px;
		text-align: center;
		content: "List After";
	};
}

.wp-block-list > li.blockera-block.blockera-block-9::before {
	background-color: #00000066;
	content: "Before Overrided!";
}

.wp-block-list > li.blockera-block.blockera-block-9::after {
	background-color: #00000059;
	content: "After Overidded!";
}

.wp-block-list > li.blockera-block.blockera-block-10 {
	background-color: #0000002e;
	order: 100;
}

@media screen and (max-width: 478px) {
	.wp-block-list > li.blockera-block.blockera-block-10 {
		order: -1;
	};
}