.blockera-block.blockera-block-1 :where(li) {
	background-color: #d8e0ff;
	padding: 5px 10px 5px 10px;
	border-radius: 20px;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-1 :where(li) {
		border-radius: 5px;
	};
}

.wp-block-list > li.blockera-block.blockera-block-2 .wp-block-list {
	margin-right: 5px !important;
	margin-bottom: 5px;
}

.wp-block-list > li.blockera-block.blockera-block-2 :where(li) {
	background-color: #00000029;
	border-radius: 5px;
}

.wp-block-list > li.blockera-block.blockera-block-4 {
	color: #ffffff;
	background-color: #eb8c50;
}

.wp-block-list > li.blockera-block.blockera-block-4 a:not(.wp-element-button) {
	color: #ffffff;
}

@media screen and (max-width: 478px) {
	.wp-block-list > li.blockera-block.blockera-block-4 {
		background-color: #8cc764;
		color: #193d00;
		font-weight: 1000;
		font-style: normal;
		font-size: 15px;
	};
}

.wp-block-list > li.blockera-block.blockera-block-5 {
	color: #c73535;
	background-color: #ffd3d3;
	font-style: normal;
	font-weight: 600;
}

.wp-block-list > li.blockera-block.blockera-block-5 a:not(.wp-element-button) {
	color: #c73535;
}

.wp-block-list > li.blockera-block.blockera-block-6 {
	border-radius: 10px;
	color: #900000;
	background-color: #ffdada;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	padding: 10px 10px 10px 10px;
}

.wp-block-list.blockera-block.blockera-block-6:not(.wp-block-list .wp-block-list) > li {
	border-radius: 10px;
}

.wp-block-list > li.blockera-block.blockera-block-6 .wp-block-list {
	background-color: #d2daff;
	padding: 10px 10px 10px 35px;
	margin-top: 10px;
	margin-right: 10px !important;
	margin-bottom: 10px;
	margin-left: 10px !important;
	color: #003de4;
}

.wp-block-list > li.blockera-block.blockera-block-6 a:not(.wp-element-button) {
	color: #900000;
}

.wp-block-list > li.blockera-block.blockera-block-6 ul {
	border-radius: 20px;
}

.blockera-block.blockera-block-8.wp-block-list {
	border-color: #26ff00;
	border-width: 2px;
	border-radius: 10px;
	background-color: #edffcf;
	transition: all 500ms ease 0ms;
	display: flex !important;
	flex-direction: column;
	gap: 10px;
}

ul.blockera-block.blockera-block-8 {
	border: 2px solid #26ff00;
	border-radius: 10px;
}

.blockera-block.blockera-block-8 :where(li)::before {
	display: inline-block !important;
	content: "Before";
	background-color: #00000026;
	padding: 2px 10px 2px 10px;
	font-size: 16px;
}

.blockera-block.blockera-block-8 :where(li)::after {
	display: inline-block !important;
	content: "After";
	background-color: #00000021;
	padding: 5px 20px 5px 20px;
	font-size: 16px;
	border-radius: 30px;
}

.blockera-block.blockera-block-8.wp-block-list:hover {
	background-color: #b3d27e;
}

ul.blockera-block.blockera-block-8:hover {
	border: 2px solid #189d00;
}

.blockera-block.blockera-block-8.wp-block-list::before {
	background-color: #00000038;
	font-size: 16px;
	font-weight: 1000;
	font-style: normal;
	padding: 5px 10px 5px 10px;
	content: "List Before";
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-8.wp-block-list::before {
		order: -1;
		text-align: center;
		content: "List Before";
	}

	ul.blockera-block.blockera-block-8::before {
		border-radius: 30px;
	};
}

.blockera-block.blockera-block-8.wp-block-list::after {
	order: 100;
	font-size: 16px;
	font-weight: 1000;
	font-style: normal;
	background-color: #00000036;
	padding: 5px 10px 5px 10px;
	margin-top: 10px;
	content: "List After";
}

@media screen and (max-width: 478px) {
	ul.blockera-block.blockera-block-8::after {
		border-radius: 20px;
	}

	.blockera-block.blockera-block-8.wp-block-list::after {
		text-align: center;
		content: "List After";
	};
}

.wp-block-list > li.blockera-block.blockera-block-9::before {
	background-color: #00000066;
	content: "Before Overrided!";
}

.wp-block-list > li.blockera-block.blockera-block-9::after {
	background-color: #00000059;
	content: "After Overidded!";
}

.wp-block-list > li.blockera-block.blockera-block-10 {
	background-color: #0000002e;
	order: 100;
}

@media screen and (max-width: 478px) {
	.wp-block-list > li.blockera-block.blockera-block-10 {
		order: -1;
	};
}