.blockera-block.blockera-block-1.wp-block-home-link {
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	background-color: #ffc9c9;
	border: 1px solid #00000036;
	border-radius: 5px;
	transition: all 500ms ease 0ms;
	--blockera--icon--url: url("data:image/svg+xml, %3Csvg%20data-prefix%3D%22fas%22%20data-icon%3D%22house-chimney%22%20class%3D%22svg-inline--fa%20fa-house-chimney%20%22%20role%3D%22img%22%20viewBox%3D%220%200%20512%20512%22%20aria-hidden%3D%22true%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22width%3A%2020px%3B%20height%3A%2020px%3B%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M234.2%208.6c12.3-11.4%2031.3-11.4%2043.5%200L368%2092.3%20368%2080c0-17.7%2014.3-32%2032-32l32%200c17.7%200%2032%2014.3%2032%2032l0%20101.5%2037.8%2035.1c9.6%209%2012.8%2022.9%208%2035.1S493.2%20272%20480%20272l-16%200%200%20176c0%2035.3-28.7%2064-64%2064l-288%200c-35.3%200-64-28.7-64-64l0-176-16%200c-13.2%200-25-8.1-29.8-20.3s-1.6-26.2%208-35.1l224-208zM240%20320c-26.5%200-48%2021.5-48%2048l0%2096%20128%200%200-96c0-26.5-21.5-48-48-48l-32%200z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
	--blockera--icon--size: 14px;
	--blockera--icon--color: #ff0000;
	--blockera--icon--rotate: 270deg;
	padding: 2px 5px 2px 5px;
}

.blockera-block.blockera-block-1.wp-block-home-link:hover {
	background-color: #ff0000;
	color: #ffffff;
	--blockera--icon--color: #ffffff;
}

.blockera-block.blockera-block-2.wp-block-home-link {
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	background-color: #ffdeb6;
	border: 1px solid #00000036;
	border-radius: 5px;
	transition: all 200ms ease 0ms;
	--blockera--icon--url: url("data:image/svg+xml, %3Csvg%20data-prefix%3D%22fas%22%20data-icon%3D%22house-chimney%22%20class%3D%22svg-inline--fa%20fa-house-chimney%20%22%20role%3D%22img%22%20viewBox%3D%220%200%20512%20512%22%20aria-hidden%3D%22true%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22width%3A%2020px%3B%20height%3A%2020px%3B%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M234.2%208.6c12.3-11.4%2031.3-11.4%2043.5%200L368%2092.3%20368%2080c0-17.7%2014.3-32%2032-32l32%200c17.7%200%2032%2014.3%2032%2032l0%20101.5%2037.8%2035.1c9.6%209%2012.8%2022.9%208%2035.1S493.2%20272%20480%20272l-16%200%200%20176c0%2035.3-28.7%2064-64%2064l-288%200c-35.3%200-64-28.7-64-64l0-176-16%200c-13.2%200-25-8.1-29.8-20.3s-1.6-26.2%208-35.1l224-208zM240%20320c-26.5%200-48%2021.5-48%2048l0%2096%20128%200%200-96c0-26.5-21.5-48-48-48l-32%200z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
	--blockera--icon--size: 14px;
	padding: 2px 10px 2px 10px;
}

.blockera-block.blockera-block-2 .wp-block-navigation-item__content:hover {
	text-decoration: initial;
}

.blockera-block.blockera-block-2.wp-block-home-link:hover {
	background-color: #ffc37a;
	color: #844800;
}

.blockera-block.blockera-block-2.current-menu-item {
	background-color: #d9d9d9;
}

.blockera-block.blockera-block-3.wp-block-home-link {
	background-color: #ffedc9;
	border-radius: 10px;
	width: 100%;
	padding: 10px 10px 10px 10px;
}

.blockera-block.blockera-block-3 :is(strong, b) {
	background-color: #ff2a2a;
}

.blockera-block.blockera-block-3 :is(em, i) {
	background-color: #17ffe0;
}

.blockera-block.blockera-block-3 kbd {
	background-color: #4cff1b;
}

.blockera-block.blockera-block-3 code {
	background-color: #5a70ff;
}

.blockera-block.blockera-block-3 span:not([data-rich-text-placeholder]) {
	background-color: #c04aff;
}

.blockera-block.blockera-block-3 :is(mark, mark[class]) {
	background-color: #6ea858;
}

.blockera-block.blockera-block-4.wp-block-navigation-link:is(li.blockera-block.blockera-block-4.wp-block-navigation-link) {
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	background-color: #eaeaea;
	border: 1px solid #00000030;
	border-radius: 30px;
	display: flex !important;
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
	gap: 10px;
	padding: 3px 20px 3px 20px;
}

.blockera-block.blockera-block-4.wp-block-navigation-link:is(li.blockera-block.blockera-block-4.wp-block-navigation-link):hover {
	background-color: #060606;
	color: #f6e9e9;
}

.blockera-block.blockera-block-4.wp-block-navigation-link:is(li.blockera-block.blockera-block-4.wp-block-navigation-link)::before {
	color: #ff0000;
	content: "→";
}

.blockera-block.blockera-block-4.wp-block-navigation-link:is(li.blockera-block.blockera-block-4.wp-block-navigation-link)::after {
	color: #ff0000;
	content: "←";
}

.blockera-block.blockera-block-5.wp-block-navigation-link:is(li.blockera-block.blockera-block-5.wp-block-navigation-link) {
	font-style: normal;
	font-weight: 600;
	text-transform: uppercase;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	transition: all 500ms ease 0ms;
	padding: 1px 10px 1px 10px;
	color: #ed0000;
}

.blockera-block.blockera-block-5.wp-block-navigation-link:is(li.blockera-block.blockera-block-5.wp-block-navigation-link) .wp-block-navigation-item__content {
	color: #ed0000;
}

.blockera-block.blockera-block-5.wp-block-navigation-link:is(li.blockera-block.blockera-block-5.wp-block-navigation-link) .wp-block-navigation-item__content:hover {
	text-decoration: initial;
}

.blockera-block.blockera-block-5.wp-block-navigation-link:is(li.blockera-block.blockera-block-5.wp-block-navigation-link):hover {
	color: #ff0000;
	border-radius: 15px;
	background-color: #fedede;
}

.blockera-block.blockera-block-6.wp-block-navigation-link:is(li.blockera-block.blockera-block-6.wp-block-navigation-link) {
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #bde8ff;
	border: 1px solid #00000045;
	border-radius: 10px;
	transition: all 300ms ease 0ms;
	--blockera--icon--url: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20height%3D%2224%22%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20style%3D%22width%3A%201em%3B%20height%3A%201em%3B%22%3E%3Cpath%20d%3D%22M4%2020h8v-1.5H4V20zM18.9%203.5c-.6-.6-1.5-.6-2.1%200l-7.2%207.2c-.4-.1-.7%200-1.1.1-.5.2-1.5.7-1.9%202.2-.4%201.7-.8%202.2-1.1%202.7-.1.1-.2.3-.3.4l-.6%201.1H6c2%200%203.4-.4%204.7-1.4.8-.6%201.2-1.4%201.3-2.3%200-.3%200-.5-.1-.7L19%205.7c.5-.6.5-1.6-.1-2.2zM9.7%2014.7c-.7.5-1.5.8-2.4%201%20.2-.5.5-1.2.8-2.3.2-.6.4-1%20.8-1.1.5-.1%201%20.1%201.3.3.2.2.3.5.2.8%200%20.3-.1.9-.7%201.3z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
	padding: 4px 15px 4px 15px;
	color: #00a6ff;
}

.blockera-block.blockera-block-6.wp-block-navigation-link:is(li.blockera-block.blockera-block-6.wp-block-navigation-link) .wp-block-navigation-item__content {
	color: #00a6ff;
}

.blockera-block.blockera-block-6.wp-block-navigation-link:is(li.blockera-block.blockera-block-6.wp-block-navigation-link) .wp-block-navigation-item__content:hover {
	color: #00a6ff;
}

.blockera-block.blockera-block-6.wp-block-navigation-link:is(li.blockera-block.blockera-block-6.wp-block-navigation-link):hover {
	color: #00527e;
	background-color: #63c8ff;
}

.blockera-block.blockera-block-6.wp-block-navigation-link:is(li.blockera-block.blockera-block-6.wp-block-navigation-link):hover .wp-block-navigation-item__content {
	color: #00527e;
}

.blockera-block.blockera-block-7.wp-block-navigation-link:is(li.blockera-block.blockera-block-7.wp-block-navigation-link) {
	background-color: #fff89c;
	width: 100%;
	padding: 10px 10px 10px 10px;
}

.blockera-block.blockera-block-7.wp-block-navigation-link:is(li.blockera-block.blockera-block-7.wp-block-navigation-link) :is(strong, b) {
	background-color: #ff1b1b;
}

.blockera-block.blockera-block-7.wp-block-navigation-link:is(li.blockera-block.blockera-block-7.wp-block-navigation-link) :is(em, i) {
	background-color: #a6c300;
}

.blockera-block.blockera-block-7.wp-block-navigation-link:is(li.blockera-block.blockera-block-7.wp-block-navigation-link) kbd {
	background-color: #00ff37;
}

.blockera-block.blockera-block-7.wp-block-navigation-link:is(li.blockera-block.blockera-block-7.wp-block-navigation-link) code {
	background-color: #82aeff;
}

.blockera-block.blockera-block-7.wp-block-navigation-link:is(li.blockera-block.blockera-block-7.wp-block-navigation-link) span:not([data-rich-text-placeholder], .wp-block-navigation-item__label) {
	background-color: #36dfd1;
}

.blockera-block.blockera-block-7.wp-block-navigation-link:is(li.blockera-block.blockera-block-7.wp-block-navigation-link) :is(mark, mark[class]) {
	background-color: #ff38eb;
}

.blockera-block.blockera-block-8.wp-block-navigation-submenu:is(li) {
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	background-color: #ffcece;
	border: 1px solid #00000021;
	border-radius: 5px;
	transition: all 500ms ease 0ms;
	padding: 3px 10px 3px 10px;
}

.blockera-block.blockera-block-8.wp-block-navigation-submenu:is(li) > .wp-block-navigation-item__content {
	background-color: #ff7575;
}

.blockera-block.blockera-block-8.wp-block-navigation-submenu:is(li) .wp-block-navigation__submenu-icon {
	background-color: #ff5b5b;
	padding: 4px 4px 4px 4px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	display: inline-block !important;
	box-sizing: border-box;
}

.blockera-block.blockera-block-8.wp-block-navigation-submenu:is(li) .wp-block-navigation__submenu-container {
	border-radius: 5px;
	border: 1px solid #ff2525;
	background-color: #ffefef;
	transform: translate3d(0, 2px, 0);
	padding: 5px 5px 5px 5px;
	font-size: 16px;
	font-weight: 700;
	font-style: italic;
	display: flex !important;
	flex-direction: column;
	gap: 20px;
}

.blockera-block.blockera-block-8.wp-block-navigation-submenu:is(li) :where(li.wp-block-navigation-item) {
	background-color: #ffeca6;
	border-radius: 5px;
	border: 2px solid #ff8706;
}

.blockera-block.blockera-block-8.wp-block-navigation-submenu:is(li) :where(li.wp-block-navigation-item):hover {
	color: #9b5000;
	background-color: #ffde65;
	border: 2px solid #cb6900;
}

.blockera-block.blockera-block-8.wp-block-navigation-submenu:is(li).current-menu-item {
	background-color: #d4d4d4;
}

.blockera-block.blockera-block-8.wp-block-navigation-submenu:is(li).current-menu-parent {
	background-color: #9f9f9f;
}

.blockera-block.blockera-block-8.wp-block-navigation-submenu:is(li).current-menu-ancestor {
	background-color: #656565;
}

.blockera-block.blockera-block-8 :where(ul.blockera-block.blockera-block-8) {
	background-color: #ffcece;
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.196), 16px);
	font-style: normal;
	font-weight: 600;
}

.blockera-block.blockera-block-9.wp-block-navigation-link:is(li.blockera-block.blockera-block-9.wp-block-navigation-link) {
	background-color: #a2fff4;
	border: 2px solid #00c2ab;
}

.blockera-block.blockera-block-9.wp-block-navigation-link:is(li.blockera-block.blockera-block-9.wp-block-navigation-link):hover {
	background-color: #18f5db;
	border: 2px solid #008071;
	color: #00685c;
}

.blockera-block.blockera-block-10.wp-block-navigation-submenu:is(li) {
	background-color: #b6ffc0;
	border-radius: 5px;
	--blockera--icon--url: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20height%3D%2224%22%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20style%3D%22width%3A%201em%3B%20height%3A%201em%3B%22%3E%3Cpath%20d%3D%22M13.969%204.39A5.088%205.088%200%200%200%2012%204C9.2%204%207%206.2%207%209v2.5c0%201.353-.17%202.368-.976%203-.267.209-.602.376-1.024.5v1h14v-1c-.422-.124-.757-.291-1.024-.5-.806-.632-.976-1.647-.976-3V11c-.53%200-1.037-.103-1.5-.29v.79c0%20.93.066%201.98.515%202.897l.053.103H7.932l.053-.103c.449-.917.515-1.967.515-2.897V9c0-1.972%201.528-3.5%203.5-3.5.43%200%20.838.072%201.214.206.167-.488.425-.933.755-1.316Zm-3.961%2013.618c0-.176.023-.346.065-.508h3.854A1.996%201.996%200%200%201%2012%2020a1.991%201.991%200%200%201-1.992-1.992Z%22%3E%3C%2Fpath%3E%3Ccircle%20cx%3D%2217%22%20cy%3D%227%22%20r%3D%222.5%22%3E%3C%2Fcircle%3E%3C%2Fsvg%3E");
	--blockera--icon--gap: 15px;
	--blockera--icon--size: 20px;
	position: relative;
	z-index: 10;
	padding: 5px 5px 5px 5px;
}

.blockera-block.blockera-block-10.wp-block-navigation-submenu:is(li) a.wp-block-navigation-item__content span.wp-block-navigation-item__label svg {
	background-color: #fa3535;
	color: #ffffff;
}

.blockera-block.blockera-block-10.wp-block-navigation-submenu:is(li) .wp-block-navigation__submenu-icon {
	background-color: #18cc00;
}

.blockera-block.blockera-block-10.wp-block-navigation-submenu:is(li) > .wp-block-navigation-item__content {
	background-color: #3dff32;
}

.blockera-block.blockera-block-10 :where(ul.blockera-block.blockera-block-10) {
	background-color: #b6ffc0;
}