.blockera-block-10 {
	background-color: #b6ffc0;
	background-color: #b6ffc0;
}

.blockera-block-10 :where(.blockera-block-10-child-1) {
	width: 20px;
	height: 20px;
	margin-right: 0.5em;
}

.blockera-block-10 {
	background-color: #b6ffc0;
}

.blockera-block-8 {
	background-color: #ffcece;
	background-color: #ffcece;
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.196), 16px);
	font-style: normal;
	font-weight: 600;
}

.blockera-block-8 {
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.196), 16px);
	font-style: normal;
	font-weight: 600;
}

.blockera-block-6 :where(.blockera-block-6-child-1) {
	width: 1.33em;
	height: 1.33em;
	margin-right: 0.5em;
}

.blockera-block-6 {
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.196), 16px);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
}

.blockera-block-5 {
	font-style: normal;
	font-weight: 600;
	text-transform: uppercase;
}

.blockera-block-4 {
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.098), 15px);
	font-style: normal;
	font-weight: 700;
}

.blockera-block-2 :where(.blockera-block-2-child-1) {
	width: 20px;
	height: 20px;
	width: 14px;
	height: 14px;
	margin-left: 0.5em;
}

.blockera-block-2 {
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.196), 16px);
	font-style: normal;
	font-weight: 600;
}

.blockera-block-1 :where(.blockera-block-1-child-1) {
	width: 20px;
	height: 20px;
	width: 14px;
	height: 14px;
	margin-right: 0.5em;
	--blockera--icon--rotate: 270deg;
}

.blockera-block-1 {
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.196), 16px);
	font-style: normal;
	font-weight: 600;
}