.blockera-block.blockera-block-1.wp-block-home-link {
	background-color: #ffc9c9;
	border: 1px solid #00000036;
	border-radius: 5px;
	transition: all 500ms ease 0ms;
	--blockera--icon--size: 14px;
	--blockera--icon--color: #ff0000;
	--blockera--icon--rotate: 270deg;
	padding: 2px 5px 2px 5px;
	font-weight: 600;
	font-style: normal;
	font-size: 16px;
}

.blockera-block.blockera-block-1.wp-block-home-link:hover {
	background-color: #ff0000;
	color: #ffffff;
	--blockera--icon--color: #ffffff;
}

.blockera-block.blockera-block-2.wp-block-home-link {
	background-color: #ffdeb6;
	border: 1px solid #00000036;
	border-radius: 5px;
	transition: all 200ms ease 0ms;
	--blockera--icon--size: 14px;
	padding: 2px 10px 2px 10px;
	font-weight: 600;
	font-style: normal;
	font-size: 16px;
}

html:root body :where(.blockera-block.blockera-block-2) .wp-block-navigation-item__content:hover {
	text-decoration: initial;
}

.blockera-block.blockera-block-2.wp-block-home-link:hover {
	background-color: #ffc37a;
	color: #844800;
}

.blockera-block.blockera-block-2.current-menu-item {
	background-color: #d9d9d9;
}

.blockera-block.blockera-block-3.wp-block-home-link {
	background-color: #ffedc9;
	border-radius: 10px;
	width: 100%;
	padding: 10px 10px 10px 10px;
}

html:root body :where(.blockera-block.blockera-block-3) :is(strong, b) {
	background-color: #ff2a2a;
}

html:root body :where(.blockera-block.blockera-block-3) :is(em, i) {
	background-color: #17ffe0;
}

html:root body :where(.blockera-block.blockera-block-3) kbd {
	background-color: #4cff1b;
}

html:root body :where(.blockera-block.blockera-block-3) code {
	background-color: #5a70ff;
}

html:root body :where(.blockera-block.blockera-block-3) span:not([data-rich-text-placeholder]) {
	background-color: #c04aff;
}

html:root body :where(.blockera-block.blockera-block-3) :is(mark, mark[class]) {
	background-color: #6ea858;
}

.blockera-block.blockera-block-4.wp-block-navigation-link:is(li.blockera-block.blockera-block-4.wp-block-navigation-link) {
	background-color: #eaeaea;
	border: 1px solid #00000030;
	border-radius: 30px;
	display: flex !important;
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
	gap: 10px;
	padding: 3px 20px 3px 20px;
	font-weight: 700;
	font-style: normal;
	font-size: 15px;
}

.blockera-block.blockera-block-4.wp-block-navigation-link:is(li.blockera-block.blockera-block-4.wp-block-navigation-link):hover {
	background-color: #060606;
	color: #f6e9e9;
}

.blockera-block.blockera-block-4.wp-block-navigation-link:is(li.blockera-block.blockera-block-4.wp-block-navigation-link)::before {
	color: #ff0000;
	content: "→";
}

.blockera-block.blockera-block-4.wp-block-navigation-link:is(li.blockera-block.blockera-block-4.wp-block-navigation-link)::after {
	color: #ff0000;
	content: "←";
}

.blockera-block.blockera-block-5.wp-block-navigation-link:is(li.blockera-block.blockera-block-5.wp-block-navigation-link) {
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	transition: all 500ms ease 0ms;
	padding: 1px 10px 1px 10px;
	font-weight: 600;
	font-style: normal;
	color: #ed0000;
	text-transform: uppercase;
}

html:root body :where(.blockera-block.blockera-block-5.wp-block-navigation-link:is(li.blockera-block.blockera-block-5.wp-block-navigation-link)) .wp-block-navigation-item__content {
	color: #ed0000;
}

html:root body :where(.blockera-block.blockera-block-5.wp-block-navigation-link:is(li.blockera-block.blockera-block-5.wp-block-navigation-link)) .wp-block-navigation-item__content:hover {
	text-decoration: initial;
}

.blockera-block.blockera-block-5.wp-block-navigation-link:is(li.blockera-block.blockera-block-5.wp-block-navigation-link):hover {
	color: #ff0000;
	border-radius: 15px;
	background-color: #fedede;
}

.blockera-block.blockera-block-6.wp-block-navigation-link:is(li.blockera-block.blockera-block-6.wp-block-navigation-link) {
	background-color: #bde8ff;
	border: 1px solid #00000045;
	border-radius: 10px;
	transition: all 300ms ease 0ms;
	padding: 4px 15px 4px 15px;
	font-weight: 700;
	font-style: normal;
	color: #00a6ff;
	font-size: 16px;
	text-transform: uppercase;
}

html:root body :where(.blockera-block.blockera-block-6.wp-block-navigation-link:is(li.blockera-block.blockera-block-6.wp-block-navigation-link)) .wp-block-navigation-item__content {
	color: #00a6ff;
}

html:root body :where(.blockera-block.blockera-block-6.wp-block-navigation-link:is(li.blockera-block.blockera-block-6.wp-block-navigation-link)) .wp-block-navigation-item__content:hover {
	color: #00a6ff;
}

.blockera-block.blockera-block-6.wp-block-navigation-link:is(li.blockera-block.blockera-block-6.wp-block-navigation-link):hover {
	color: #00527e;
	background-color: #63c8ff;
}

html:root body :where(.blockera-block.blockera-block-6.wp-block-navigation-link:is(li.blockera-block.blockera-block-6.wp-block-navigation-link)):hover .wp-block-navigation-item__content {
	color: #00527e;
}

.blockera-block.blockera-block-7.wp-block-navigation-link:is(li.blockera-block.blockera-block-7.wp-block-navigation-link) {
	background-color: #fff89c;
	width: 100%;
	padding: 10px 10px 10px 10px;
}

html:root body :where(.blockera-block.blockera-block-7.wp-block-navigation-link:is(li.blockera-block.blockera-block-7.wp-block-navigation-link)) :is(strong, b) {
	background-color: #ff1b1b;
}

html:root body :where(.blockera-block.blockera-block-7.wp-block-navigation-link:is(li.blockera-block.blockera-block-7.wp-block-navigation-link)) :is(em, i) {
	background-color: #a6c300;
}

html:root body :where(.blockera-block.blockera-block-7.wp-block-navigation-link:is(li.blockera-block.blockera-block-7.wp-block-navigation-link)) kbd {
	background-color: #00ff37;
}

html:root body :where(.blockera-block.blockera-block-7.wp-block-navigation-link:is(li.blockera-block.blockera-block-7.wp-block-navigation-link)) code {
	background-color: #82aeff;
}

html:root body :where(.blockera-block.blockera-block-7.wp-block-navigation-link:is(li.blockera-block.blockera-block-7.wp-block-navigation-link)) span:not([data-rich-text-placeholder], .wp-block-navigation-item__label) {
	background-color: #36dfd1;
}

html:root body :where(.blockera-block.blockera-block-7.wp-block-navigation-link:is(li.blockera-block.blockera-block-7.wp-block-navigation-link)) :is(mark, mark[class]) {
	background-color: #ff38eb;
}

.blockera-block.blockera-block-8.wp-block-navigation-submenu:is(li) {
	background-color: #ffcece;
	border: 1px solid #00000021;
	border-radius: 5px;
	transition: all 500ms ease 0ms;
	padding: 3px 10px 3px 10px;
	font-weight: 600;
	font-style: normal;
	font-size: 16px;
}

html:root body :where(.blockera-block.blockera-block-8.wp-block-navigation-submenu:is(li)) > .wp-block-navigation-item__content {
	background-color: #ff7575;
}

html:root body :where(.blockera-block.blockera-block-8.wp-block-navigation-submenu:is(li)) .wp-block-navigation__submenu-icon {
	background-color: #ff5b5b;
	padding: 4px 4px 4px 4px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	display: inline-block !important;
	box-sizing: border-box;
}

html:root body :where(.blockera-block.blockera-block-8.wp-block-navigation-submenu:is(li)) .wp-block-navigation__submenu-container {
	border-radius: 5px;
	border: 1px solid #ff2525;
	background-color: #ffefef;
	transform: translate3d(0, 2px, 0);
	padding: 5px 5px 5px 5px;
	font-size: 16px;
	font-weight: 700;
	font-style: italic;
	display: flex !important;
	flex-direction: column;
	gap: 20px;
}

html:root body :where(.blockera-block.blockera-block-8.wp-block-navigation-submenu:is(li)) :where(li.wp-block-navigation-item) {
	background-color: #ffeca6;
	border-radius: 5px;
	border: 2px solid #ff8706;
}

html:root body :where(.blockera-block.blockera-block-8.wp-block-navigation-submenu:is(li)) :where(li.wp-block-navigation-item):hover {
	color: #9b5000;
	background-color: #ffde65;
	border: 2px solid #cb6900;
}

html:root body :where(.blockera-block.blockera-block-8.wp-block-navigation-submenu:is(li)).current-menu-item {
	background-color: #d4d4d4;
}

html:root body :where(.blockera-block.blockera-block-8.wp-block-navigation-submenu:is(li)).current-menu-parent {
	background-color: #9f9f9f;
}

html:root body :where(.blockera-block.blockera-block-8.wp-block-navigation-submenu:is(li)).current-menu-ancestor {
	background-color: #656565;
}

.blockera-block.blockera-block-9.wp-block-navigation-link:is(li.blockera-block.blockera-block-9.wp-block-navigation-link) {
	background-color: #a2fff4;
	border: 2px solid #00c2ab;
}

.blockera-block.blockera-block-9.wp-block-navigation-link:is(li.blockera-block.blockera-block-9.wp-block-navigation-link):hover {
	background-color: #18f5db;
	border: 2px solid #008071;
	color: #00685c;
}

.blockera-block.blockera-block-10.wp-block-navigation-submenu:is(li) {
	background-color: #b6ffc0;
	border-radius: 5px;
	--blockera--icon--size: 20px;
	position: relative;
	z-index: 10;
	padding: 5px 5px 5px 5px;
}

html:root body :where(.blockera-block.blockera-block-10.wp-block-navigation-submenu:is(li)) a.wp-block-navigation-item__content span.wp-block-navigation-item__label svg {
	background-color: #fa3535;
	color: #ffffff;
}

html:root body :where(.blockera-block.blockera-block-10.wp-block-navigation-submenu:is(li)) .wp-block-navigation__submenu-icon {
	background-color: #18cc00;
}

html:root body :where(.blockera-block.blockera-block-10.wp-block-navigation-submenu:is(li)) > .wp-block-navigation-item__content {
	background-color: #3dff32;
}

.blockera-block.blockera-block-11.wp-block-navigation-submenu:is(li) {
	background-color: #ffd6d6;
	width: 100%;
	padding: 10px 10px 10px 10px;
}

html:root body :where(.blockera-block.blockera-block-11.wp-block-navigation-submenu:is(li)) :is(strong, b) {
	background-color: #d9d900;
}

html:root body :where(.blockera-block.blockera-block-11.wp-block-navigation-submenu:is(li)) :is(em, i) {
	background-color: #ff3e3e;
}

html:root body :where(.blockera-block.blockera-block-11.wp-block-navigation-submenu:is(li)) kbd {
	background-color: #72ff27;
}

html:root body :where(.blockera-block.blockera-block-11.wp-block-navigation-submenu:is(li)) code {
	background-color: #1b95ff;
}

html:root body :where(.blockera-block.blockera-block-11.wp-block-navigation-submenu:is(li)) span:not([data-rich-text-placeholder], .wp-block-navigation-item__label, .wp-block-navigation__submenu-icon) {
	background-color: #0060ff;
	color: #f6eded;
}

html:root body :where(.blockera-block.blockera-block-11.wp-block-navigation-submenu:is(li)) :is(mark, mark[class]) {
	background-color: #ff06c9;
}

.blockera-block-11 {
	background-color: #ffd6d6;
	background-color: #ffd6d6;
}

.blockera-block-11 {
	background-color: #ffd6d6;
}

.blockera-block-10 {
	background-color: #b6ffc0;
	background-color: #b6ffc0;
}

.blockera-block-10 :where(.blockera-block-10-child-1) {
	width: 20px;
	height: 20px;
	margin-right: 0.5em;
}

.blockera-block-10 {
	background-color: #b6ffc0;
}

.blockera-block-8 {
	background-color: #ffcece;
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.196), 16px);
	font-style: normal;
	font-weight: 600;
	background-color: #ffcece;
}

.blockera-block-8 {
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.196), 16px);
	font-style: normal;
	font-weight: 600;
}

.blockera-block-6 :where(.blockera-block-6-child-1) {
	width: 1.33em;
	height: 1.33em;
	margin-right: 0.5em;
}

.blockera-block-6 {
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.196), 16px);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
}

.blockera-block-5 {
	font-style: normal;
	font-weight: 600;
	text-transform: uppercase;
}

.blockera-block-4 {
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.098), 15px);
	font-style: normal;
	font-weight: 700;
}

.blockera-block-2 :where(.blockera-block-2-child-1) {
	width: 20px;
	height: 20px;
	width: 14px;
	height: 14px;
	margin-left: 0.5em;
}

.blockera-block-2 {
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.196), 16px);
	font-style: normal;
	font-weight: 600;
}

.blockera-block-1 :where(.blockera-block-1-child-1) {
	width: 20px;
	height: 20px;
	width: 14px;
	height: 14px;
	margin-right: 0.5em;
	--blockera--icon--rotate: 270deg;
}

.blockera-block-1 {
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.196), 16px);
	font-style: normal;
	font-weight: 600;
}