.blockera-block.blockera-block-1.wp-block-query-title {
	background-color: #ffe5e5;
	border: 1px solid #0000001f;
	border-radius: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.blockera-block.blockera-block-1.wp-block-query-title:hover {
	background-color: #ffc4c4;
}
.blockera-block.blockera-block-2.wp-block-query-title {
	background-color: #ceebbf;
	border-radius: 70px;
	display: flex !important;
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
	gap: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-weight: 500;
	font-style: normal;
	font-size: 18px !important;
}

.blockera-block.blockera-block-2.wp-block-query-title::before {
	font-weight: 1000;
	font-style: normal;
	background-color: #47ac15;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	border-radius: 50px;
	border: 1px solid #00000030;
	color: #f6f1f1;
	content: "Before";
}

.blockera-block.blockera-block-2.wp-block-query-title::after {
	font-weight: 1000;
	font-style: normal;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	background-color: #33820b;
	color: #ffffff;
	border-radius: 30px;
	border: 1px solid #00000042;
	content: "After";
}