.editor-styles-wrapper div .blockera-is-icon-block img {
	transform: rotate(var(--blockera--icon--rotate, 0deg)) scaleX(var(--blockera--icon--flip-horizontal, 1)) scaleY(var(--blockera--icon--flip-vertical, 1));
}

.editor-styles-wrapper div .blockera-is-icon-block .components-resizable-box__container {
	margin-left: auto;
	margin-right: auto;
}
