/* Icon block */
/* Hide site logo placeholder when icon is set. */
.blockera-is-icon-block .components-placeholder__illustration,
.blockera-is-icon-block .components-placeholder__instructions {
	display: none !important;
}

.blockera-is-icon-block .components-placeholder.has-illustration::before {
	opacity: 1;
	background: transparent;
}

.blockera-is-icon-block .components-placeholder.has-illustration::before {
	display: none;
}

.blockera-is-icon-block .components-placeholder__fieldset {
	display: none;
}

.editor-styles-wrapper div .blockera-is-icon-block .components-placeholder__illustration,
.editor-styles-wrapper div .blockera-is-icon-block img,
.editor-styles-wrapper div .blockera-is-icon-block figcaption,
.editor-styles-wrapper div .blockera-is-icon-block iframe,
.editor-styles-wrapper div .blockera-is-icon-block fieldset,
.editor-styles-wrapper div .blockera-is-icon-block .components-placeholder__label {
	display: none !important;
}

.blockera-is-icon-block.blockera-is-icon-block .components-placeholder {
	box-shadow: none;
	background-color: transparent;
	padding: 0;
}
