.wp-block-image.blockera-is-icon-block .wp-block-image__icon {
	display: flex;
	align-items: center;
}

.wp-block-image.blockera-is-icon-block .wp-block-image__icon svg {
	box-sizing: border-box;
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
	fill: var(--blockera--icon--color, currentColor);
}
