.publisher-component-buttons {
	display: flex;
	gap: 10px;
}

.publisher-component-button {
	font-size: 13px;
	font-weight: 400;
	display: flex;
	gap: 8px;
	
	&:not(.no-border) {
		border: 1px solid var(--publisher-controls-border-color);
	}
	
	&.size-input,
	&.size-small {
		height: 30px;
		padding: 2px 10px;
		line-height: 30px;
		font-size: 12.4px;
	}
	
	&.size-extra-small {
		font-size: 12.4px;
		height: 22px;
		padding: 0 5px;
		line-height: 22px;
	}
	
	&.align-center {
		justify-content: center;
	}
	
	&.align-left {
		justify-content: flex-start;
	}
	
	&.align-right {
		justify-content: flex-end;
	}
	
	&:hover:not(.no-border) {
		border-color: var(--publisher-controls-border-color-hover);
		color: var(--wp-components-color-foreground, #1e1e1e);
	}
	
	&.toggle-focus.is-focus:not(:disabled):not(.no-border),
	&.toggle-focus.is-focus:focus:not(:disabled):not(.no-border),
	&:focus:not(:disabled):not(.toggle-focus):not(.no-border) {
		border-color: var(--publisher-controls-border-color-focus);
		box-shadow: 0 0 0 1px var(--publisher-controls-border-color-focus);
		outline: 2px solid transparent;
	}
	
	&.toggle-focus:focus:not(:disabled):not(.no-border) {
		border-color: var(--publisher-controls-border-color);
		box-shadow: none;
		outline: none;
	}
	
	&.components-button.no-border:focus:not(:disabled) {
		border: none;
		box-shadow: none;
		outline: none;
	}
}
