@use "sass:math";
@import "~@wordpress/base-styles/colors";
@import "~@wordpress/base-styles/variables";
@import "~@wordpress/base-styles/mixins";
@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/animations";
@import "~@wordpress/base-styles/z-index";
@import "~@wordpress/components/src/style";
@import "~@blockera/controls/js/libs/switch/style.scss";
@import "~@blockera/editor/js/canvas-editor/components/breakpoints/breakpoint-settings/style.scss";


#blockera-admin-settings-container {

	.blockera-settings-tabs {

		.blockera-settings-active-panel {
			flex: auto;
			width: 80%;
			min-width: 0;
			align-self: flex-start;
			background: var(--card-bg-color);
			box-shadow: var(--card-box-shadow);
			border-radius: var(--card-border-radius);
			padding: 30px;
			box-sizing: border-box;
			height: 100%;

			.blockera-settings-panel-container {

				.blockera-settings-section {
					border: var(--card-border);
					border-radius: var(--card-border-radius);
					padding: var(--card-padding);

					a {
						color: var(--blockera-controls-primary-color);
					}

					.section-title {
						margin: 0 0 20px 0;
						padding: 0;
						display: flex;
						flex-direction: row;
						align-items: center;
						gap: 10px;

						svg {
							fill: currentColor;
						}

						.section-title-badge {
							padding: 2px 5px;
							border-radius: 3px;
							font-size: 12px;
							font-weight: 500;

							&.alpha-badge {
								background-color: rgb(255 226 226);
							}

							&.beta-badge {
								background-color: rgb(221 227 255);
								color: var(--blockera-controls-primary-color);
							}

							&.stable-badge,
							&.pre-release-badge {
								background-color: rgb(201 237 214);
								color: rgb(14 100 45);
							}
						}

					}

					.section-desc {
						margin: -10px 0 10px 0;

						&.section-desc-status {
							padding: 2px 5px;
							border-radius: 3px;
							font-size: 13px;
							width: max-content;
							display: inline-flex;
    						margin: 10px 0 5px 0;

							&.alpha-status {
								background-color: rgb(255 226 226);
							}

							&.beta-status {
								background-color: rgb(221 227 255);
								color: var(--blockera-controls-primary-color);
							}

							&.stable-status,
							&.pre-release-status {
								background-color: rgb(201 237 214);
								color: rgb(14 100 45);
							}
						}
					}
				}

				.blockera-settings-general.control-wrapper {

					.blockera-settings-block-visibility.user-roles {
						display: flex;
						flex-direction: column;
						gap: 8px;
						padding-left: 47px;
					}

					.blockera-settings-block-visibility.post-types {
						display: flex;
						flex-direction: column;
						gap: 8px;
						padding-left: 47px;
					}
				}

				.blockera-block-category {

					.blockera-block-category-name {
						display: flex;
						margin: 0;
						color: var(--blockera-controls-primary-color);
						font-size: 15px;
						font-weight: 500;
						justify-content: flex-start;
						align-items: center;
						gap: 10px;

						svg {
							fill: currentColor;
						}
					}

					.blockera-component-block-category-buttons {
						display: flex;
						gap: 15px;
					}
				}

				.blockera-block-category-items {
					gap: 15px;
					flex-wrap: wrap;
					resize: horizontal;
					margin: 0 0 25px 0;

					.blockera-block-category-item {
						min-width: 0;
						padding: 0px 3px 0px 11px;
						background-color: var(--card-bg-color);
						border: var(--card-border);
						border-radius: var(--card-border-radius);
						min-height: 40px;
						display: flex;
						align-items: center;

						.blockera-block {
							display: flex;
							gap: 8px;
							align-items: center;
							justify-content: center;

							.blockera-block-icon {
								display: flex;

								svg {
									width: 22px;
									height: 22px;
								}
							}

							.blockera-block-type {
								margin: 0;
								display: flex;
								font-size: 13px;
								font-weight: 500;
								line-height: 1.1;
							}
						}

						.blockera-block-control {
							display: flex;
						}
					}
				}
			}
		}

		.blockera-component-promotion {
			background-color: var(--blockera-controls-primary-color);
			color: #ffffff;
			padding: 10px;
			border-radius: 8px;
			justify-content: center;
			width: 310px;
			height: 260.55px;
			margin-top: 300px;


			>svg {
				margin: 0 auto;
			}

			.blockera-component-pro-license-button {
				background-color: #fed35e;
				color: #654a00;
				width: 182px;
				height: 36px;
				margin: 20px auto 0 auto;
			}

			ul {

				li {
					font-size: 12px;

					.align-center {
						display: flex;
						align-items: center;
						margin: 0 auto;
						width: 57%;
					}

					svg {
						fill: #ffffff;
					}
				}
			}
		}
	}
}

.blockera-dashboard-preview-video-btn {
	box-sizing: border-box;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 71, 235, 0.38);
    box-shadow: 0px 0px 39px rgba(0, 71, 235, 0.38);
    backdrop-filter: blur(1px);
    border-radius: 90px;
    color: var(--blockera-controls-primary-color);
    z-index: 1;
    transition: var(--blockera-controls-transition);
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		fill: currentColor;
		margin-right: -3px;
	}

	&:focus,
	&:hover {
		color: #ffffff;
		background: rgba(0, 71, 235, 0.65);
		width: 70px;
		height: 70px;
		outline: none;
	}
}
