:root :where(.wp-block-columns-is-layout-flow) > :first-child{
	margin-block-start: 0;
}

:root :where(.wp-block-columns-is-layout-flow) > :last-child{
	margin-block-end: 0;
}

:root :where(.wp-block-columns-is-layout-flow) > *{
	margin-block-start: var(--wp--preset--spacing--50);
	margin-block-end: 0;
}

:root :where(.wp-block-columns-is-layout-constrained) > :first-child{
	margin-block-start: 0;
}

:root :where(.wp-block-columns-is-layout-constrained) > :last-child{
	margin-block-end: 0;
}

:root :where(.wp-block-columns-is-layout-constrained) > *{
	margin-block-start: var(--wp--preset--spacing--50);
	margin-block-end: 0;
}

:root :where(.wp-block-columns-is-layout-flex){
	gap: var(--wp--preset--spacing--50);
}

:root :where(.wp-block-columns-is-layout-grid){
	gap: var(--wp--preset--spacing--50);
}

:root :where(.wp-block-columns.is-style-section-1){
	background-color: var(--wp--preset--color--accent-5);
	color: var(--wp--preset--color--contrast);
}

:root :where(.wp-block-columns.is-style-section-2){
	background-color: var(--wp--preset--color--accent-2);
	color: var(--wp--preset--color--contrast);
}

:root :where(.wp-block-columns.is-style-section-3){
	background-color: var(--wp--preset--color--accent-1);
	color: var(--wp--preset--color--contrast);
}

:root :where(.wp-block-columns.is-style-section-4){
	background-color: var(--wp--preset--color--accent-3);
	color: var(--wp--preset--color--accent-2);
}

:root :where(.wp-block-columns.is-style-section-5){
	background-color: var(--wp--preset--color--contrast);
	color: var(--wp--preset--color--base);
}