.blockera-settings-header {
	height: 150px;
	padding: 0 40px;
	margin-top: 20px;
	line-height: 120px;
	box-sizing: border-box;
	background-color: #ffffff;
	border-top: 3px solid var(--blockera-settings-primary-color);

	.blockera-settings-heading {
		font-size: 18px;
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		
		svg {
			color: var(--blockera-controls-primary-color);
			fill: currentColor;
		}

		.blockera-settings-header-version {
			font-size: 12px;
			color: rgba(0, 0, 0, 0.25);
		}
	}
}
