.blockera-block-4 {
	background-color: #f9b8ff;
	padding-top: 11px;
	padding-right: 11px;
	padding-bottom: 11px;
	padding-left: 11px;
}

.blockera-block-3 {
	background-color: #ffe5a8;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.blockera-block-2 {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.blockera-block-1 {
	background-color: #dbe8ff;
	border-color: #8db7ff;
	border-radius: 10px;
	border-width: 1px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.blockera-block-wrapper {
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.392), 18px);
	font-style: normal;
	font-weight: 600;
	line-height: 1.6;
}