
.blockera-block.blockera-block-1.wp-block-image :is(img:not([src=""]), svg:not(:empty)) {
	border-radius: 20px;
	aspect-ratio: 4/3;
	object-fit: cover;
}

.blockera-block.blockera-block-1.wp-block-image {
	margin-bottom: 24px;
}

.blockera-block.blockera-block-2.wp-block-image {
	background-color: #ffc8c8;
	overflow: visible;
}

.blockera-block.blockera-block-2 .has-border-color.wp-image-7139 {
	border-color: #37e6d4;
	border-style: dashed;
	border-width: 5px;
	border-radius: 25px;
	aspect-ratio: 1;
	width: 100px;
	height: 100px;
}

.blockera-block.blockera-block-2.wp-block-image :is(img:not([src=""]), svg:not(:empty)) {
	border: 5px dashed #37e6d4;
	border-radius: 25px;
	box-shadow: 10px 50px 30px 40px #c5eef0ab;
	filter: drop-shadow(50px 30px 40px #cccccc);
	width: 100px;
	min-width: 80px;
	max-width: 120px !important;
	height: 100px;
	min-height: 80px;
	max-height: 120px;
	aspect-ratio: 1;
}

.blockera-block.blockera-block-2:is(.has-custom-border, :not(.has-custom-border)):is(figure) figcaption.wp-element-caption {
	color: #ff3737;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-2.wp-block-image :is(img:not([src=""]), svg:not(:empty)) {
	max-width: 250px !important;
	width: 100%;
	height: auto;
}


}

.blockera-block.blockera-block-3.wp-block-image :is(img:not([src=""]), svg:not(:empty)) {
	border-radius: 20px;
	width: 300px;
	aspect-ratio: 4/3;
	object-fit: cover;
}

.blockera-block.blockera-block-3.wp-block-image {
	transition: all 500ms ease 0ms;
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
}

.blockera-block.blockera-block-3:is(.has-custom-border, :not(.has-custom-border)):is(figure) figcaption.wp-element-caption {
	color: #ff0101;
	background-color: #fae6e6;
	text-align: center;
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	order: -1;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-3.wp-block-image :is(img:not([src=""]), svg:not(:empty)) {
	width: 200px;
	aspect-ratio: 1;
}

.blockera-block.blockera-block-3:is(.has-custom-border, :not(.has-custom-border)):is(figure) figcaption.wp-element-caption {
	order: 100;
}


}

.blockera-block.blockera-block-3.wp-block-image :is(img:not([src=""]):hover, svg:not(:empty)):hover {
	border-radius: 100px;
	border: 2px solid #ff4c4c;
}

p.blockera-block.blockera-block-4 {
	background-color: #d8e0ff;
}

.blockera-block.blockera-block-4 .wp-image-30 {
	width: 100px;
}