.blockera-block.blockera-block-1.wp-block-post-featured-image {
	aspect-ratio: 9/16;
	width: 300px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background-color: #ffd7d7;
	transition: all 500ms ease 0ms;
	object-fit: cover;
}

.blockera-block.blockera-block-1.wp-block-post-featured-image img {
	border: 3px solid #ff0000;
	border-radius: 50px;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-1.wp-block-post-featured-image {
		aspect-ratio: 1;
		width: 200px;
		display: flex !important;
		flex-direction: column;
		gap: 20px;
	};
}

.blockera-block.blockera-block-1.wp-block-post-featured-image img:hover {
	border-radius: 10px;
}

.blockera-block.blockera-block-1.wp-block-post-featured-image::before {
	font-size: 16px !important;
	background-color: #00000038;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	display: inline-block !important;
	content: "Before";
}

.blockera-block.blockera-block-1.wp-block-post-featured-image img::before {
	border-radius: 10px;
}

.blockera-block.blockera-block-1.wp-block-post-featured-image::after {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #00000033;
	display: inline-block !important;
	font-size: 16px !important;
	content: "After";
}

.blockera-block.blockera-block-1.wp-block-post-featured-image img::after {
	border-radius: 10px;
}

.blockera-block.blockera-block-1 img.has-border-color.wp-post-image {
	border-color: #ff0000;
	border-radius: 50px;
	border-width: 3px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-2.wp-block-post-featured-image img {
		box-shadow: 10px 10px 0 0 #ff8d8dab;
		border-radius: 10px;
	}

	.blockera-block.blockera-block-2.wp-block-post-featured-image {
		margin-top: 20px;
		position: relative;
		z-index: 2;
		opacity: 80%;
	};
}

.blockera-block.blockera-block-2 img.attachment-post-thumbnail.size-post-thumbnail {
	object-fit: cover;
}