.blockera-block-1 {
	background-color: #ffcccc;
	border-color: #ff2e2e;
	border-radius: 10px;
	border-width: 2px;
	padding-top: 20px;
	padding-right: 50px;
	padding-bottom: 20px;
	padding-left: 50px;
}

.blockera-block-wrapper {
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.588), 20px);
	line-height: 1.5;
}