.blockera-control-value-addon-popover-item {
	display: flex;
	height: 30px;
	flex-direction: row;
	gap: 8px;
	padding: 0 12px;
	border: 1px solid var(--blockera-controls-border-color-soft);
	border-radius: 2px;
	align-items: center;
	cursor: pointer;
	transition: var(--blockera-controls-transition);
	color: var(--blockera-controls-color);
	font-size: 12px;
	letter-spacing: -0.2px;
	background: #ffffff;

	&:hover {
		border-color: var(--blockera-controls-border-color-hover);
	}

	&.is-active-item {
		color: var(--blockera-controls-primary-color);
		border-color: var(--va-border-color, var(--blockera-controls-primary-color));

		.blockera-control-item-value,
		.blockera-control-item-icon {
			opacity: 1;
		}
	}

	&.item-status-pro,
	&.item-status-soon {
		border-color: #e1e1e1;
		color: #b4b4b4;

		& > * {
			opacity: 0.4 !important;
		}
	}

	.blockera-control-item-icon {
		pointer-events: none;
		display: flex;
		align-items: center;
		opacity: 0.5;

		svg {
			fill: currentColor;
		}
	}

	.blockera-control-item-name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		pointer-events: none;
	}

	.blockera-control-item-value {
		margin-left: auto;
		opacity: 0.5;
		font-size: 10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		pointer-events: none;
		max-width: min(50%, 120px);
	}
}
