
.blockera-block.blockera-block-1 .wp-block-embed__wrapper {
	background-color: #ffcccc;
	border: 7px solid #ff4343;
	border-radius: 10px;
}

.blockera-block.blockera-block-1 figcaption {
	background-color: #68ffe1;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-top: 19px;
	text-align: center;
}

.blockera-block.blockera-block-1.wp-block-embed__wrapper:hover {
	border: 7px solid #0fcdf3;
}

.blockera-block.blockera-block-2 .wp-block-embed__wrapper {
	border: 10px solid #2ec211;
	width: 400px;
	aspect-ratio: 1;
	object-fit: fill;
}

.blockera-block.blockera-block-2.wp-block-embed {
	display: flex;
	gap: 30px;
	padding-right: 10px;
	padding-left: 60px;
}

.blockera-block.blockera-block-2 figcaption {
	text-align: center;
	color: #2cc210;
	font-weight: 600;
	font-style: normal;
	background-color: #dbfac2;
}

@media screen and (max-width: 478px) {
	.blockera-block.blockera-block-2.wp-block-embed {
	padding-right: 10px;
	padding-left: 0;
	flex-direction: column;
	gap: 50px;
}

.blockera-block.blockera-block-2 figcaption {
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
	border-radius: 80px;
}


}

.blockera-block.blockera-block-2.wp-block-embed__wrapper:hover {
	border: 7px solid #0fcdf3;
}

.blockera-block.blockera-block-3 .wp-block-embed__wrapper {
	background-color: #d7d7d7;
	border: 7px solid #808080;
	border-radius: 10px;
	width: 400px;
	height: 200px;
	aspect-ratio: 4/3;
	object-fit: contain;
}

.blockera-block.blockera-block-3.wp-block-embed {
	opacity: 50%;
	position: relative;
}

.blockera-block.blockera-block-3 figcaption {
	background-color: #68ffe1;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-top: 19px;
	margin-right: auto !important;
	margin-left: auto !important;
	text-align: center;
	display: inline-block;
	border-radius: 5px;
	font-weight: 700;
	font-style: normal;
}

.blockera-block.blockera-block-3.wp-block-embed__wrapper:hover {
	border: 7px solid #0fcdf3;
}