:root :where(.wp-block-quote){
	border-color: currentColor;
	border-width: 0 0 0 2px;
	border-style: solid;
	font-size: var(--wp--preset--font-size--large);
	font-weight: 300;
	margin-right: 0;
	margin-left: 0;
	padding-top: var(--wp--preset--spacing--30);
	padding-right: var(--wp--preset--spacing--40);
	padding-bottom: var(--wp--preset--spacing--30);
	padding-left: var(--wp--preset--spacing--40);
}

:root :where(.wp-block-quote-is-layout-flow) > :first-child{
	margin-block-start: 0;
}

:root :where(.wp-block-quote-is-layout-flow) > :last-child{
	margin-block-end: 0;
}

:root :where(.wp-block-quote-is-layout-flow) > *{
	margin-block-start: var(--wp--preset--spacing--30);
	margin-block-end: 0;
}

:root :where(.wp-block-quote-is-layout-constrained) > :first-child{
	margin-block-start: 0;
}

:root :where(.wp-block-quote-is-layout-constrained) > :last-child{
	margin-block-end: 0;
}

:root :where(.wp-block-quote-is-layout-constrained) > *{
	margin-block-start: var(--wp--preset--spacing--30);
	margin-block-end: 0;
}

:root :where(.wp-block-quote-is-layout-flex){
	gap: var(--wp--preset--spacing--30);
}

:root :where(.wp-block-quote-is-layout-grid){
	gap: var(--wp--preset--spacing--30);
}

:root :where(.wp-block-quote.is-style-plain){
	border-radius: 0;
	border-color: transparent;
	border-width: 0;
	border-style: none;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

:root :where(.wp-block-quote.has-text-align-right ){
	border-width: 0 2px 0 0;
}

:root :where(.wp-block-quote.has-text-align-center ){
	border-width: 0;
	border-inline: 0;
	padding-inline: 0;
}