.blockera-block.blockera-block-00zhzi.wp-block-group {
	background-color: #e8e8e8;
	display: flex !important;
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
	height: 200px;
	padding: 20px 20px 20px 20px;
}

html:root body :where(.blockera-block.blockera-block-00zhzi) :where(p) {
	background-color: #ffe0e0;
}

.blockera-block.blockera-block-3vhhal.wp-block-group {
	background-color: #e8e8e8;
	display: flex !important;
	flex-direction: column;
	align-items: flex-end !important;
	justify-content: flex-end !important;
	height: 300px;
	padding: 20px 20px 20px 20px;
}

html:root body :where(.blockera-block.blockera-block-3vhhal) :where(p) {
	background-color: #ffe0e0;
}

.blockera-block.blockera-block-221opd.wp-block-group {
	background-color: #e8e8e8;
	display: flex !important;
	flex-direction: row;
	align-items: center !important;
	justify-content: flex-start !important;
	height: 200px;
	padding: 20px 20px 20px 20px;
}

html:root body :where(.blockera-block.blockera-block-221opd) :where(p) {
	background-color: #ffe0e0;
}

.blockera-block.blockera-block-287h15.wp-block-group {
	background-color: #e8e8e8;
	display: flex !important;
	flex-direction: row;
	align-items: flex-end !important;
	justify-content: center !important;
	height: 200px;
	padding: 20px 20px 20px 20px;
}

html:root body :where(.blockera-block.blockera-block-287h15) :where(p) {
	background-color: #ffe0e0;
}

.blockera-block.blockera-block-559abm.wp-block-group {
	background-color: #e8e8e8;
	display: flex !important;
	flex-direction: column;
	align-items: center !important;
	justify-content: flex-end !important;
	height: 300px;
	padding: 20px 20px 20px 20px;
}

html:root body :where(.blockera-block.blockera-block-559abm) :where(p) {
	background-color: #ffe0e0;
}

.blockera-block.blockera-block-sc0wye.wp-block-group {
	background-color: #e8e8e8;
	display: flex !important;
	flex-direction: row;
	align-items: flex-start !important;
	justify-content: flex-start !important;
	height: 200px;
	padding: 20px 20px 20px 20px;
}

html:root body :where(.blockera-block.blockera-block-sc0wye) :where(p) {
	background-color: #ffe0e0;
}

.blockera-block.blockera-block-ulziiw.wp-block-group {
	background-color: #e8e8e8;
	display: flex !important;
	flex-direction: row;
	align-items: flex-start !important;
	justify-content: center !important;
	height: 200px;
	padding: 20px 20px 20px 20px;
}

html:root body :where(.blockera-block.blockera-block-ulziiw) :where(p) {
	background-color: #ffe0e0;
}

.blockera-block.blockera-block-hsxrpi.wp-block-group {
	background-color: #e8e8e8;
	display: flex !important;
	flex-direction: row;
	align-items: flex-start !important;
	justify-content: flex-end !important;
	height: 200px;
	padding: 20px 20px 20px 20px;
}

html:root body :where(.blockera-block.blockera-block-hsxrpi) :where(p) {
	background-color: #ffe0e0;
}

.blockera-block.blockera-block-b4rr97.wp-block-group {
	background-color: #e8e8e8;
	display: flex !important;
	flex-direction: row;
	align-items: center !important;
	justify-content: flex-end !important;
	height: 200px;
	padding: 20px 20px 20px 20px;
}

html:root body :where(.blockera-block.blockera-block-b4rr97) :where(p) {
	background-color: #ffe0e0;
}

.blockera-block.blockera-block-xjc1vg.wp-block-group {
	background-color: #e8e8e8;
	display: flex !important;
	flex-direction: row;
	align-items: flex-end !important;
	justify-content: flex-start !important;
	height: 200px;
	padding: 20px 20px 20px 20px;
}

html:root body :where(.blockera-block.blockera-block-xjc1vg) :where(p) {
	background-color: #ffe0e0;
}

.blockera-block.blockera-block-t7uaym.wp-block-group {
	background-color: #e8e8e8;
	display: flex !important;
	flex-direction: row;
	align-items: flex-end !important;
	justify-content: flex-end !important;
	height: 200px;
	padding: 20px 20px 20px 20px;
}

html:root body :where(.blockera-block.blockera-block-t7uaym) :where(p) {
	background-color: #ffe0e0;
}

.blockera-block.blockera-block-qx5hkl.wp-block-group {
	background-color: #e8e8e8;
	display: flex !important;
	flex-direction: column;
	align-items: flex-start !important;
	justify-content: flex-start !important;
	height: 300px;
	padding: 20px 20px 20px 20px;
}

html:root body :where(.blockera-block.blockera-block-qx5hkl) :where(p) {
	background-color: #ffe0e0;
}

.blockera-block.blockera-block-vp0mzh.wp-block-group {
	background-color: #e8e8e8;
	display: flex !important;
	flex-direction: column;
	align-items: center !important;
	justify-content: flex-start !important;
	height: 300px;
	padding: 20px 20px 20px 20px;
}

html:root body :where(.blockera-block.blockera-block-vp0mzh) :where(p) {
	background-color: #ffe0e0;
}

.blockera-block.blockera-block-l5x7x2.wp-block-group {
	background-color: #e8e8e8;
	display: flex !important;
	flex-direction: column;
	align-items: flex-end !important;
	justify-content: flex-start !important;
	height: 300px;
	padding: 20px 20px 20px 20px;
}

html:root body :where(.blockera-block.blockera-block-l5x7x2) :where(p) {
	background-color: #ffe0e0;
}

.blockera-block.blockera-block-j3d7ip.wp-block-group {
	background-color: #e8e8e8;
	display: flex !important;
	flex-direction: column;
	align-items: flex-start !important;
	justify-content: center !important;
	height: 300px;
	padding: 20px 20px 20px 20px;
}

html:root body :where(.blockera-block.blockera-block-j3d7ip) :where(p) {
	background-color: #ffe0e0;
}

.blockera-block.blockera-block-kei5se.wp-block-group {
	background-color: #e8e8e8;
	display: flex !important;
	flex-direction: column;
	align-items: center !important;
	justify-content: center !important;
	height: 300px;
	padding: 20px 20px 20px 20px;
}

html:root body :where(.blockera-block.blockera-block-kei5se) :where(p) {
	background-color: #ffe0e0;
}

.blockera-block.blockera-block-rdmb5v.wp-block-group {
	background-color: #e8e8e8;
	display: flex !important;
	flex-direction: column;
	align-items: flex-end !important;
	justify-content: center !important;
	height: 300px;
	padding: 20px 20px 20px 20px;
}

html:root body :where(.blockera-block.blockera-block-rdmb5v) :where(p) {
	background-color: #ffe0e0;
}

.blockera-block.blockera-block-dc422a.wp-block-group {
	background-color: #e8e8e8;
	display: flex !important;
	flex-direction: column;
	align-items: flex-start !important;
	justify-content: flex-end !important;
	height: 300px;
	padding: 20px 20px 20px 20px;
}

html:root body :where(.blockera-block.blockera-block-dc422a) :where(p) {
	background-color: #ffe0e0;
}