name: Blockera Plugin Checkup

on:
    pull_request:
        types: [opened, synchronize, ready_for_review]

    workflow_dispatch:

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
    # The concurrency group contains the workflow name and the branch name for pull requests
    # or the commit hash for any other events.
    group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
    cancel-in-progress: true

jobs:
    test_wp_plugin_check:
        name: WordPress (PCP)
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Setup Node.js and install dependencies
              uses: ./.github/setup-node

            - name: Setup PHP Composer install dependencies
              uses: ./.github/setup-php
              with:
                  composer-options: '--no-dev -o --apcu-autoloader -a'

            - name: Build Plugin Zip File
              uses: ./.github/build-plugin-zip

            - name: Extract blockera.zip to build directory
              run: |
                  unzip blockera.zip -d build
                  rm -rf blockera.zip

            - name: Test With WordPress Plugin Check (PCP)
              uses: wordpress/plugin-check-action@v1
              with:
                  build-dir: './build'
                  exclude-directories: 'packages/freemius-sdk'
                  categories: |
                      general
                      security
                      performance
                      plugin_repo
                      accessibility

    test_php_security_check:
        name: PHP Security Check
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Cache mechanism
              uses: actions/cache@v2
              with:
                  path: ~/.symfony/cache
                  key: db

            - name: Run PHP Security Check
              uses: symfonycorp/security-checker-action@v5
